{{define "main"}}
<!-- page-title -->
<div class="cmt-page-title-row">
    <div class="cmt-page-title-row-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-heading">
                        <h2 class="title"> Cardiac Rhythm Disorders</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-wrapper-inner">
                        <span>
                            <a title="Homepage" href="index.html">Home</a>
                        </span>
                        <span> Cardiac Rhythm Disorders</span>
                    </div>
                </div>
            </div>
        </div>
    </div>                   
</div>
<!-- page-title end -->

<!-- site-main start -->
<div class="site-main">

    <!-- section -->
    <section class="cmt-row pb-30 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content-area">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="cmt_single_image-wrapper">
                                            <img class="img-fluid" src="images/single-img-12.png" width="570" height="436" alt="single-img-12.png">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 align-self-center">
                                        <div class="res-991-mt-30">
                                            <h3 class="fs-26">The Heart care Heart Hospital latest & Best Loream Ipsum Technology.</h3>
                                            <p class="pt-10">You are nothing witout your set eyes care set injury magselit, do eiusmod tempor incididunt or ut labore areas dise eyecare dolore aliqua. Ut enim ad et minim veniam.</p>
                                            <div class="row pt-10">
                                                <div class="col-sm-6">
                                                    <ul class="cmt-list list-inline">
                                                        <li class="cmt-list-li-content">
                                                            <span><i class="icon-ok"></i></span>
                                                            <span>Contrary to ppular belief, text</span>
                                                        </li>
                                                        <li class="cmt-list-li-content">
                                                            <span><i class="icon-ok"></i></span>
                                                            <span>There ages of Lorem Ipsm availa</span>
                                                        </li>
                                                        <li class="cmt-list-li-content">
                                                            <span><i class="icon-ok"></i></span>
                                                            <span>The standard ce oducd below</span>
                                                        </li>
                                                        <li class="cmt-list-li-content">
                                                            <span><i class="icon-ok"></i></span>
                                                            <span>Sed ut peratem accntium dolo</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-6">
                                                    <ul class="cmt-list list-inline">
                                                        <li class="cmt-list-li-content">
                                                            <span><i class="icon-ok"></i></span>
                                                            <span>Righteous indignation men</span>
                                                        </li>
                                                        <li class="cmt-list-li-content">
                                                            <span><i class="icon-ok"></i></span>
                                                            <span>There ages of Lorem Ipsm availa</span>
                                                        </li>
                                                        <li class="cmt-list-li-content">
                                                            <span><i class="icon-ok"></i></span>
                                                            <span>The standard ce oducd below</span>
                                                        </li>
                                                        <li class="cmt-list-li-content">
                                                            <span><i class="icon-ok"></i></span>
                                                            <span>Sed ut peratem accntium dolo</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-25">
                                    <h3 class="fs-24 mb-10">Problem statement</h3>
                                    <p>A heart arrhythmia (uh-RITH-me-uh) is an irregular heartbeat. Heart rhythm problems (heart arrhythmias) occur when the electrical signals that coordinate the heart's beats don't work properly. The faulty signaling causes the heart to beat too fast (tachycardia), too slow (bradycardia) or irregularly.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mt-10">
                                    <h3 class="fs-24 mb-10">Symptoms</h3>
                                    <p>"Heart arrhythmias may feel like a fluttering or racing heart and may be harmless. However, some heart arrhythmias may cause bothersome — sometimes even life-threatening<br>
                                        A fluttering in the chest<br>
                                        A racing heartbeat (tachycardia)<br>
                                        A slow heartbeat (bradycardia)<br>
                                        Chest pain<br>
                                        Shortness of breath"</p>
                                </div>
                                <div class="mt-10">
                                    <h3 class="fs-24 mb-10">When to see a doctor?</h3>
                                    <p>If you feel like your heart is beating too fast or too slowly, or it's skipping a beat, make an appointment to see a doctor. Seek immediate medical help if you have shortness of breath, weakness, dizziness, lightheadedness, fainting or near fainting, and chest pain or discomfort</p>
                                </div>
                                <div class="mt-10">
                                    <h3 class="fs-24 mb-10">Make an appointment</h3>
                                    <p>If you experience any of these symptoms, call us immediately. Every minute you spend without treatment increases your risk of long-term damage</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end-->

    <!-- procedure-section -->
    <section class="cmt-row procedure-section-3 bg-base-grey bg-img4 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cmt-processbox-wrapper">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="cmt-processbox">
                                    <div class="cmt-box-icon">
                                        <div class="cmt-process-icon bg-base-white">
                                            <div class="cmt-icon">
                                                <i class="flaticon-healthcare"></i>
                                            </div>
                                        </div>
                                        <span class="number"></span>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h3>Surf Medipluse Website</h3>
                                        </div>
                                        <div class="featured-desc">
                                            <p>Search us on your browser & get all the in formations of our hospital</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="cmt-processbox">
                                    <div class="cmt-box-icon">
                                        <div class="cmt-process-icon bg-base-white">
                                            <div class="cmt-icon">
                                                <i class="flaticon-vaccine"></i>
                                            </div>
                                        </div>
                                        <span class="number"></span>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h3>Experts’ Treatment</h3>
                                        </div>
                                        <div class="featured-desc">
                                            <p>Expertise treatments by our expert team and  be forever healthy</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="cmt-processbox active">
                                    <div class="cmt-box-icon">
                                        <div class="cmt-process-icon bg-base-white">
                                            <div class="cmt-icon">
                                                <i class="flaticon-hospital"></i>
                                            </div>
                                        </div>
                                        <span class="number"></span>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h3>Book An Appointment</h3>
                                        </div>
                                        <div class="featured-desc">
                                            <p>Regarding your health issue, book an appointment with our experts</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- procedure-section end-->

    <!-- section -->
    <section class="cmt-row pt-70 res-991-pt-50 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content-area">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6 align-self-end">
                                        <div class="">
                                            <div class="">
                                                <h3 class="fs-26">WE ARE SEAMLESSLY MERGE TWO KEY COMPONENTS FRIENDLY NATURE LATEST TECHNOLOGY.</h3>
                                                <p class="pt-10">You are nothing witout your set eyes care set injury magselit, do eiusmod tempor incididunt or ut labore areas dise eyecare</p>
                                                <p>Medipluse cardio hospital is committed for providing quality patient care, diagnosis and treatment for wide range of complexand chronic diseases. A commitment to highest patient care services</p>
                                            </div>
                                            <div class="row pt-30">
                                                <div class="col-md-6 res-767-mb-30">
                                                    <div class="featured-icon-box icon-align-before-content icon-ver_align-top style8">
                                                        <div class="featured-icon">
                                                            <div class="cmt-icon cmt-icon_element-color-skincolor">
                                                                <i class="flaticon-cardiology"></i>
                                                            </div>
                                                        </div>
                                                        <div class="featured-content">
                                                            <div class="featured-title">
                                                                <h3><a href="services-1.html">HEART SURGERY</a></h3>
                                                            </div>
                                                            <div class="featured-desc">
                                                                <p>Heart symptoms call us for immediate</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="featured-icon-box icon-align-before-content icon-ver_align-top style8">
                                                        <div class="featured-icon">
                                                            <div class="cmt-icon cmt-icon_element-color-skincolor">
                                                                <i class="flaticon-microsurgery"></i>
                                                            </div>
                                                        </div>
                                                        <div class="featured-content">
                                                            <div class="featured-title">
                                                                <h3><a href="services-1.html">HEART TRANSPLATE</a></h3>
                                                            </div>
                                                            <div class="featured-desc">
                                                                <p>Heart is get replaced with healthier</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 res-991-pt-30">
                                        <div class="cmt_single_image-wrapper">
                                            <img class="img-fluid" src="images/single-img-13.png" width="570" height="436" alt="single-img-13.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end-->

</div><!-- site-main end-->
{{end}}