{{with .Site.Data.aboutcardiology}}
{{if .enable}}
<!-- blank section -->
<section class="cmt-row blank-section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-30">
                <!-- section title -->
                <div class="section-title title-style-center_text">
                    <div class="title-header">
                        <h3>About Cardiology</h3>
                        <span></span>
                        <h2 class="title">Take the road to a healthy<br>heart Beat</h2>
                    </div>
                </div><!-- section title end -->
            </div>
        </div>
    </div>
</section>
<!-- blank section end -->

<!-- about section -->
<section class="cmt-row about-section bg-img1 bg-base-grey clearfix">
    <div class="container spacing-3">
        <div class="row g-0 res-991-plr-15">
            <div class="col-xl-6 col-lg-6">
                <div class="row g-0">
                    <div class="col-md-12 res-767-mb-15">
                        <div class="cmt-bg cmt-col-bgimage-yes col-bg-img-one">
                            <div class="cmt-col-wrapper-bg-layer cmt-bg-layer"></div>
                            <div class="layer-content">
                                <div class="row g-0">
                                    <div class="col-md-6"><div class="spacing-1"></div></div>
                                    <div class="col-md-6"><div class="spacing-1"></div></div>
                                    <div class="col-md-6">
                                        <div class="spacing-2">
                                            <h3><a href="/about">The Heart care Heart<br>Hospital</a></h3>
                                        </div>
                                    </div>
                                    <div class="col-md-6"><div class="spacing-1"></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="row g-0">
                            <div class="col-md-12 res-767-mb-15">
                                <div class="featured-icon-box icon-align-top-content style3 bg-base-dark">
                                    <div class="featured-icon">
                                        <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-size-xl cmt-icon_element-color-skincolor">
                                            <i class="flaticon-hospital"></i>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-desc">
                                            <p>A cardiologists can help you reduce risk. Improve overall heart health through nutrition changes.</p>
                                        </div>
                                    </div>
                                    <div class="featured-bottom">
                                        <a class="cmt-btn btn-inline cmt-btn-size-md cmt-btn-color-skin" href="about" tabindex="0">Read More!</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12"><div class="spacing-1"></div></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row g-0">
                            <div class="col-md-12 res-767-mb-15">
                                <div class="cmt-bg cmt-col-bgimage-yes col-bg-img-three">
                                    <div class="cmt-col-wrapper-bg-layer cmt-bg-layer"></div>
                                    <div class="layer-content">
                                        <div class="row g-0">
                                            <div class="col-md-12"><div class="spacing-1"></div></div>
                                            <div class="col-md-12">
                                                <div class="spacing-2">
                                                    <h3><a href="about">6 new ways to make a difference</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="row g-0">
                    <div class="col-md-6 bg-base-dark res-767-mb-15">
                        <div class="bg-base-dark disc-inst">
                            <p>30<sup>%</sup><span class="offervtext">off!</span></p>
                            <h3>The <span class="text-base-skin">greatest </span>wealth is healthy <span class="text-base-skin">heart</span></h3>
                            <div class="">
                                <a class="cmt-btn btn-inline cmt-btn-size-md cmt-btn-color-skin" href="contact" tabindex="0">Make an appointment</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 res-767-mb-15">
                        <div class="featured-icon-box icon-align-top-content style3 bg-base-skin">
                            <div class="featured-icon">
                                <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-size-xl cmt-icon_element-color-skincolor">
                                    <i class="flaticon-diagnosis"></i>
                                </div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-desc">
                                    <p>1,500 heart surgery performs more than 6,400 catheterization procedures every year</p>
                                </div>
                            </div>
                            <div class="featured-bottom">
                                <a class="cmt-btn btn-inline cmt-btn-size-md cmt-btn-color-skin" href="about" tabindex="0">Read More!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-md-12 res-767-mb-15">
                        <div class="cmt-bg cmt-col-bgimage-yes col-bg-img-two">
                            <div class="cmt-col-wrapper-bg-layer cmt-bg-layer"></div>
                            <div class="layer-content">
                                <div class="row g-0">
                                    <div class="col-md-6"><div class="spacing-1"></div></div>
                                    <div class="col-md-6"><div class="spacing-1"></div></div>
                                    <div class="col-md-6">
                                        <div class="spacing-2">
                                            <h3><a href="about">A General cardiology <br>consultation</a></h3>
                                        </div>
                                    </div>
                                    <div class="col-md-6"><div class="spacing-1"></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-md-6 res-767-mb-15">
                        <div class="featured-icon-box icon-align-top-content style3 bg-base-skin">
                            <div class="featured-icon">
                                <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-size-xl cmt-icon_element-color-skincolor">
                                    <i class="flaticon-heart-disease"></i>
                                </div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-desc">
                                    <p>Do what you love! Funddred raise when and how you like. When we beatas so much together.</p>
                                </div>
                            </div>
                            <div class="featured-bottom">
                                <a class="cmt-btn btn-inline cmt-btn-size-md cmt-btn-color-skin" href="about" tabindex="0">Read More!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 align-self-end res-767-mb-15">
                        <div class="stethoscope-img">
                            <div class="cmt_single_image-wrapper">
                                <img width="362" height="208" class="img-fluid" src="images/single-img-01.png" alt="single-01">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section end -->

<!-- progressbar section -->
<section class="cmt-row progressbar-section clearfix">
    <div class="container spacing-4">
        <div class="row g-0">
            <div class="col-xl-6 col-lg-6">
                <div class="cmt-bg cmt-col-bgcolor-yes cmt-left-span bg-base-white">
                    <div class="cmt-col-wrapper-bg-layer cmt-bg-layer"></div>
                    <div class="layer-content">
                        <!-- section title -->
                        <div class="section-title">
                            <div class="title-header">
                                <h2 class="title">trust Raghu Kishore Galla for Your loved Ones</h2>
                            </div>
                            <div class="title-desc">
                                <p>Dr.Raghu Kishore Galla is committed for providing quality patient care, diagnosis and treatment for wide range of complexand chronic diseases. A commitment to highest patient care services </p>
                            </div>
                        </div>
                        <!-- section title end -->
                        <div class="row pt-25">
                            <div class="col-md-6 col-sm-6">
                                <div class="featured-icon-box icon-align-before-content icon-ver_align-top style4 res-575-mb-30">
                                    <div class="featured-icon">
                                        <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-size-lg cmt-icon_element-color-skincolor">
                                            <i class="flaticon-heart-3"></i>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h3><a href="contact">HEART SURGERY</a></h3>
                                        </div>
                                        <div class="featured-desc">
                                            <p>Heart symptoms call us for immediate assistance</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="featured-icon-box icon-align-before-content icon-ver_align-top style4">
                                    <div class="featured-icon">
                                        <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-size-lg cmt-icon_element-color-skincolor">
                                            <i class="flaticon-heart-6"></i>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h3><a href="contact">HEART TRANSPLATE</a></h3>
                                        </div>
                                        <div class="featured-desc">
                                            <p>Heart is get replaced with healthier donor’s heart</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 pl-50 res-991-pl-0">
                <div class="cmt_single_image-wrapper">
                    <img width="547" height="626" class="img-fluid" src="images/single-img-02.jpg" alt="single-02">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- progressbar section end -->
{{end}}
{{end}}