{{with .Site.Data.blog}}
{{if .enable}}
<!-- blog section -->
<section class="cmt-row blog-section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- section title -->
                <div class="section-title title-style-center_text">
                    <div class="title-header">
                        <h3>{{.title}}</h3>
                        <span></span>
                        <h2 class="title">An Everything Cardio Heart<br>Knowledge</h2>
                    </div>
                </div><!-- section title end -->
            </div>
        </div>
        <div class="row pt-30">
            <div class="col-lg-12">
                <div class="featured-imagebox featured-imagebox-blog style1">
                    <div class="featured-thumbnail">
                        <img class="img-fluid" width="1170" height="624" src="{{.image}}" alt="blog-01.jpg">
                    </div>
                    <div class="featured-content">
                        <div class="ser_category">Special surgeon</div>
                        <div class="featured-title">
                            <h3><a href="blog-single.html">How to take care of Heart?</a></h3>
                        </div>
                        <div class="featured-desc">
                            <p>The medical Experts carefully Transplant the Heart You are nothing without your set eyes care set injury magna consectr elit, do eiusmod tempor incididu...</p>
                        </div>
                        <div class="featured-bottom">
                            <a class="cmt-btn btn-inline cmt-icon-btn-right cmt-btn-size-md cmt-btn-color-white" href="blog-single.html">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-xl-5 col-lg-12">
                <div class="featured-imagebox featured-imagebox-blog style2">
                    <div class="featured-content">
                        <div class="ser_category">Cardio Consultancy</div>
                        <div class="featured-title">
                            <h3><a href="blog-single.html">5 Ways to Overcome Your Stumbling Blocks a Healthy Heart</a></h3>
                        </div>
                        <div class="featured-bottom">
                            <a class="cmt-btn btn-inline cmt-icon-btn-right cmt-btn-size-md cmt-btn-color-dark" href="blog-single.html">View More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-12">
                <div class="featured-imagebox featured-imagebox-blog style3">
                    <div class="row g-0">
                        <div class="col-md-6">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" width="370" height="360" src="{{.image1}}" alt="blog-03.jpg">
                            </div>
                        </div>
                        <div class="col-md-6 align-self-center">
                            <div class="featured-content">
                                <div class="ser_category">Heart Transplant</div>
                                <div class="featured-title">
                                    <h3><a href="blog-single.html">Can depression increase your risk for heart disease ?</a></h3>
                                </div>
                                <div class="featured-desc">
                                    <p>The medical Experts carefully Transplant the Heart You are nothing without your set eyes care </p>
                                </div>
                                <div class="featured-bottom">
                                    <a class="cmt-btn btn-inline cmt-icon-btn-right cmt-btn-size-md cmt-btn-color-dark" href="blog-single.html">View More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog section end-->
{{end}}
{{end}}