<!-- client section -->
<div class="cmt-row padding_zero-section client-section-3 clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-6 pr-100 res-991-pr-0">
                <div class="row slick_slider pt-25 pb-25" data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "arrows":false, "autoplay":true, "infinite":true, "responsive": [{"breakpoint":1024,"settings":{"slidesToShow": 4}}, {"breakpoint":992,"settings":{"slidesToShow": 4}}, {"breakpoint":768,"settings":{"slidesToShow": 3}},{"breakpoint":576,"settings":{"slidesToShow": 2}},{"breakpoint":420,"settings":{"slidesToShow": 1}}]}'>
                    <div class="client-box style1">
                        <div class="cmt-client-logo-tooltip">
                            <div class="cmt-client-logo-tooltip-inner">
                                <div class="client-thumbnail">
                                    <img width="165" height="70" class="img-fluid" src="../images/client/client-01.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="client-box style1">
                        <div class="cmt-client-logo-tooltip">
                            <div class="cmt-client-logo-tooltip-inner">
                                <div class="client-thumbnail">
                                    <img width="165" height="70" class="img-fluid" src="../images/client/client-02.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="client-box style1">
                        <div class="cmt-client-logo-tooltip">
                            <div class="cmt-client-logo-tooltip-inner">
                                <div class="client-thumbnail">
                                    <img width="165" height="70" class="img-fluid" src="../images/client/client-03.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="client-box style1">
                        <div class="cmt-client-logo-tooltip">
                            <div class="cmt-client-logo-tooltip-inner">
                                <div class="client-thumbnail">
                                    <img width="165" height="70" class="img-fluid" src="../images/client/client-04.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="client-box style1">
                        <div class="cmt-client-logo-tooltip">
                            <div class="cmt-client-logo-tooltip-inner">
                                <div class="client-thumbnail">
                                    <img width="165" height="70" class="img-fluid" src="../images/client/client-05.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="client-box style1">
                        <div class="cmt-client-logo-tooltip">
                            <div class="cmt-client-logo-tooltip-inner">
                                <div class="client-thumbnail">
                                    <img width="165" height="70" class="img-fluid" src="../images/client/client-06.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- client section end-->