{{ $address := .Site.Params.address}}
<section class="contact" id="contact">
  <div class="container-fulid">
    <div class="row no-gutters">
      <div class="col-lg-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15224.279782903168!2d78.4424524!3d17.456366!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd2bbfe8d8186a66b!2sCygnet%20Superspeciality%20Clinics!5e0!3m2!1sen!2sin!4v1671795318259!5m2!1sen!2sin" width="950" height="575" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col-lg-6">
        <div class="contact-aria">
          <h3>
            {{ $address.address | safeHTML }}
          </h3>
          <ul>
            <li> <a href="mailto:{{ $address.email }}">{{ $address.email }}</a></li>
            <li><a href="tel:{{ $address.phone}}">{{ $address.phone }}</a></li>
          </ul>
          <p>
            {{ $address.openingDesc }}
          </p>
          <p>{{ $address.openingHours }}</p>
        </div>
      </div>
    </div>
  </div>
</section>