 <!-- footer start -->
 <footer class="footer widget-footer clearfix">
  <div class="first-footer bg-base-skin">
      <div class="container">
          <div class="row">
              <div class="col-lg-5 align-self-center">
                  <div class="featured-icon-box icon-align-before-content style5">
                      <div class="featured-content">
                          <div class="featured-title">
                              <h3>{{site.Params.address.address}}</h3>
                          </div>
                      </div>
                      <div class="featured-icon">
                          <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-size-md cmt-icon_element-color-white">
                              <i class="flaticon-map-1"></i>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-2">
                  <div class="featured-icon-box style6">
                      <div class="featured-icon">
                          <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-white">
                              <i class="flaticon-support"></i>
                          </div>
                      </div>
                      <div class="featured-content">
                          <div class="featured-title">
                              <h3>Call Us Now</h3>
                          </div>
                          <div class="featured-desc">
                              <p><a href="tel:+0(123)4567890">{{ site.Params.address.phone }}</a></p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-5 align-self-center">
                  <div class="featured-icon-box icon-align-before-content style5 reverse">                                
                      <div class="featured-icon">
                          <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-size-md cmt-icon_element-color-white">
                              <i class="flaticon-cardiology"></i>
                          </div>
                      </div>
                      <div class="featured-content">
                          <div class="featured-title">
                              <h3>24/7 emergency services</h3>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="second-footer bg-base-dark bg-img2">
      <div class="container">
          <div class="row g-0">
              <div class="col-sm-12 col-md-12 col-lg-6 pr-30 res-991-pr-0">
                  <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-10 widget-area">
                          <div class="widget widget_text clearfix">
                              <div class="footer-logo">
                                  <img id="footer-logo-img" class="img-fluid auto_size" height="55" width="185" src="{{site.Params.logo | absURL}}" alt="image">
                              </div>
                              <div class="textwidget widget-text">
                                  <p>State Nodal Officer, STEMI-Telangana at National Health mission & State program officer, eICU (electronic ICU) Program, Govt. of Telangana Consultant Interventional Cardiologist at KIMS Hospitals, Secunderabad</p>
                              </div>
                              <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                  <div class="cmt-section footer-subscribebox">
                                      <p>Subscribe for Latest Articles and Resources</p>
                                      <form id="subscribe-form" class="newsletter-form" method="post" action="index.html#" data-mailchimp="true">
                                          <div class="mailchimp-inputbox clearfix" id="subscribe-content">
                                              <p><input type="email" name="email" placeholder="Your email address.." required=""></p>
                                              <p><button class="submit cmt-btn cmt-icon-shap cmt-btn-size-md cmt-btn-shape-rounded cmt-btn-style-fill cmt-icon-btn-right cmt-btn-color-skincolor" type="submit">Go!</button></p>
                                          </div>
                                          <div id="subscribe-msg"></div>
                                      </form>
                                  </div>
                              </div> -->
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6">
                  <div class="row">
                      <!-- <div class="col-sm-6 col-md-6 col-lg-6 widget-area">
                          <div class="widget widget-recent-post with-title">
                              <h3 class="widget-title">Trending Posts</h3>
                              <ul class="widget-post cmt-recent-post-list">
                                  <li>
                                      <div class="post-img">
                                          <img src="images/post/01.jpg" alt="post/01">
                                      </div>
                                      <div class="post-detail">
                                          <span class="post-date">May 23, 2022</span>
                                          <a href="blog-single.html">Can depression increase your risk for heart disease?</a>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="post-img">
                                          <img src="images/post/02.jpg" alt="post/02">
                                      </div>
                                      <div class="post-detail">
                                          <span class="post-date">January 11, 2022</span>
                                          <a href="blog-single.html">Heart Transplant development solutions for great surgery</a>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                      </div> -->
                      <div class="col-sm-6 col-md-6 col-lg-6 widget-area">
                          <div class="widget widget_contact clearfix">
                              <h3 class="widget-title">Contact</h3>
                              <ul class="widget_contact_wrapper">
                                  <li><p><strong>Call : </strong><a href="tel:{{site.Params.address.phone}}">{{ site.Params.address.phone }}</a></p></li>
                                  <li><p><strong>Email : </strong><a href="mailto:{{ site.Params.address.email }}">{{ site.Params.address.email}}</a></p></li>     
                              </ul>
                          </div>
                      </div>
                      <div class="col-sm-6 col-md-6 col-lg-6 widget-area">
                        <div class="widget widget_contact clearfix">
                            <ul class="widget_contact_wrapper">
                                <li><p><strong>Locate : </strong>{{ site.Params.address.address }}</p></li>
                                  <li><p><strong>Timings : </strong>{{ site.Params.address.openingHours }}</p></li>
                            </ul>
                        </div>
                      </div>
                  </div>
                  <div class="cmt-horizontal_sep"></div>
                  <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 widget-area">
                          <div class="widget cmt-social-links-wrapper">
                              <ul class="social-icons">
                                  <li class="cmt-social-facebook"><a class=" tooltip-top" target="_blank" href="https://www.facebook.com/" rel="noopener"><i class="ti ti-facebook"></i></a></li>
                                  <li class="cmt-social-twitter"><a class=" tooltip-top" target="_blank" href="https://twitter.com/" rel="noopener"><i class="ti ti-twitter-alt"></i></a></li>
                                  <li class="cmt-social-instagram"><a class=" tooltip-top" target="_blank" href="https://www.instagram.com/" rel="noopener"><i class="ti ti-instagram"></i></a></li>
                                  <li class="cmt-social-pinterest"><a class=" tooltip-top" target="_blank" href="https://in.pinterest.com/" rel="noopener"><i class="ti ti-pinterest"></i></a></li>
                              </ul>
                          </div>
                      </div>  
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="bottom-footer-text bg-base-dark">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12">
                  <div class="copyright">
                      <span>Copyright © 2022 
                          <a target="_blank" href="https://two44software.com/"> Two44software </a>
                          . All rights reserved.              
                      </span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- footer end -->

<!-- back-to-top start -->
<a id="totop" href="#top">
    <i class="icon-angle-up"></i>
</a>
<!-- back-to-top end -->

<script src="{{"vendor/js/jquery.min.js" | absURL}}"></script>
<script src="{{"vendor/js/jquery-migrate-1.4.1.min.js" | absURL}}"></script>
<script src="{{"vendor/js/tether.min.js" | absURL}}"></script>
<script src="{{"vendor/js/bootstrap.min.js" | absURL}}"></script> 
<script src="{{"vendor/js/jquery.easing.js" | absURL}}"></script>    
<script src="{{"vendor/js/jquery-waypoints.js" | absURL}}"></script>    
<script src="{{"vendor/js/jquery-validate.js" | absURL}}"></script> 
<script src="{{"vendor/js/jquery.prettyPhoto.js" | absURL}}"></script>
<script src="{{"vendor/js/slick.min.js" | absURL}}"></script>
<script src="{{"vendor/js/numinate.min.js" | absURL}}"></script>
<script src="{{"vendor/js/imagesloaded.min.js" | absURL}}"></script>
<script src="{{"vendor/js/jquery-isotope.js" | absURL}}"></script>
<script src="{{"vendor/js/jquery.event.move.js" | absURL}}"></script>
<script src="{{"vendor/js/jquery.twentytwenty.js" | absURL}}"></script>
<script src="{{"vendor/js/circle-progress.min.js" | absURL}}"></script>
<script src="{{"vendor/js/main.js" | absURL}}"></script>

<!-- Revolution Slider -->
{{$slider1 :=  resources.Get "revolution/js/slider.js" }}
{{$slider2 :=  resources.Get "revolution/js/revolution.tools.min.js" }}
{{$slider3 :=  resources.Get "revolution/js/rs6.min.js" }}
<script src="{{$slider1.Permalink}}"></script>
<script src="{{$slider2.Permalink}}"></script>
<script src="{{$slider3.Permalink}}"></script>
<!-- Javascript end-->
