{{with .Site.Data.gallery}}
{{if .enable}}
<section class="gallery" id="gallery">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>{{ .title | safeHTML }}</h2>
          <p>
            {{.subtitle}}
          </p>
        </div>
      </div>
    </div>
    

    <!-- <div class="row">
      {{ range .galleryImage }}
        <div class="col-md-6">
          <div class="gallery-item">
            <a href="{{ .image | absURL }}" data-source="{{ .image | absURL }}"
                title="Exibhition 01">
                <img src="{{ .image | absURL }}" alt="gallery-images">
            </a>
          </div>
        </div>
      {{end }}
    </div> -->
    
    <div class="row">
      {{ range .galleryVideo }}
        <div class="col-md-6">
          <div class="gallery-item">
            <iframe width="560" height="315" src="{{.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      {{end }}
    </div>
  </div>
</section>
{{end}}
{{end}}