<!-- Mark up for Site Navigation Section-->
<!-- <header class="header">
  <nav class="main-nav navbar navbar-expand-lg {{ if not $.IsHome }}main-nav-colored{{ end }}">
    <div class="container-fluid">
      <a href="{{.Site.BaseURL}}" class="navbar-brand">
        <img src="{{ .Site.Params.logo | absURL}}" alt="site-logo" />
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mainNav" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div
        class="collapse navbar-collapse nav-list"
        id="mainNav"
      >
        <ul class="navbar-nav ml-auto">
          {{ $currentPage := . }}
          {{ $menu := .Site.Menus.main}}
          {{range $index, $element := $menu}}
          <li class="nav-item {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{ end }}">
             <a class="nav-link scroll-to" href="{{ $.Site.BaseURL }}{{ .URL }}">{{.Name}}</a>
          </li>
          {{end}}
        </ul>
      </div>
    </div>
  </nav>
</header> -->
<!-- header start -->
<header id="masthead" class="header cmt-header-style-01">
    <!-- site-header-menu -->
    <div id="site-header-menu" class="site-header-menu">
        <div class="site-header-menu-inner cmt-stickable-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <!--site-navigation -->
                        <div class="site-navigation d-flex flex-row align-items-center justify-content-between">
                            <!-- site-branding -->
                            <div class="site-branding">
                                <a class="home-link" href="{{ site.BaseURL | absLangURL }}" title="Raghu kishore galla" rel="home">
                                    <img id="logo-img" height="20" width="108" class="img-fluid auto_size" src="{{ site.Params.logo | absURL }}" alt="raghu kishore galla">
                                </a>
                            </div><!-- site-branding end -->
                            <div class="site-menubar">
                                <div class="btn-show-menu-mobile menubar menubar--squeeze">
                                    <span class="menubar-box">
                                        <span class="menubar-inner"></span>
                                    </span>
                                </div>
                                <!-- menu -->
                                <nav id="menu" class="navbar main-menu menu-mobile">
                                    <ul class="menu">
                                        {{ $menu := .Site.Menus.main}}
                                        {{range $index, $element := $menu}}
                                            {{ if .HasChildren }}
                                                <li class="mega-menu-item">
                                                    <a href="{{ .URL | absLangURL }}" class="mega-menu-link">{{ .Name }}</a>
                                                    <ul class="mega-submenu">
                                                        {{ range .Children }}
                                                          <li><a href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
                                                        {{ end }}
                                                    </ul>
                                                </li>
                                            {{ else }}
                                                <li class="mega-menu-item">
                                                  <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
                                                </li>
                                            {{ end }}
                                        {{ end }}
                                    </ul>
                                    <i class="bi bi-list mobile-nav-toggle"></i>
                                </nav><!-- .navbar -->
                                <!-- header_extra -->
                                <div class="header_extra">
                                    <div class="widget_info">
                                        <div class="widget_icon">
                                            <i class="flaticon-placeholder"></i>
                                        </div>
                                        <div class="widget_content">
                                            <p class="widget_desc">SRT 1190,Bansal's Residence<br>Sanath Nagar, Hyderabad 500018</p>
                                        </div>
                                    </div>
                                    <div class="widget_info">
                                        <div class="widget_icon">
                                            <i class="flaticon-call"></i>
                                        </div>
                                        <div class="widget_content">
                                            <span class="widget_title">Call Us :</span>
                                            <p class="widget_desc"><a href="tel:{{site.Params.address.phone}}">{{site.Params.address.phone}} </a></p>
                                        </div>
                                    </div>
                                    <!-- <div class="d-flex flex-row">
                                        <div class="header_search">
                                            <a href="index.html#" class="btn-default search_btn"><i class="icon-search"></i></a>
                                            <div class="header_search_content">
                                                <div class="header_search_content_inner">
                                                    <a href="index.html#" class="close_btn"><i class="icon-cancel"></i></a>
                                                    <form id="searchbox" method="get" action="index.html#">
                                                        <input class="search_query" type="text" id="search_query_top" name="s" placeholder="Type Your Search..." value="">
                                                        <button type="submit" class="btn close-search"><i class="icon-search"></i></button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="header_btn">
                                        <a class="cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-style-fill cmt-btn-color-skincolor" href="/contact" rel="noopener" aria-label="icon">MAKE AN APPOINTMENT</a>
                                    </div>
                                </div><!-- header_extra end -->
                            </div>
                        </div><!-- site-navigation end-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- site-header-menu end-->
</header><!-- header end -->