  <head>
    <meta charset="utf-8" />
    <title>{{.Title}}</title>

    {{ "<!--Meta For No Index-->" | safeHTML }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, Nofollow, Noimageindex">

    {{ "<!--mobile responsive meta-->" | safeHTML }}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    {{hugo.Generator}}
    
    {{"<!-- Favicon -->" | safeHTML}}
    <link rel="shortcut icon" href="{{"images/favicon.png" | absURL}}" type="image/x-icon">

    {{$style1 :=  resources.Get "css/bootstrap.min.css" }}
    {{$style2 :=  resources.Get "css/animate.css" }}
    {{$style3 :=  resources.Get "css/flaticon.css" }}
    {{$style4 :=  resources.Get "css/fontello.css" }}
    {{$style5 :=  resources.Get "css/font-awesome.css" }}
    {{$style6 :=  resources.Get "css/themify-icons.css" }}
    {{$style7 :=  resources.Get "css/slick.css" }}
    {{$style8 :=  resources.Get "css/prettyPhoto.css" }}
    {{$style9 :=  resources.Get "css/twentytwenty.css" }}
    {{$style10 :=  resources.Get "css/shortcodes.css" }}
    {{$style11 :=  resources.Get "css/main.css" }}
    {{$style12 :=  resources.Get "css/megamenu.css" }}
    {{$style13 :=  resources.Get "css/responsive.css" }}
    {{$style14 :=  resources.Get "revolution/css/rs6.css" }}



    <link rel="stylesheet" type="text/css" href="{{$style1.Permalink}}"/>
    <link rel="stylesheet" type="text/css" href="{{$style2.Permalink}}"/>
    <link rel="stylesheet" type="text/css" href="{{$style3.Permalink}}"/>
    <link rel="stylesheet" type="text/css" href="{{$style4.Permalink}}"/>
    <link rel="stylesheet" type="text/css" href="{{$style5.Permalink}}"/>
    <link rel="stylesheet" type="text/css" href="{{$style6.Permalink}}"/>
    <link rel="stylesheet" type="text/css" href="{{$style7.Permalink}}">
    <link rel="stylesheet" type="text/css" href="{{$style8.Permalink}}">
    <link rel="stylesheet" type="text/css" href="{{$style9.Permalink}}"/>
    <link rel="stylesheet" type="text/css" href="{{$style10.Permalink}}"/>
    <link rel="stylesheet" type="text/css" href="{{$style11.Permalink}}"/>
    <link rel="stylesheet" type="text/css" href="{{$style12.Permalink}}"/>
    <link rel="stylesheet" type="text/css" href="{{$style13.Permalink}}"/>
    <link rel='stylesheet' id='rs-plugin-settings-css' href="{{$style14.Permalink}}"> 

  </head>

