<!-- START mainslider02 REVOLUTION SLIDER 6.5.19 --><p class="rs-p-wp-fix"></p>
<rs-module-wrap id="rev_slider_2_1_wrapper" data-source="gallery">
  <rs-module id="rev_slider_2_1" style="" data-version="6.5.19" class="rev_slider_2_1_height">
      <rs-slides>
          <rs-slide data-key="rs-3`" data-title="Slide" data-thumb="images/slides/slider-img04-50x100.jpg" data-anim="o:0;" data-out="a:false;">
              <img src="images/slides/slider-img04.jpg" alt="image" title="slider-img04" width="1920" height="766" class="rev-slidebg tp-rs-img" data-no-retina>
              <!--

              --><rs-layer
                  id="slider-2-slide-1-layer-0" 
                  data-type="text"
                  data-rsp_ch="on"
                  data-xy="x:c;yo:314px,314px,152px,107px;"
                  data-text="w:normal;s:17,17,16,14;l:22,22,25,20;ls:2px,2px,0px,0px;fw:600;"
                  data-frame_0="y:50,50,31,19;"
                  data-frame_1="st:190;sp:1000;"
                  data-frame_999="o:0;st:w;sR:7610;"
                  style="z-index:10;font-family:'Nunito Sans';text-transform:uppercase;"
              >Get pumped up about Heart Health 
              </rs-layer><!--

              --><rs-layer
                  id="slider-2-slide-1-layer-1" 
                  data-type="text"
                  data-rsp_ch="on"
                  data-xy="x:c;yo:347px,347px,184px,139px;"
                  data-text="w:normal;s:70,70,40,35;l:86,86,60,50;fw:700;a:center;"
                  data-frame_0="y:-50,-50,-31,-19;"
                  data-frame_1="st:310;sp:1000;"
                  data-frame_999="o:0;st:w;sR:7490;"
                  style="z-index:11;font-family:'Oswald';text-transform:uppercase;"
              >Take good care of your <br />
                  <span class="text-base-skin">heart</span> It matters 
              </rs-layer><!--

              --><rs-layer
                  id="slider-2-slide-1-layer-2" 
                  data-type="shape"
                  data-rsp_ch="on"
                  data-xy="x:c;xo:-174px,-174px,-97px,-85px;yo:519px,519px,296px,233px;"
                  data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
                  data-dim="w:180px,180px,105px,90px;h:5px,5px,3px,2px;"
                  data-frame_0="y:-50,-50,-31,-19;"
                  data-frame_1="st:310;sp:1000;"
                  data-frame_999="o:0;st:w;"
                  style="z-index:12;background-color:#ae1010;"
              > 
              </rs-layer><!--

              --><a
                  id="slider-2-slide-1-layer-3" 
                  class="rs-layer rev-btn"
                  href="https://medipluse.cymolthemes.com/service-two/" target="_self"
                  data-type="button"
                  data-rsp_ch="on"
                  data-xy="x:c;yo:569px,569px,344px,270px;"
                  data-text="w:normal;s:15,15,14,12;l:20;fw:600;"
                  data-dim="minh:0px,0px,none,none;"
                  data-padding="t:13,13,8,5;r:25,25,16,15;b:14,14,9,5;l:25,25,16,15;"
                  data-border="bos:solid;boc:rgba(255,255,255,0.35);bow:2px,2px,2px,2px;"
                  data-frame_0="y:50,50,31,19;"
                  data-frame_1="e:default;"
                  data-frame_999="o:0;st:w;"
                  data-frame_hover="bgc:#ae1010;boc:#ae1010;bor:0px,0px,0px,0px;bos:solid;bow:2px,2px,2px,2px;sp:0ms;e:power1.inOut;"
                  style="z-index:13;background-color:rgba(0,0,0,0);font-family:'Oswald';text-transform:uppercase;"
              >View all services 
              </a><!--

              --><rs-layer
                  id="slider-2-slide-1-layer-4" 
                  data-type="image"
                  data-rsp_ch="on"
                  data-xy="x:c;yo:211px,211px,85px,46px;"
                  data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
                  data-dim="w:77px,77px,47px,50px;h:69px,69px,42px,45px;"
                  data-frame_0="sX:0.8;sY:0.8;"
                  data-frame_1="e:power4.out;sp:1000;"
                  data-frame_999="o:0;st:w;"
                  style="z-index:9;"
              ><img src="images/slides/icon.png" alt="" class="tp-rs-img" width="77" height="69" data-no-retina> 
              </rs-layer><!--

              --><rs-layer
                  id="slider-2-slide-1-layer-5" 
                  data-type="shape"
                  data-rsp_ch="on"
                  data-xy="xo:181px,80px,-2px,-70px;yo:258px,258px,119px,48px;"
                  data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
                  data-dim="w:194px,194px,121px,85px;h:10px,10px,6px,5px;"
                  data-vbility="t,t,t,f"
                  data-frame_0="x:-50,-50,-31,-19;"
                  data-frame_1="sp:1000;"
                  data-frame_999="o:0;st:w;"
                  style="z-index:15;background-color:rgba(255,255,255,0.2);"
              > 
              </rs-layer><!--

              --><rs-layer
                  id="slider-2-slide-1-layer-6" 
                  data-type="shape"
                  data-rsp_ch="on"
                  data-xy="x:c;y:m;"
                  data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
                  data-dim="w:2500px,2500px,1568px,967px;h:900px,900px,564px,355px;"
                  data-frame_999="o:0;st:w;"
                  style="z-index:8;background-color:rgba(0,5,11,0.45);"
              > 
              </rs-layer><!--

              --><rs-layer
                  id="slider-2-slide-1-layer-7" 
                  data-type="shape"
                  data-rsp_ch="on"
                  data-xy="xo:171px,70px,-8px,-74px;yo:258px,258px,119px,48px;"
                  data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
                  data-dim="w:10px,10px,6px,5px;h:266px,266px,166px,150px;"
                  data-vbility="t,t,t,f"
                  data-frame_0="x:-50,-50,-31,-19;"
                  data-frame_1="sp:1000;"
                  data-frame_999="o:0;st:w;"
                  style="z-index:17;background-color:rgba(255,255,255,0.2);"
              > 
              </rs-layer><!--

              --><rs-layer
                  id="slider-2-slide-1-layer-8" 
                  data-type="shape"
                  data-rsp_ch="on"
                  data-xy="x:r;xo:192px,80px,-2px,-70px;yo:543px,543px,323px,251px;"
                  data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
                  data-dim="w:194px,194px,121px,85px;h:10px,10px,6px,5px;"
                  data-vbility="t,t,t,f"
                  data-frame_0="x:50,50,31,19;"
                  data-frame_1="sp:1000;"
                  data-frame_999="o:0;st:w;"
                  style="z-index:14;background-color:rgba(255,255,255,0.2);"
              > 
              </rs-layer><!--

              --><rs-layer
                  id="slider-2-slide-1-layer-9" 
                  data-type="shape"
                  data-rsp_ch="on"
                  data-xy="x:r;xo:182px,70px,-8px,-74px;yo:287px,287px,163px,106px;"
                  data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
                  data-dim="w:10px,10px,6px,5px;h:266px,266px,166px,150px;"
                  data-vbility="t,t,t,f"
                  data-frame_0="x:50,50,31,19;"
                  data-frame_1="sp:1000;"
                  data-frame_999="o:0;st:w;"
                  style="z-index:16;background-color:rgba(255,255,255,0.2);"
              > 
              </rs-layer><!--
          --></rs-slide>

          <rs-slide data-key="rs-4" data-title="Slide" data-thumb="images/slides/slider-img03-50x100.jpg" data-in="o:0;" data-out="a:false;">
              <img src="images/slides/slider-img03.jpg" alt="image" title="slider-img03" width="1920" height="766" class="rev-slidebg tp-rs-img" data-no-retina><!--

              --><rs-layer
                  id="slider-2-slide-2-layer-0" 
                  data-type="text"
                  data-rsp_ch="on"
                  data-xy="x:c;yo:314px,314px,152px,107px;"
                  data-text="w:normal;s:17,17,16,14;l:22,22,25,20;ls:2px,2px,0px,0px;fw:600;"
                  data-frame_0="y:50,50,31,19;"
                  data-frame_1="st:190;sp:1000;"
                  data-frame_999="o:0;st:w;sR:7610;"
                  style="z-index:10;font-family:'Nunito Sans';text-transform:uppercase;"
              >Get pumped up about Heart Health 
              </rs-layer><!--

              --><rs-layer
                  id="slider-2-slide-2-layer-1" 
                  data-type="text"
                  data-rsp_ch="on"
                  data-xy="x:c;yo:347px,347px,184px,139px;"
                  data-text="w:normal;s:70,70,40,35;l:86,86,60,50;fw:700;a:center;"
                  data-frame_0="y:-50,-50,-31,-19;"
                  data-frame_1="st:310;sp:1000;"
                  data-frame_999="o:0;st:w;sR:7490;"
                  style="z-index:11;font-family:'Oswald';text-transform:uppercase;"
              >We're Concern For Your<br />
                  <span class="text-base-skin"> Cardio </span> Health 
              </rs-layer><!--

              --><rs-layer
                  id="slider-2-slide-2-layer-2" 
                  data-type="shape"
                  data-rsp_ch="on"
                  data-xy="x:c;xo:-116px,-116px,-66px,-57px;yo:519px,519px,296px,233px;"
                  data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
                  data-dim="w:220px,220px,125px,110px;h:5px,5px,3px,2px;"
                  data-frame_0="y:-50,-50,-31,-19;"
                  data-frame_1="st:310;sp:1000;"
                  data-frame_999="o:0;st:w;"
                  style="z-index:12;background-color:#ae1010;"
              > 
              </rs-layer><!--

              --><a
                  id="slider-2-slide-2-layer-3" 
                  class="rs-layer rev-btn"
                  href="https://medipluse.cymolthemes.com/service-two/" target="_self"
                  data-type="button"
                  data-rsp_ch="on"
                  data-xy="x:c;yo:569px,569px,344px,270px;"
                  data-text="w:normal;s:15,15,14,12;l:20;fw:600;"
                  data-dim="minh:0px,0px,none,none;"
                  data-padding="t:13,13,8,5;r:25,25,16,15;b:14,14,9,5;l:25,25,16,15;"
                  data-border="bos:solid;boc:rgba(255,255,255,0.35);bow:2px,2px,2px,2px;"
                  data-frame_0="y:50,50,31,19;"
                  data-frame_1="sp:1000;"
                  data-frame_999="o:0;st:w;"
                  data-frame_hover="bgc:#ae1010;boc:#ae1010;bor:0px,0px,0px,0px;bos:solid;bow:2px,2px,2px,2px;sp:0ms;e:power1.inOut;"
                  style="z-index:13;background-color:rgba(0,0,0,0);font-family:'Oswald';text-transform:uppercase;"
              >View all services 
              </a><!--

              --><rs-layer
                  id="slider-2-slide-2-layer-4" 
                  data-type="image"
                  data-rsp_ch="on"
                  data-xy="x:c;yo:211px,211px,85px,46px;"
                  data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
                  data-dim="w:77px,77px,47px,50px;h:69px,69px,42px,45px;"
                  data-frame_0="sX:0.8;sY:0.8;"
                  data-frame_1="e:power4.out;sp:1000;"
                  data-frame_999="o:0;st:w;"
                  style="z-index:9;"
              ><img src="images/slides/icon.png" alt="" class="tp-rs-img" width="77" height="69" data-no-retina> 
              </rs-layer><!--

              --><rs-layer
                  id="slider-2-slide-2-layer-5" 
                  data-type="shape"
                  data-rsp_ch="on"
                  data-xy="xo:181px,80px,-2px,-70px;yo:258px,258px,119px,48px;"
                  data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
                  data-dim="w:194px,194px,121px,85px;h:10px,10px,6px,5px;"
                  data-vbility="t,t,t,f"
                  data-frame_0="x:-50,-50,-31,-19;"
                  data-frame_1="sp:1000;"
                  data-frame_999="o:0;st:w;"
                  style="z-index:15;background-color:rgba(255,255,255,0.2);"
              > 
              </rs-layer><!--

              --><rs-layer
                  id="slider-2-slide-2-layer-6" 
                  data-type="shape"
                  data-rsp_ch="on"
                  data-xy="x:c;y:m;"
                  data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
                  data-dim="w:2500px,2500px,1568px,967px;h:900px,900px,564px,358px;"
                  data-frame_999="o:0;st:w;"
                  style="z-index:8;background-color:rgba(0,5,11,0.31);"
              > 
              </rs-layer><!--

              --><rs-layer
                  id="slider-2-slide-2-layer-7" 
                  data-type="shape"
                  data-rsp_ch="on"
                  data-xy="xo:171px,70px,-8px,-74px;yo:258px,258px,119px,48px;"
                  data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
                  data-dim="w:10px,10px,6px,5px;h:266px,266px,166px,150px;"
                  data-vbility="t,t,t,f"
                  data-frame_0="x:-50,-50,-31,-19;"
                  data-frame_1="sp:1000;"
                  data-frame_999="o:0;st:w;"
                  style="z-index:17;background-color:rgba(255,255,255,0.2);"
              > 
              </rs-layer><!--

              --><rs-layer
                  id="slider-2-slide-2-layer-8" 
                  data-type="shape"
                  data-rsp_ch="on"
                  data-xy="x:r;xo:192px,80px,-2px,-70px;yo:543px,543px,323px,251px;"
                  data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
                  data-dim="w:194px,194px,121px,85px;h:10px,10px,6px,5px;"
                  data-vbility="t,t,t,f"
                  data-frame_0="x:50,50,31,19;"
                  data-frame_1="sp:1000;"
                  data-frame_999="o:0;st:w;"
                  style="z-index:14;background-color:rgba(255,255,255,0.2);"
              > 
              </rs-layer><!--

              --><rs-layer
                  id="slider-2-slide-2-layer-9" 
                  data-type="shape"
                  data-rsp_ch="on"
                  data-xy="x:r;xo:182px,70px,-8px,-74px;yo:287px,287px,163px,106px;"
                  data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
                  data-dim="w:10px,10px,6px,5px;h:266px,266px,166px,150px;"
                  data-vbility="t,t,t,f"
                  data-frame_0="x:50,50,31,19;"
                  data-frame_1="sp:1000;"
                  data-frame_999="o:0;st:w;"
                  style="z-index:16;background-color:rgba(255,255,255,0.2);"
              > 
              </rs-layer><!--
          --></rs-slide>
      </rs-slides>
  </rs-module>
</rs-module-wrap>
<!-- END REVOLUTION SLIDER -->