{{with .Site.Data.performance}}
{{if .enable}}
<!-- performance section -->
<section class="cmt-row performance-section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- section title -->
                <div class="section-title title-style-center_text">
                    <div class="title-header">
                        <h3>About Performing</h3>
                        <span></span>
                        <h2 class="title">We're performing at higher<br>standards</h2>
                    </div>
                </div><!-- section title end -->
            </div>
        </div>
        <div class="row pt-15">
            <div class="col-lg-6 col-md-6 mt-15 mb-15">
                <div class="cmt-bg cmt-col-bgimage-yes col-bg-img-four">
                    <div class="cmt-col-wrapper-bg-layer cmt-bg-layer"></div>
                    <div class="layer-content">
                        <div class="widget-wrap">
                            <div class="heading-seperator">
                                <h3>An emergency Service</h3>
                                <span>Main Services</span>
                            </div>
                            <div>
                                <h3 class="list-title">Inside Our Services</h3>
                                <ul class="cmt-list list-inline">
                                    <li class="cmt-list-li-content"><span><i class="icon-ok"></i></span><span>Certified by the HROF society</span></li>
                                    <li class="cmt-list-li-content"><span><i class="icon-ok"></i></span><span>Provided by Chest Pain Unit</span></li>
                                    <li class="cmt-list-li-content"><span><i class="icon-ok"></i></span><span>The leading cardiac units!</span></li>
                                </ul>
                            </div>
                            <div class="performance-sec-btn">
                                <a class="cmt-btn btn-inline cmt-btn-size-md cmt-btn-color-skin" href="about" tabindex="0">view more!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mt-15 mb-15">
                <div class="cmt-bg cmt-col-bgimage-yes col-bg-img-five">
                    <div class="cmt-col-wrapper-bg-layer cmt-bg-layer"></div>
                    <div class="layer-content">
                        <div class="widget-wrap">
                            <div class="heading-seperator">
                                <h3>Individual Approach</h3>
                                <span>Main Services</span>
                            </div>
                            <div>
                                <h3 class="list-title">Inside Our Services</h3>
                                <ul class="cmt-list list-inline">
                                    <li class="cmt-list-li-content"><span><i class="icon-ok"></i></span><span>Standby 365 days of the year</span></li>
                                    <li class="cmt-list-li-content"><span><i class="icon-ok"></i></span><span>Catheterization procedures!</span></li>
                                    <li class="cmt-list-li-content"><span><i class="icon-ok"></i></span><span>Heart surgery procedures</span></li>
                                </ul>
                            </div>
                            <div class="performance-sec-btn">
                                <a class="cmt-btn btn-inline cmt-btn-size-md cmt-btn-color-skin" href="about" tabindex="0">view more!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cmt-horizontal_sep mt-60 mb-20 res-991-mt-50 res-991-mb-30"></div>
        <div class="row pt-20 res-991-pt-0">
            <div class="col-lg-3">
                <div class="mt-20 res-991-mt-0">
                    <p><strong>Trusted by</strong> over 6.000 Ambitious Brand Across The US</p>
                </div>
            </div>
            <div class="col-lg-9">
            <!-- slick_slider -->
                <div class="row slick_slider mt_15" data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "arrows":false, "autoplay":true, "infinite":true, "responsive": [{"breakpoint":1024,"settings":{"slidesToShow": 4}}, {"breakpoint":992,"settings":{"slidesToShow": 4}},{"breakpoint":768,"settings":{"slidesToShow": 3}},{"breakpoint":576,"settings":{"slidesToShow": 2}}, {"breakpoint":420,"settings":{"slidesToShow": 1}}]}'>
                    <div class="client-box">
                        <div class="cmt-client-logo-tooltip">
                            <div class="cmt-client-logo-tooltip-inner">
                                <div class="client-thumbnail">
                                    <img width="165" height="70" class="img-fluid" src="images/client/client-01.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="client-box">
                        <div class="cmt-client-logo-tooltip">
                            <div class="cmt-client-logo-tooltip-inner">
                                <div class="client-thumbnail">
                                    <img width="165" height="70" class="img-fluid" src="images/client/client-02.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="client-box">
                        <div class="cmt-client-logo-tooltip">
                            <div class="cmt-client-logo-tooltip-inner">
                                <div class="client-thumbnail">
                                    <img width="165" height="70" class="img-fluid" src="images/client/client-03.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="client-box">
                        <div class="cmt-client-logo-tooltip">
                            <div class="cmt-client-logo-tooltip-inner">
                                <div class="client-thumbnail">
                                    <img width="165" height="70" class="img-fluid" src="images/client/client-04.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="client-box">
                        <div class="cmt-client-logo-tooltip">
                            <div class="cmt-client-logo-tooltip-inner">
                                <div class="client-thumbnail">
                                    <img width="165" height="70" class="img-fluid" src="images/client/client-05.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="client-box">
                        <div class="cmt-client-logo-tooltip">
                            <div class="cmt-client-logo-tooltip-inner">
                                <div class="client-thumbnail">
                                    <img width="165" height="70" class="img-fluid" src="images/client/client-06.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- performance section end -->
{{end}}
{{end}}