{{ with .Site.Data.service}}
{{ if .enable}}
<!-- service section -->
<section class="cmt-row service-section bg-base-grey clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="featured-icon-box icon-align-before-content icon-ver_align-top style2">
                    <div class="featured-icon">
                        <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-size-lg style1 cmt-icon_element-color-skincolor">
                            <i class="flaticon-healthcare"></i>
                        </div>
                    </div>
                    <div class="featured-content">
                        <div class="featured-title">
                            <h3><a href="services-1.html">Coronory Heart Disease</a></h3>
                        </div>
                        <div class="featured-desc">
                            <p>Coronary artery disease (CAD), also called coronary heart disease (CHD), ischemic heart disease (IHD),[13] myocardial ischemia,[14] or simply heart disease,
                                 involves the reduction of blood flow to the heart muscle due to build-up of atherosclerotic plaque in the arteries of the heart.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="featured-icon-box icon-align-before-content icon-ver_align-top style2 active">
                    <div class="featured-icon">
                        <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-size-lg style1 cmt-icon_element-color-skincolor">
                            <i class="flaticon-doctor-1"></i>
                        </div>
                    </div>
                    <div class="featured-content">
                        <div class="featured-title">
                            <h3><a href="services-1.html">Structurral Heart Disease</a></h3>
                        </div>
                        <div class="featured-desc">
                            <p>Structural heart disease refers to conditions that affect your heart’s valves, walls, chambers or muscles. These conditions include cardiomyopathy, congenital heart disease and heart valve disease.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="featured-icon-box icon-align-before-content icon-ver_align-top style2">
                    <div class="featured-icon">
                        <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-size-lg style1 cmt-icon_element-color-skincolor">
                            <i class="flaticon-heart-5"></i>
                        </div>
                    </div>
                    <div class="featured-content">
                        <div class="featured-title">
                            <h3><a href="services-1.html">Congenital Heart Disease</a></h3>
                        </div>
                        <div class="featured-desc">
                            <p>"Congenital heart disease is one or more problems with the heart's structure that exist since birth. Congenital means that you're born with the condition. Congenital heart disease in adults and children can change the way blood flows through the heart."</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="featured-icon-box icon-align-before-content icon-ver_align-top style2">
                    <div class="featured-icon">
                        <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-size-lg style1 cmt-icon_element-color-skincolor">
                            <i class="flaticon-first-aid-kit"></i>
                        </div>
                    </div>
                    <div class="featured-content">
                        <div class="featured-title">
                            <h3><a href="services-1.html">Cardiac Rhythm Disorders</a></h3>
                        </div>
                        <div class="featured-desc">
                            <p>A heart arrhythmia (uh-RITH-me-uh) is an irregular heartbeat. Heart rhythm problems (heart arrhythmias) occur when the electrical signals that coordinate the heart's beats don't work properly.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- service section end -->
<!-- <section class="service" id="service">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
         <h2> {{.title }} </h2>
          <p>
              {{.subtitle}}
          </p>
        </div>
      </div>
      {{ range .services}}
      <div class="col-lg-4 col-md-6">
        <div class="service-item">
          <i class="{{ .icon }}" aria-hidden="true"></i>
          <h3>{{ .name }}</h3>
          <p>
              {{.description }}
          </p>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section> -->
{{end}}
{{end}}


