<div class="d-flex justify-content-between mt-50 res-991-mt-30">
    <div class="">
        <a class="cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-style-fill cmt-btn-color-skincolor" href="/contact" tabindex="0">Make Appointment</a>
    </div>
    <div class="icon-share-social">
        <div id="hover-icon-share">
            <ul class="social-icons square style2">
                {{range .Site.Params.social}}
                    <li class="{{.socialIcon}}">  
                        <a href="{{.url}}" tabindex="0" rel="noopener" aria-label="twitter"><i class="{{.faIcon}}" aria-hidden="true"></i></a>
                    </li>
                {{end}}
            </ul>
        </div>
        <button id="icon-share-btn" class="cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-style-border cmt-btn-style-fill cmt-btn-color-grey" tabindex="0"><i class="flaticon-share"></i></button>
    </div>
</div>