{{ with .Site.Data.testimonial}}
{{ if .enable}}
<!-- testimonial section -->
<!-- <section class="quotes">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="quotes-slider">
          {{range .testimonial}}

          <div class="quotes-slider-item">
            <h2>{{ .testimonialDetails }}</h2>
            <span>-{{ .author }}</span>
          </div>
        {{end}}
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- heading section -->
<section class="cmt-row padding_zero-section heading-section clearfix">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-6">
                <!-- section title -->
                <div class="section-title bg-base-skin mb-0 position-relative z-index-5">
                    <div class="title-header">
                        <h3>Testimonials</h3>
                        <span></span>
                        <h2 class="title">What Our Patients Say<br>About RKG.</h2>
                    </div>
                </div><!-- section title end -->
            </div>
            <div class="col-lg-6"></div>
        </div>
    </div>
</section>
<!-- heading section end -->

<!-- testimonial section -->
<section class="cmt-row testimonial-section spacing-6 clearfix">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-6">
                <div class="cmt-bg cmt-col-bgimage-yes cmt-left-span col-bg-img-six mt-80 res-991-mt-0">
                    <div class="cmt-col-wrapper-bg-layer cmt-bg-layer"></div>
                    <div class="layer-content"></div>
                </div>
                <img class="img-fluid cmt-equal-height-image" src="images/bg-image/col-bgimage-6.png" alt="col-bgimage-6.png">
            </div>
            <div class="col-lg-6 mb_80 res-991-mb-0">
                <div class="cmt-bg cmt-col-bgimage-yes cmt-col-bgcolor-yes col-bg-img-seven cmt-right-span bg-base-dark spacing-5">
                    <div class="cmt-col-wrapper-bg-layer cmt-bg-layer">
                        <div class="cmt-col-wrapper-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                        <div class="row vertical_slider testimonial-vertical" data-slick='{"slidesToShow": 2, "slidesToScroll": 1, "arrows":false, "dots":false, "autoplay":true, "infinite":true, "responsive": [{"breakpoint":1024,"settings":{"slidesToShow": 2}}, {"breakpoint":992,"settings":{"slidesToShow": 2}}, {"breakpoint":768,"settings":{"slidesToShow": 2}}, {"breakpoint":576,"settings":{"slidesToShow": 1}}]}'>
                            {{range .testimonial}}
                                <div class="col-lg-12">
                                    <!-- testimonials -->
                                    <div class="testimonials style1"> 
                                        <div class="testimonial-content">
                                            <blockquote class="testimonial-text">{{ .testimonialDetails }}</blockquote>
                                            <div class="testimonial-bottom">
                                                <div class="testimonial-caption">
                                                    <h3>{{.author}}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- testimonials end -->
                                </div>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonial section -->


{{end}}
{{end}}
