{{define "main"}}
<!-- page-title -->
<div class="cmt-page-title-row">
    <div class="cmt-page-title-row-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-heading">
                        <h2 class="title"> Structurral Heart Disease</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-wrapper-inner">
                        <span>
                            <a title="Homepage" href="index.html">Home</a>
                        </span>
                        <span>Structurral Heart Disease</span>
                    </div>
                </div>
            </div>
        </div>
    </div>                   
</div>
<!-- page-title end -->

<!-- site-main start -->
<div class="site-main">

    <!-- section -->
    <section class="cmt-row pb-30 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content-area">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="cmt_single_image-wrapper">
                                            <img class="img-fluid" src="images/single-img-12.png" width="570" height="436" alt="single-img-12.png">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 align-self-center">
                                        <div class="res-991-mt-30">
                                            <h3 class="fs-26">The Heart care Heart Hospital latest & Best Loream Ipsum Technology.</h3>
                                            <p class="pt-10">You are nothing witout your set eyes care set injury magselit, do eiusmod tempor incididunt or ut labore areas dise eyecare dolore aliqua. Ut enim ad et minim veniam.</p>
                                            <div class="row pt-10">
                                                <div class="col-sm-6">
                                                    <ul class="cmt-list list-inline">
                                                        <li class="cmt-list-li-content">
                                                            <span><i class="icon-ok"></i></span>
                                                            <span>Contrary to ppular belief, text</span>
                                                        </li>
                                                        <li class="cmt-list-li-content">
                                                            <span><i class="icon-ok"></i></span>
                                                            <span>There ages of Lorem Ipsm availa</span>
                                                        </li>
                                                        <li class="cmt-list-li-content">
                                                            <span><i class="icon-ok"></i></span>
                                                            <span>The standard ce oducd below</span>
                                                        </li>
                                                        <li class="cmt-list-li-content">
                                                            <span><i class="icon-ok"></i></span>
                                                            <span>Sed ut peratem accntium dolo</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-6">
                                                    <ul class="cmt-list list-inline">
                                                        <li class="cmt-list-li-content">
                                                            <span><i class="icon-ok"></i></span>
                                                            <span>Righteous indignation men</span>
                                                        </li>
                                                        <li class="cmt-list-li-content">
                                                            <span><i class="icon-ok"></i></span>
                                                            <span>There ages of Lorem Ipsm availa</span>
                                                        </li>
                                                        <li class="cmt-list-li-content">
                                                            <span><i class="icon-ok"></i></span>
                                                            <span>The standard ce oducd below</span>
                                                        </li>
                                                        <li class="cmt-list-li-content">
                                                            <span><i class="icon-ok"></i></span>
                                                            <span>Sed ut peratem accntium dolo</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-25">
                                    <h3 class="fs-24 mb-10">Problem statement</h3>
                                    <p>Structural heart disease refers to conditions that affect your heart’s valves, walls, chambers or muscles. These conditions include cardiomyopathy, congenital heart disease and heart valve disease. Structural heart disease exists from birth or develops as you age. You don’t always need treatment but your cardiologist should monitor you regularly.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mt-10">
                                    <h3 class="fs-24 mb-10">Symptoms</h3>
                                    <p>-Chest pain, tightness or pressure.<br>
                                        -Dizziness, lightheadedness or fainting (syncope).<br>
                                        -Fatigue.<br>
                                        -High blood pressure (hypertension).<br>
                                        -Irregular heartbeats (arrhythmia).<br>
                                        -Kidney dysfunction.<br>
                                        -Shortness of breath (dyspnea).<br>
                                        -Swelling in the abdomen, ankles or feet (edema).</p>
                                </div>
                                <!-- <div class="mt-10">
                                    <h3 class="fs-24 mb-10">How to Recognize?</h3>
                                    <p>Common causes of peripheral artery disease include:<br>
                                        -Blood vessel inflammation<br>
                                        -Injury to the arms or legs<br>
                                        -Changes in the muscles or ligaments<br>
                                        -Radiation exposure</p>
                                </div> -->
                                <div class="mt-10">
                                    <h3 class="fs-24 mb-10">When to see a doctor?</h3>
                                    <p>If you experience any of these symptoms, call us immediately. Every minute you spend without treatment increases your risk of long-term damage</p>
                                </div>
                                <div class="mt-10">
                                    <h3 class="fs-24 mb-10">Make an appointment</h3>
                                    <p>If you experience any of these symptoms, call us immediately. Every minute you spend without treatment increases your risk of long-term damage</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end-->

    <!-- procedure-section -->
    <section class="cmt-row procedure-section-3 bg-base-grey bg-img4 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cmt-processbox-wrapper">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="cmt-processbox">
                                    <div class="cmt-box-icon">
                                        <div class="cmt-process-icon bg-base-white">
                                            <div class="cmt-icon">
                                                <i class="flaticon-healthcare"></i>
                                            </div>
                                        </div>
                                        <span class="number"></span>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h3>Surf Medipluse Website</h3>
                                        </div>
                                        <div class="featured-desc">
                                            <p>Search us on your browser & get all the in formations of our hospital</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="cmt-processbox">
                                    <div class="cmt-box-icon">
                                        <div class="cmt-process-icon bg-base-white">
                                            <div class="cmt-icon">
                                                <i class="flaticon-vaccine"></i>
                                            </div>
                                        </div>
                                        <span class="number"></span>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h3>Experts’ Treatment</h3>
                                        </div>
                                        <div class="featured-desc">
                                            <p>Expertise treatments by our expert team and  be forever healthy</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="cmt-processbox active">
                                    <div class="cmt-box-icon">
                                        <div class="cmt-process-icon bg-base-white">
                                            <div class="cmt-icon">
                                                <i class="flaticon-hospital"></i>
                                            </div>
                                        </div>
                                        <span class="number"></span>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h3>Book An Appointment</h3>
                                        </div>
                                        <div class="featured-desc">
                                            <p>Regarding your health issue, book an appointment with our experts</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- procedure-section end-->

    <!-- section -->
    <section class="cmt-row pt-70 res-991-pt-50 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content-area">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6 align-self-end">
                                        <div class="">
                                            <div class="">
                                                <h3 class="fs-26">WE ARE SEAMLESSLY MERGE TWO KEY COMPONENTS FRIENDLY NATURE LATEST TECHNOLOGY.</h3>
                                                <p class="pt-10">You are nothing witout your set eyes care set injury magselit, do eiusmod tempor incididunt or ut labore areas dise eyecare</p>
                                                <p>Medipluse cardio hospital is committed for providing quality patient care, diagnosis and treatment for wide range of complexand chronic diseases. A commitment to highest patient care services</p>
                                            </div>
                                            <div class="row pt-30">
                                                <div class="col-md-6 res-767-mb-30">
                                                    <div class="featured-icon-box icon-align-before-content icon-ver_align-top style8">
                                                        <div class="featured-icon">
                                                            <div class="cmt-icon cmt-icon_element-color-skincolor">
                                                                <i class="flaticon-cardiology"></i>
                                                            </div>
                                                        </div>
                                                        <div class="featured-content">
                                                            <div class="featured-title">
                                                                <h3><a href="services-1.html">HEART SURGERY</a></h3>
                                                            </div>
                                                            <div class="featured-desc">
                                                                <p>Heart symptoms call us for immediate</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="featured-icon-box icon-align-before-content icon-ver_align-top style8">
                                                        <div class="featured-icon">
                                                            <div class="cmt-icon cmt-icon_element-color-skincolor">
                                                                <i class="flaticon-microsurgery"></i>
                                                            </div>
                                                        </div>
                                                        <div class="featured-content">
                                                            <div class="featured-title">
                                                                <h3><a href="services-1.html">HEART TRANSPLATE</a></h3>
                                                            </div>
                                                            <div class="featured-desc">
                                                                <p>Heart is get replaced with healthier</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 res-991-pt-30">
                                        <div class="cmt_single_image-wrapper">
                                            <img class="img-fluid" src="images/single-img-13.png" width="570" height="436" alt="single-img-13.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end-->

</div><!-- site-main end-->
{{end}}