{{define "main"}}
<!-- page-title -->
<div class="cmt-page-title-row">
  <div class="cmt-page-title-row-inner">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="page-title-heading">
                      <h2 class="title"> Book Appointment</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="breadcrumb-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb-wrapper-inner">
              <span>
                  <a title="Homepage" href="index.html">Home</a>
              </span>
              <span>Book Appointment</span>
          </div>
      </div>
  </div>
  </div>
  </div>                   
</div>
<!-- page-title end -->

<!-- site-main start -->
<div class="site-main">

  <!-- service section -->
  <section class="cmt-row service-section bg-base-grey mt_27 pt-77 clearfix">
      <div class="container-fluid">
          <div class="row">
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                  <div class="featured-icon-box icon-align-before-content icon-ver_align-top style2">
                      <div class="featured-icon">
                          <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-size-lg style1 cmt-icon_element-color-skincolor">
                              <i class="flaticon-healthcare"></i>
                          </div>
                      </div>
                      <div class="featured-content">
                          <div class="featured-title">
                              <h3><a href="services-1.html">Personalized Healthcare</a></h3>
                          </div>
                          <div class="featured-desc">
                              <p>You can call ohiical team if your child, teenager or famigh difficulties.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                  <div class="featured-icon-box icon-align-before-content icon-ver_align-top style2 active">
                      <div class="featured-icon">
                          <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-size-lg style1 cmt-icon_element-color-skincolor">
                              <i class="flaticon-doctor-1"></i>
                          </div>
                      </div>
                      <div class="featured-content">
                          <div class="featured-title">
                              <h3><a href="services-1.html">Professional Team</a></h3>
                          </div>
                          <div class="featured-desc">
                              <p>Detects the presence or absence of flow into blood vessels via the skin.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                  <div class="featured-icon-box icon-align-before-content icon-ver_align-top style2">
                      <div class="featured-icon">
                          <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-size-lg style1 cmt-icon_element-color-skincolor">
                              <i class="flaticon-heart-5"></i>
                          </div>
                      </div>
                      <div class="featured-content">
                          <div class="featured-title">
                              <h3><a href="services-1.html">Regularly checkup</a></h3>
                          </div>
                          <div class="featured-desc">
                              <p>Device provides continuous recording of electrical activity of the heart.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                  <div class="featured-icon-box icon-align-before-content icon-ver_align-top style2">
                      <div class="featured-icon">
                          <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-size-lg style1 cmt-icon_element-color-skincolor">
                              <i class="flaticon-first-aid-kit"></i>
                          </div>
                      </div>
                      <div class="featured-content">
                          <div class="featured-title">
                              <h3><a href="services-1.html">Nuclear Stress Testing</a></h3>
                          </div>
                          <div class="featured-desc">
                              <p>Treatment of congenital heart defects, disease and electrophysiology.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- service section end -->

  <!-- Appointment section -->
  <div class="cmt-row appointment-section clearfix">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-md-10 col-sm-10 m-auto">
                  <div id="calendar" class="calendar small"></div>
              </div>
          </div>
      </div>
  </div>
  <!-- Appointment section end-->

</div><!-- site-main end-->
{{end}}
