@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot%3F36193214');
  src: url('../fonts/fontello.eot%3F36193214') format('embedded-opentype'),
       url('../fonts/fontello.woff2%3F36193214') format('woff2'),
       url('../fonts/fontello.woff%3F36193214') format('woff'),
       url('../fonts/fontello.ttf%3F36193214') format('truetype'),
       url('../fonts/fontello.svg%3F36193214') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?36193214#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-google-drive:before { content: '\e800'; } /* '' */
.icon-issuu:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-music:before { content: '\e803'; } /* '' */
.icon-video:before { content: '\e804'; } /* '' */
.icon-quote:before { content: '\e805'; } /* '' */
.icon-aside:before { content: '\e806'; } /* '' */
.icon-rss:before { content: '\e807'; } /* '' */
.icon-angle-left:before { content: '\e808'; } /* '' */
.icon-angle-right:before { content: '\e809'; } /* '' */
.icon-status:before { content: '\e80a'; } /* '' */
.icon-dribbble:before { content: '\e80b'; } /* '' */
.icon-facebook:before { content: '\e80c'; } /* '' */
.icon-flickr:before { content: '\e80d'; } /* '' */
.icon-gplus:before { content: '\e80e'; } /* '' */
.icon-instagram:before { content: '\e80f'; } /* '' */
.icon-linkedin:before { content: '\e810'; } /* '' */
.icon-pinterest:before { content: '\e811'; } /* '' */
.icon-twitter:before { content: '\e812'; } /* '' */
.icon-vk:before { content: '\e813'; } /* '' */
.icon-xing:before { content: '\e814'; } /* '' */
.icon-yelp:before { content: '\e815'; } /* '' */
.icon-youtube:before { content: '\e816'; } /* '' */
.icon-gallery:before { content: '\e817'; } /* '' */
.icon-plus:before { content: '\e818'; } /* '' */
.icon-link:before { content: '\e819'; } /* '' */
.icon-tag:before { content: '\e81a'; } /* '' */
.icon-clock:before { content: '\e81b'; } /* '' */
.icon-heart:before { content: '\e81c'; } /* '' */
.icon-sticky:before { content: '\e81d'; } /* '' */
.icon-marker:before { content: '\e81e'; } /* '' */
.icon-comment:before { content: '\e81f'; } /* '' */
.icon-chat:before { content: '\e820'; } /* '' */
.icon-podcast:before { content: '\e821'; } /* '' */
.icon-houzz:before { content: '\e822'; } /* '' */
.icon-image:before { content: '\e823'; } /* '' */
.icon-cart:before { content: '\e824'; } /* '' */
.icon-search:before { content: '\e825'; } /* '' */
.icon-arrow-right:before { content: '\e826'; } /* '' */
.icon-pencil:before { content: '\e827'; } /* '' */
.icon-mobile:before { content: '\e828'; } /* '' */
.icon-comment-1:before { content: '\e829'; } /* '' */
.icon-world:before { content: '\e82a'; } /* '' */
.icon-location-pin:before { content: '\e82b'; } /* '' */
.icon-quote-left:before { content: '\e82c'; } /* '' */
.icon-close:before { content: '\e82d'; } /* '' */
.icon-comments-smiley:before { content: '\e82e'; } /* '' */
.icon-category:before { content: '\e82f'; } /* '' */
.icon-tag-1:before { content: '\e830'; } /* '' */
.icon-shift-right:before { content: '\e831'; } /* '' */
.icon-mail:before { content: '\e832'; } /* '' */
.icon-phone:before { content: '\e833'; } /* '' */
.icon-arrow-left:before { content: '\e834'; } /* '' */
.icon-gallery-1:before { content: '\e835'; } /* '' */
.icon-music-alt:before { content: '\e836'; } /* '' */
.icon-shopping-cart:before { content: '\e837'; } /* '' */
.icon-heart-empty:before { content: '\e838'; } /* '' */
.icon-check:before { content: '\e839'; } /* '' */
.icon-arrow-left-1:before { content: '\e83a'; } /* '' */
.icon-plus-1:before { content: '\e83b'; } /* '' */
.icon-unlink:before { content: '\e83c'; } /* '' */
.icon-quote-right:before { content: '\e83d'; } /* '' */
.icon-home:before { content: '\e83e'; } /* '' */
.icon-quote-1:before { content: '\e83f'; } /* '' */
.icon-ok:before { content: '\e840'; } /* '' */
.icon-search-1:before { content: '\e841'; } /* '' */
.icon-eye:before { content: '\e842'; } /* '' */
.icon-basket:before { content: '\e843'; } /* '' */
.icon-paper-plane:before { content: '\e844'; } /* '' */
.icon-arrow-circle-down:before { content: '\e845'; } /* '' */
.icon-minus:before { content: '\e846'; } /* '' */
.icon-minus-1:before { content: '\e847'; } /* '' */
.icon-left-open-big:before { content: '\e848'; } /* '' */
.icon-right-open-big:before { content: '\e849'; } /* '' */
.icon-location:before { content: '\e84a'; } /* '' */
.icon-comment-3:before { content: '\e84b'; } /* '' */
.icon-user-1:before { content: '\e84c'; } /* '' */
.icon-star-1:before { content: '\e84d'; } /* '' */
.icon-star-empty-1:before { content: '\e84e'; } /* '' */
.icon-folder:before { content: '\e84f'; } /* '' */
.icon-ok-1:before { content: '\e850'; } /* '' */
.icon-mail-1:before { content: '\e851'; } /* '' */
.icon-location-outline:before { content: '\e852'; } /* '' */
.icon-location-2:before { content: '\e853'; } /* '' */
.icon-right-small:before { content: '\e854'; } /* '' */
.icon-right:before { content: '\e855'; } /* '' */
.icon-quote-right-alt:before { content: '\e856'; } /* '' */
.icon-megaphone:before { content: '\e857'; } /* '' */
.icon-cancel:before { content: '\e858'; } /* '' */
.icon-cancel-1:before { content: '\e859'; } /* '' */
.icon-cancel-2:before { content: '\e85a'; } /* '' */
.icon-facebook-rect-1:before { content: '\e85b'; } /* '' */
.icon-calendar:before { content: '\e85c'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-quote-right-1:before { content: '\f10e'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-tumblr:before { content: '\f173'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-stumbleupon:before { content: '\f1a4'; } /* '' */
.icon-digg:before { content: '\f1a6'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-reddit:before { content: '\f281'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-vimeo:before { content: '󨇎'; } /* '\e81ce' */
