/**
  * Name: Medipluse
  * Version: 1.0
  * Author: CymolThemes
  * Author URI: https://www.cymolthemes.com
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/**

  1. General
     - Variables
     - Extra-outer
     
  2. Color
     - Skin-color, Skin-bg-color, Skin-border-color
     - darkGrey-color, darkGrey-bg-color
     - white-color, white-bg-color, white-border-color
     - Grey-color, Grey-bg-color, grey-border-color

  3. Spacing

  4. Pre-loader

  5. SocialIcon / TooltipTop

  6. Slick_dots/arrows

  7. TopBar

  8. Header
     - SiteBrand(logo)
     - SiteNavigation(Menu)
     - side-menu

  9. Footer
     - FirstFooter
     - SecondFooter
 
  10. GoTop BUtton
  
  11. Page-Title-Row

  12. Inner-Pages
      - single-pages-content
      - Classic_Blog
      - Single_Blog
      - Contact_page
      - Error_page
      - Map

**/
 
 
/* ===============================================
    General
------------------------*/

/** Variables **/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}
a, button, input { 
    outline: none; 
}
ol, ul{ 
    padding: 0; 
    margin: 0;
}
b, strong{ 
  font-weight: 700;
}
iframe{
  width: 100%;
  border: none;
  display: block;
}
p { 
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin: 0 0 15px; 
}
*::-moz-selection { 
    background: var(--base-skin); 
    color: var(--base-white); 
    text-shadow: none; 
}
::-moz-selection { 
    background: var(--base-skin);  
    color: var(--base-white);
    text-shadow: none; 
}
::selection { 
    background: var(--base-skin); 
    color: var(--base-white); 
    text-shadow: none; 
}

textarea, input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input, 
select{
    font-family: inherit;
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    vertical-align: middle;
    width: 100%;
    color: var(--base-bodyfont-color);
    padding: 12px 15px 12px;
    border-radius: 0;
    font-weight: 400;
    background-color: var(--base-white);
    text-transform: inherit;
    border: 1px solid rgba(0, 43, 92, 0.08);
    font-size: 15px;
    outline: none;
    line-height: inherit;
    letter-spacing: 0px;
}
button, input[type="submit"], 
input[type="button"], 
input[type="reset"] {
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    line-height: 21px;
    font-weight: 500;
    padding: 11px 40px 11px;
    border: 2px solid transparent;
    border-radius: 0;
    color: var(--base-white);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    cursor: pointer;
    outline: none;
    -webkit-font-smoothing: antialiased;
}
.rs-layer input[type="email"]{
    border-color: transparent !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 0px !important;
    padding-right: 50px !important;
}
button:focus{
    box-shadow: none;
}
textarea:focus, 
input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="date"]:focus, 
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="number"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="tel"]:focus, 
input[type="color"]:focus {
    border: 1px solid transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-appearance: searchfield;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

textarea::placeholder,
textarea::-moz-placeholder,
textarea::-webkit-input-placeholder,
select::placeholder,
select::-moz-placeholder,
input::placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input::-webkit-input-placeholder {   
  color: var(--body-font-color) !important;
}
menu, ol, ul {
    margin: 16px 0;
    padding: 0 0 0 25px;
}

/** Typography Variable **/

:root {
    --base-bodyfont: 'Nunito Sans', sans-serif;
    --base-bodyfont-Size: 16px;
    --base-bodyfont-color: #585858;    
    --base-skin: #ae1010;
    --base-dark: #01162c;
    --base-grey: #f2f2f2;
    --base-white: #ffffff;    
    --base-headingfont: 'Oswald', sans-serif;
    --base-headingfont-color: #01162c;
}

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

/** Typo Colors **/
.border-color: { color: #e5e5e5;}
.bodyfont-color { color: var(--base-bodyfont-color);}
.headingfont-color { color: var(--base-headingfont-color); }

/** Background Colors **/
.bg-base-skin { background-color: var(--base-skin);}
.bg-base-dark { background-color: var(--base-dark);}
.bg-base-grey { background-color: var(--base-grey);}
.bg-base-white { background-color: var(--base-white);}
  
/** Text Colors **/
.text-base-skin { color: var(--base-skin);}
.text-base-dark { color: var(--base-dark);}
.text-base-grey { color: var(--base-grey);}
.text-base-white { color: var(--base-white);}

/** Bg-layer Colors **/
.bg-base-skin > .cmt-bg-layer{background-color: var(--base-skin);}
.bg-base-dark > .cmt-bg-layer{background-color: var(--base-dark);}
.bg-base-grey > .cmt-bg-layer{background-color: var(--base-grey);}
.bg-base-white > .cmt-bg-layer{background-color: var(--base-white);}

.bg-base-skin >.cmt-bg-layer >.cmt-col-wrapper-bg-layer-inner{background-color: var(--base-skin);}
.bg-base-dark >.cmt-bg-layer >.cmt-col-wrapper-bg-layer-inner{background-color: var(--base-dark);}
.bg-base-grey >.cmt-bg-layer >.cmt-col-wrapper-bg-layer-inner{background-color: var(--base-grey);}
.bg-base-white >.cmt-bg-layer >.cmt-col-wrapper-bg-layer-inner{background-color: var(--base-white);}

.text-base-white h1:not(.text-base-skin, .text-base-dark),
.text-base-white h2:not(.text-base-skin, .text-base-dark),
.text-base-white h3:not(.text-base-skin, .text-base-dark),
.text-base-white h4:not(.text-base-skin, .text-base-dark),
.text-base-white h5:not(.text-base-skin, .text-base-dark),
.text-base-white h6:not(.text-base-skin, .text-base-dark),
.text-base-white a:not(.text-base-skin, .text-base-dark),
.bg-base-dark h1, .bg-base-dark h2, .bg-base-dark h3,
.bg-base-dark h4, .bg-base-dark h5, .bg-base-dark h6 {
    color: var(--base-white);
}
.bg-base-dark .text-base-white a:not(.text-base-skin, .text-base-dark){color: var(--base-skin);}
.bg-base-dark .section-title h3 { color: var(--base-skin); }
.bg-base-dark, .bg-base-skin {
    color: rgba(255,255,255,.67);
}
.bg-base-dark.text-base-white, .bg-base-skin.text-base-white {
    color: rgba(255,255,255,.950);
}
.overlay-01 {
    background-color: #fff;
    margin: -222px 55px 82px -10px;
    padding: 0px 0px 0px 0px;
    z-index: 2;
    position: relative;
}
.overlay-box {
    border-style: solid;
    border-width: 0px 0px 0px 15px;
    border-color: #21A12E;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px -5px;
    padding: 32px 0px 33px 20px;
}
.overlay-inner-box {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-orientation: sideways;
    width: 100%;
    margin: 0px 0px 0px 18px;
}
.overlay-inner-box h3 {
    font-family: "Saira Semi Condensed", Sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}
.about-overlay-01 {
    justify-content: center;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    position: relative;
    content: '';
    top: 0;
    right: 1px;
    padding: 11px 16px 6px;
    transform: rotate(180deg);
}
.about-overlay-01 h3 {
    font-size: 20px;
    line-height: 26px;
    margin: 0;
}
body {    
    font-family: var(--base-bodyfont);
    font-weight: 400;
    text-transform: inherit;
    font-size: var(--base-bodyfont-Size);
    line-height: 26px;
    color: var(--base-bodyfont-color);
}
h1, h2, h3, h4, h5, h6 { 
    font-family: var(--base-headingfont), sans-serif; margin-bottom: 15px; font-weight: 600; color : var(--base-headingfont-color); text-transform: uppercase;
}
h1 { font-size: 60px; line-height: 72px; }
h2 { font-size: 50px; line-height: 60px; }
h3 { font-size: 18px; line-height: 28px; }
h4 { font-size: 30px; line-height: 40px; }
h5 { font-size: 20px; line-height: 26px; }
h6 { font-size: 18px; line-height: 20px; }

.container-fluid { padding: 0 15px; }
.container {
    max-width: 1200px;
    padding: 0 15px;
}
.row:not(.g-0) {
    margin-left: -15px;
    margin-right: -15px;
}
.row:not(.g-0) > [class*='col-'] {
    padding-left: 15px;
    padding-right: 15px;
}

/** Extra-outer **/
body .page {
    overflow: hidden;
    position: relative;
}
body .site-main {
    background-color: #fff;
    position: relative;
    z-index: 1;
}
body .page.sidebar-true .site-main{ 
    padding: 0;
    background-color: #fff;
}
a {
    color: var(--base-dark);
}
a:hover { color: var(--base-skin); }
a, img{
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
label { font-size: 14px; }
.fs-15 { font-size: 15px !important; line-height: 25px; }
.fs-16 { font-size: 16px !important; line-height: 26px; }
.fs-17 { font-size: 17px !important; line-height: 27px; }
.fs-18 { font-size: 18px !important; line-height: 28px; }
.fs-20 { font-size: 20px !important; line-height: 30px; }
.fs-22 { font-size: 22px !important; line-height: 32px; }
.fs-24 { font-size: 24px !important; line-height: 34px; }
.fs-26 { font-size: 26px !important; line-height: 36px; }
.fs-28 { font-size: 28px !important; line-height: 38px; }
.fs-30 { font-size: 30px !important; line-height: 40px; }
.fs-34 { font-size: 34px !important; line-height: 44px; }

.lh-base {line-height: 20px!important;}

.fw-500 { font-weight: 500 !important; }
.fw-600 { font-weight: 600 !important; }
.fw-700 { font-weight: 700 !important; }

.box-shadow{ box-shadow: 0 0 9px 0 rgba(29, 33, 67, 0.10) }
.box-shadow_1{box-shadow: 0 0 10px 0 rgba(2, 20, 47, 0.08); }

.border-rad_3 { border-radius: 3px;}
.border-rad_4 { border-radius: 4px;}
.border-rad_5 { border-radius: 5px;}
.border-rad_6 { border-radius: 6px;}
.border-rad_7 { border-radius: 7px;}
.border-rad_8 { border-radius: 8px;}
.border-rad_9 { border-radius: 9px;}
.border-rad_10 { border-radius: 10px;}

.border-tl-rad_5{border-top-left-radius: 5px;}
.border-tr-rad_5{border-top-right-radius: 5px;}
.border-br-rad_5{border-bottom-right-radius: 5px;}
.border-bl-rad_5{border-bottom-left-radius: 5px;}

.alignleft {
    float: left;
    margin: .425em 1.75em 1.25em 0;
}
.alignright {
    float: right;
    margin: .425em 0 1.25em 1.75em;
}
.z-index_1{ z-index: -1; }
.z-index-0{ z-index: 0; }
.z-index-1{ z-index: 1; }
.z-index-2{ z-index: 2; }
.z-index-3{ z-index: 3; }
.z-index-5{ z-index: 5; }

.underline { position: relative; }
.underline:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--base-skin);
    bottom: 1px;
    left: 0;
}
.border_1 {
    border: 2px dashed #e7e7e7;
}
.border-rounded {
    border-radius: 50%;
}
.overlay-opacity-box {
    background: rgba(255, 255, 255, 0.80);
    padding: 70px 0;
    opacity: 1;
}
.cmt-box-shadow{
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 9%);
}

/* ===============================================
    Spacing
------------------------*/

/** Padding **/
.spacing-1 { padding: 120px 0 200px; }
.spacing-2 { padding: 198px 15px 42px 30px; }
.spacing-3 { margin-top: -740px; }
.spacing-4 { margin-top: -313px; }
.spacing-5 { padding: 100px 0 60px 45px; }
.spacing-6 { margin-top: -140px; }
.spacing-7 { padding: 38px 0; }
.spacing-8 { padding: 38px 45px; }
.spacing-9 { padding: 100px 250px 162px 0; margin-right: -260px; margin-bottom: -100px;}
.spacing-10 { padding: 0 688px 0 0; margin-right: -260px; margin-left: 100px; }
.spacing-11 { padding: 45px 40px; }
.spacing-12 { margin: 325px 0 0; }
.spacing-13 { padding: 31px 0 295px 0; }
.spacing-14 { margin-top: 50px; margin-bottom: 50px; }
.spacing-15 { padding: 50px 400px 100px 0; margin-right: -350px; }
.spacing-16 { padding: 100px 50px 83px 50px; margin: 0 630px 0 0; }
.spacing-17 { margin-top: -273px; }
.spacing-18 { padding: 37px 90px 33px 265px; margin-left: 338px;}
.spacing-19 { padding: 300px 0 275px; }
.spacing-20 { padding: 75px 30px 45px; margin: -404px 0 0; }
.spacing-21 { padding: 50px 40px 50px 90px; }
.spacing-22 { margin-top: -525px ; }
.spacing-23 { margin-top: -530px !important ; padding: 0 15px; }
.spacing-24 { margin-top: 35px; }
.spacing-25 { padding: 100px 0 560px; }
.spacing-26 { padding: 45px 40px; }
.spacing-27 { padding: 0px 40px !important ; }

.p-10 { padding: 10px ! important ; }
.p-15 { padding: 15px ! important ; }
.p-20 { padding: 20px ! important ; }
.p-25 { padding: 25px ! important ; }
.p-30 { padding: 30px ! important ; }
.p-40 { padding: 40px ! important ; }
.p-45 { padding: 45px ! important ; }
.p-50 { padding: 50px ! important ; }
.p-60 { padding: 60px ! important ; }
.p-80 { padding: 80px ! important ; }
.p-100{ padding: 100px ! important ; }

.pr-0{ padding-right: 0 !important ; }
.pr-5{ padding-right: 5px ! important ;}
.pr-10{ padding-right: 10px ! important ; }
.pr-15{ padding-right: 15px ! important ; }
.pr-20{ padding-right: 20px ! important ; }
.pr-25{ padding-right: 25px ! important ; }
.pr-30{ padding-right: 30px ! important ; }
.pr-35{ padding-right: 35px ! important ; }
.pr-40{ padding-right: 40px ! important ; }
.pr-45{ padding-right: 45px ! important ; }
.pr-50{ padding-right: 50px ! important ; }
.pr-55{ padding-right: 55px ! important ; }
.pr-60{ padding-right: 60px ! important ; }
.pr-65{ padding-right: 65px ! important ; }
.pr-70{ padding-right: 70px ! important ; }
.pr-75{ padding-right: 75px ! important ; }
.pr-80{ padding-right: 80px ! important ; }
.pr-85{ padding-right: 85px ! important ; }
.pr-90{ padding-right: 90px ! important ; }
.pr-95{ padding-right: 95px ! important ; }
.pr-100{ padding-right: 100px ! important ; }
.pr-115{ padding-right: 115px ! important ; }
.pr-250{ padding-right: 250px ! important ; }

.pl-0{ padding-left: 0px !important ; }
.pl-2{ padding-left: 2px ! important ; }
.pl-3{ padding-left: 3px ! important ; }
.pl-5{ padding-left: 5px ! important ; }
.pl-10{ padding-left: 10px ! important ; }
.pl-15{ padding-left: 15px ! important ; }
.pl-20{ padding-left: 20px ! important ; }
.pl-25{ padding-left: 25px ! important ; }
.pl-30{ padding-left: 30px ! important ; }
.pl-35{ padding-left: 35px ! important ; }
.pl-40{ padding-left: 40px ! important ; }
.pl-45{ padding-left: 45px ! important ; }
.pl-50{ padding-left: 50px ! important ; }
.pl-55{ padding-left: 55px ! important ; }
.pl-60{ padding-left: 60px ! important ; }
.pl-65{ padding-left: 65px ! important ; }
.pl-70{ padding-left: 70px ! important ; }
.pl-75{ padding-left: 75px ! important ; }
.pl-80{ padding-left: 80px ! important ; }
.pl-85{ padding-left: 85px ! important ; }
.pl-90{ padding-left: 90px ! important ; }
.pl-95{ padding-left: 95px ! important ; }
.pl-100{ padding-left: 100px ! important ; }

.pt-0{ padding-top: 0px !important ;}
.pt-5{ padding-top: 5px ! important ;}
.pt-10{ padding-top: 10px ! important ; }
.pt-15{ padding-top: 15px ! important ; }
.pt-20{ padding-top: 20px ! important ; }
.pt-23{ padding-top: 23px ! important ; }
.pt-25{ padding-top: 25px ! important ; }
.pt-30{ padding-top: 30px ! important ; }
.pt-35{ padding-top: 35px ! important ; }
.pt-40{ padding-top: 40px ! important ; }
.pt-45{ padding-top: 45px ! important ; }
.pt-50{ padding-top: 50px ! important ; }
.pt-55{ padding-top: 55px ! important ; }
.pt-60{ padding-top: 60px ! important ; }
.pt-65{ padding-top: 65px ! important ; }
.pt-70{ padding-top: 70px ! important ; }
.pt-75{ padding-top: 75px ! important ; }
.pt-77{ padding-top: 77px ! important ; }
.pt-80{ padding-top: 80px ! important ; }
.pt-90{ padding-top: 90px ! important ; }
.pt-100{ padding-top: 100px ! important ;}
.pt-115{ padding-top: 115px ! important ;}
.pt-120{ padding-top: 120px ! important ;}
.pt-127{ padding-top: 127px ! important ;}
.pt-130{ padding-top: 130px ! important ;}
.pt-140{ padding-top: 140px ! important ;}
.pt-150{ padding-top: 150px ! important ;}
.pt-160{ padding-top: 160px ! important ;}
.pt-170{ padding-top: 170px ! important ;}
.pt-180{ padding-top: 180px ! important ;}
.pt-190{ padding-top: 190px ! important ;}
.pt-200{ padding-top: 200px ! important ;}
.pt-245{ padding-top: 245px ! important ;}
.pt-350{ padding-top: 350px ! important ;}

.pb-0{ padding-bottom: 0px !important ; }
.pb-5{ padding-bottom: 5px ! important ; }
.pb-10{ padding-bottom: 10px ! important ; }
.pb-15{ padding-bottom: 15px ! important ; }
.pb-20{ padding-bottom: 20px ! important ; }
.pb-25{ padding-bottom: 25px ! important ; }
.pb-30{ padding-bottom: 30px ! important ; }
.pb-35{ padding-bottom: 35px ! important ; }
.pb-40{ padding-bottom: 40px ! important ; }
.pb-45{ padding-bottom: 45px ! important ; }
.pb-50{ padding-bottom: 50px ! important ; }
.pb-55{ padding-bottom: 55px ! important ; }
.pb-60{ padding-bottom: 60px ! important ; }
.pb-65{ padding-bottom: 65px ! important ; }
.pb-70{ padding-bottom: 70px ! important ; }
.pb-75{ padding-bottom: 75px ! important ; }
.pb-80{ padding-bottom: 80px ! important ; }
.pb-85{ padding-bottom: 85px ! important ; }
.pb-90{ padding-bottom: 90px ! important ; }
.pb-95{ padding-bottom: 95px ! important ; }
.pb-100{ padding-bottom: 100px ! important ; }
.pb-120{ padding-bottom: 120px ! important ; }
.pb-130{ padding-bottom: 130px ! important ; }
.pb-140{ padding-bottom: 140px ! important ; }
.pb-150{ padding-bottom: 150px ! important ; }
.pb-160{ padding-bottom: 160px ! important ; }
.pb-170{ padding-bottom: 170px ! important ; }
.pb-180{ padding-bottom: 180px ! important ; }
.pb-185{ padding-bottom: 185px ! important ; }
.pb-190{ padding-bottom: 190px ! important ; }
.pb-200{ padding-bottom: 200px ! important ; }
.pb-280{ padding-bottom: 280px ! important ; }

/** Margin **/
.mt-0{ margin-top: 0px !important ; }
.mt-5{ margin-top: 5px ! important ; }
.mt-10 { margin-top: 10px ! important ; }
.mt-12 { margin-top: 12px ! important ; }
.mt-15{ margin-top: 15px ! important ; }
.mt-20{ margin-top: 20px ! important ; }
.mt-25{ margin-top: 25px ! important ; }
.mt-30{ margin-top: 30px ! important ; }
.mt-35{ margin-top: 35px ! important ; }
.mt-40{ margin-top: 40px ! important ; }
.mt-45{ margin-top: 45px ! important ; }
.mt-50{ margin-top: 50px ! important ; }
.mt-60{ margin-top: 60px ! important ; }
.mt-65{ margin-top: 65px ! important ; }
.mt-70{ margin-top: 70px ! important ; }
.mt-80{ margin-top: 80px ! important ; }
.mt-90{ margin-top: 90px ! important ; }
.mt-100{ margin-top: 100px ! important ; }
.mt-120{ margin-top: 120px ! important ; }
.mt-130{ margin-top: 130px ! important ; }
.mt-140{ margin-top: 140px ! important ; }
.mt-150{ margin-top: 150px ! important ; }
.mt-160{ margin-top: 160px ! important ; }
.mt-400{ margin-top: 400px ! important ; }

.mt_5{ margin-top: -5px ! important ; }
.mt_10{ margin-top: -10px ! important ; }
.mt_15{ margin-top: -15px ! important ; }
.mt_20{ margin-top: -20px ! important ; }
.mt_25{ margin-top: -25px ! important ; }
.mt_27{ margin-top: -27px ! important ; }
.mt_30{ margin-top: -30px ! important ; }
.mt_35{ margin-top: -35px ! important ; }
.mt_40{ margin-top: -40px ! important ; }
.mt_50{ margin-top: -50px ! important ; }
.mt_55{ margin-top: -55px ! important ; }
.mt_60{ margin-top: -60px ! important ; }
.mt_65{ margin-top: -65px !important ; }
.mt_70{ margin-top: -70px ! important ; }
.mt_75{ margin-top: -75px ! important ; }
.mt_80{ margin-top: -80px ! important ; }
.mt_90{ margin-top: -90px ! important ; }
.mt_100{ margin-top: -100px ! important ; }
.mt_105{ margin-top: -105px ! important ; }
.mt_110{ margin-top: -110px ! important ; }
.mt_120{ margin-top: -120px ! important ; }
.mt_130{ margin-top: -130px ! important ; }
.mt_140{ margin-top: -140px ! important ; }
.mt_150{ margin-top: -150px ! important ; }
.mt_160{ margin-top: -160px ! important ; }
.mt_170{ margin-top: -170px ! important ; }
.mt_180{ margin-top: -180px ! important ; }
.mt_190{ margin-top: -190px ! important ; }
.mt_200{ margin-top: -200px ! important ; }
.mt_210{ margin-top: -210px ! important ; }
.mt_220{ margin-top: -220px ! important ; }
.mt_230{ margin-top: -230px ! important ; }
.mt_240{ margin-top: -240px ! important ; }
.mt_250{ margin-top: -250px ! important ; }
.mt_260{ margin-top: -260px ! important ; }
.mt_270{ margin-top: -270px ! important ; }
.mt_280{ margin-top: -280px ! important ; }
.mt_300{ margin-top: -300px ! important ; }
.mt_310{ margin-top: -310px ! important ; }
.mt_320{ margin-top: -320px ! important ; }
.mt_325{ margin-top: -325px ! important ; }
.mt_332{ margin-top: -332px ! important ; }
.mt_340{ margin-top: -340px ! important ; }
.mt_360{ margin-top: -360px ! important ; }
.mt_380{ margin-top: -380px ! important ; }
.mt_525{ margin-top: -525px ! important ; }

.mb-0{ margin-bottom: 0px !important ; }
.mb-5{ margin-bottom: 5px ! important ; }
.mb-10{ margin-bottom: 10px ! important ; }
.mb-12{ margin-bottom: 12px ! important ; }
.mb-15{ margin-bottom: 15px ! important ; }
.mb-25{ margin-bottom: 25px ! important ;}
.mb-20{ margin-bottom: 20px ! important ; }
.mb-30{ margin-bottom: 30px ! important ; }
.mb-35{ margin-bottom: 35px ! important ; }
.mb-40{ margin-bottom: 40px ! important ; }
.mb-45{ margin-bottom: 45px ! important ; }
.mb-50{ margin-bottom: 50px ! important ; }
.mb-60{ margin-bottom: 60px ! important ; }
.mb-65{ margin-bottom: 65px ! important ; }
.mb-70{ margin-bottom: 70px ! important ; }
.mb-80{ margin-bottom: 80px ! important ; }
.mb-90{ margin-bottom: 90px ! important ; }
.mb-100{ margin-bottom: 100px ! important ; }
.mb-110{ margin-bottom: 110px ! important ; }
.mb-120{ margin-bottom: 120px ! important ; }
.mb-130{ margin-bottom: 130px ! important ; }
.mb-140{ margin-bottom: 140px ! important ; }
.mb-150{ margin-bottom: 150px ! important ; }
.mb-160{ margin-bottom: 160px ! important ; }
.mb-170{ margin-bottom: 170px ! important ; }
.mb-180{ margin-bottom: 180px ! important ; }
.mb-190{ margin-bottom: 190px ! important ; }
.mb-200{ margin-bottom: 200px ! important ; }


.mb_5{ margin-bottom: -5px ! important ; }
.mb_10{ margin-bottom: -10px ! important ; }
.mb_12{ margin-bottom: -12px ! important ; }
.mb_15{ margin-bottom: -15px ! important ; }
.mb_20{ margin-bottom: -20px ! important ; }
.mb_25{ margin-bottom: -25px ! important ; }
.mb_30{ margin-bottom: -30px ! important ; }
.mb_35{ margin-bottom: -35px ! important ; }
.mb_40{ margin-bottom: -40px ! important ; }
.mb_45{ margin-bottom: -45px ! important ; }
.mb_50{ margin-bottom: -50px ! important ; }
.mb_55{ margin-bottom: -55px ! important ; }
.mb_60{ margin-bottom: -60px ! important ; }
.mb_70{ margin-bottom: -70px ! important ; }
.mb_80{ margin-bottom: -80px ! important ; }
.mb_90{ margin-bottom: -90px ! important ; }
.mb_100{ margin-bottom: -100px ! important ; }
.mb_120{ margin-bottom: -120px ! important ; }
.mb_140{ margin-bottom: -140px ! important ; }

.ml-0{ margin-left: 0px !important ; }
.ml-10{ margin-left: 10px ! important ; }
.ml-15{ margin-left: 15px ! important ; }
.ml-20{ margin-left: 20px ! important ; }
.ml-30{ margin-left: 30px ! important ; }
.ml-40{ margin-left: 40px ! important ; }
.ml-50{ margin-left: 50px ! important ; }
.ml-60{ margin-left: 60px ! important ; }
.ml-70{ margin-left: 70px ! important ; }
.ml-80{ margin-left: 80px ! important ; }
.ml-90{ margin-left: 90px ! important ; }
.ml-100{ margin-left: 100px ! important ; }
.ml-110{ margin-left: 110px ! important ; }
.ml-120{ margin-left: 120px ! important ; }
.ml-120{ margin-left: 120px ! important ; }
.ml-130{ margin-left: 130px ! important ; }
.ml-140{ margin-left: 140px ! important ; }
.ml-150{ margin-left: 150px ! important ; }
.ml-160{ margin-left: 160px ! important ; }
.ml-170{ margin-left: 170px ! important ; }
.ml-180{ margin-left: 180px ! important ; }
.ml-190{ margin-left: 190px ! important ; }
.ml-200{ margin-left: 200px ! important ; }

.ml_10{ margin-left: -10px ! important ; }
.ml_15{ margin-left: -15px ! important ; }
.ml_20{ margin-left: -20px ! important ; }
.ml_25{ margin-left: -25px ! important ; }
.ml_30{ margin-left: -30px ! important ; }
.ml_35{ margin-left: -35px ! important ; }
.ml_40{ margin-left: -40px ! important ; }
.ml_50{ margin-left: -50px ! important ; }
.ml_60{ margin-left: -60px ! important ; }
.ml_70{ margin-left: -70px ! important ; }
.ml_80{ margin-left: -80px ! important ; }
.ml_90{ margin-left: -90px ! important ; }
.ml_100{ margin-left: -100px ! important ; }
.ml_110{ margin-left: -110px ! important ; }
.ml_120{ margin-left: -120px ! important ; }
.ml_130{ margin-left: -130px ! important ; }
.ml_140{ margin-left: -140px ! important ; }
.ml_150{ margin-left: -150px ! important ; }
.ml_160{ margin-left: -160px ! important ; }
.ml_180{ margin-left: -180px ! important ; }
.ml_200{ margin-left: -200px ! important ; }
.ml_210{ margin-left: -210px ! important ; }
.ml_220{ margin-left: -220px ! important ; }
.ml_240{ margin-left: -240px ! important ; }
.ml_260{ margin-left: -260px ! important ; }
.ml_280{ margin-left: -280px ! important ; }
.ml_300{ margin-left: -300px ! important ; }

.mr-0{ margin-right: 0px !important ; }
.mr-10{ margin-right: 10px ! important ; }
.mr-15{ margin-right: 15px ! important ; }
.mr-20{ margin-right: 20px ! important ; }
.mr-25{ margin-right: 25px ! important ; }
.mr-30{ margin-right: 30px ! important ; }
.mr-35{ margin-right: 35px ! important ; }
.mr-40{ margin-right: 40px ! important ; }
.mr-50{ margin-right: 50px ! important ; }
.mr-60{ margin-right: 60px ! important ; }
.mr-70{ margin-right: 70px ! important ; }
.mr-80{ margin-right: 80px ! important ; }
.mr-90{ margin-right: 90px ! important ; }
.mr-100{ margin-right: 100px ! important ; }
.mr-110{ margin-right: 110px ! important ; }
.mr-120{ margin-right: 120px ! important ; }
.mr-130{ margin-right: 130px ! important ; }
.mr-140{ margin-right: 140px ! important ; }
.mr-150{ margin-right: 150px ! important ; }
.mr-160{ margin-right: 160px ! important ; }
.mr-170{ margin-right: 170px ! important ; }
.mr-180{ margin-right: 180px ! important ; }
.mr-190{ margin-right: 190px ! important ; }
.mr-200{ margin-right: 200px ! important ; }

.mr_10{ margin-right: -10px ! important ; }
.mr_15{ margin-right: -15px ! important ; }
.mr_20{ margin-right: -20px ! important ; }
.mr_25{ margin-right: -25px ! important ; }
.mr_30{ margin-right: -30px ! important ; }
.mr_35{ margin-right: -35px ! important ; }
.mr_40{ margin-right: -40px ! important ; }
.mr_50{ margin-right: -50px ! important ; }
.mr_60{ margin-right: -60px ! important ; }
.mr_70{ margin-right: -70px ! important ; }
.mr_80{ margin-right: -80px ! important ; }
.mr_90{ margin-right: -90px ! important ; }
.mr_100{ margin-right: -100px ! important ; }
.mr_130{ margin-right: -130px ! important ; }
.mr_140{ margin-right: -140px ! important ; }
.mr_150{ margin-right: -150px ! important ; }
.mr_160{ margin-right: -160px ! important ; }
.mr_180{ margin-right: -180px ! important ; }
.mr_200{ margin-right: -200px ! important ; }
.mr_210{ margin-right: -210px ! important ; }
.mr_220{ margin-right: -220px ! important ; }
.mr_240{ margin-right: -240px ! important ; }
.mr_260{ margin-right: -260px ! important ; }
.mr_280{ margin-right: -280px ! important ; }
.mr_300{ margin-right: -300px ! important ; }
.mr_350{ margin-right: -350px ! important ; }


/* ===============================================
    Pre-loader
------------------------*/
.blobs-wrapper {
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    display: flex;
    text-align: center;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    background: #fff;
}
.loader-blob {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin: 3em;
    text-align: center;
    display: block;
    margin: 0 auto;
    position: relative;
    vertical-align: middle;
}
.loader-blob,
.loader-blob:before,
.loader-blob:after {
    animation: 1.15s infinite ease-in-out;
    -o-animation: 1.15s infinite ease-in-out;
    -ms-animation: 1.15s infinite ease-in-out;
    -webkit-animation: 1.15s infinite ease-in-out;
    -moz-animation: 1.15s infinite ease-in-out;
}
.loader-blob:before,
.loader-blob:after {
    width: 100%; 
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.loader-blob { animation-name: loader-blob;
    -o-animation-name: loader-blob;
    -ms-animation-name: loader-blob;
    -webkit-animation-name: loader-blob;
    -moz-animation-name: loader-blob; }
@keyframes loader-blob {
    from { transform: scale(0); opacity: 1; }
    to   { transform: scale(1); opacity: 0; }
}
@-o-keyframes loader-blob {
    from { -o-transform: scale(0); opacity: 1; }
    to   { -o-transform: scale(1); opacity: 0; }
}
@-ms-keyframes loader-blob {
    from { -ms-transform: scale(0); opacity: 1; }
    to   { -ms-transform: scale(1); opacity: 0; }
}
@-webkit-keyframes loader-blob {
    from { -webkit-transform: scale(0); opacity: 1; }
    to   { -webkit-transform: scale(1); opacity: 0; }
}
@-moz-keyframes loader-blob {
    from { -moz-transform: scale(0); opacity: 1; }
    to   { -moz-transform: scale(1); opacity: 0; }
}


/*  ===============================================
    SocialIcon / TooltipTop
------------------------*/
ul.social-icons{ 
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.social-icons li {
    display: inline-block;
    border: none;
    z-index: 1;
    position: relative;
}
.social-icons li{
    margin: 0 2px;
}
.cmt-header-style-02 .social-icons li:last-child,
.social-icons li:last-child{
    margin-right: 0px;
}
.social-icons li a{
    display: block;
    min-width: 26px;
    text-align: center;
}
.social-icons.circle li>a {
    border-width: 1px ;
    border-style: solid;
    height: 33px;
    width: 33px;
    line-height: 33px;
    text-align: center;
    display: block;
    background-color: transparent;
    font-size: 13px;
    border-radius: 50%;
}
/*.social-icons.square.style2*/

.social-icons.square.style2 { display: none; }
.social-icons.square.style2 { display: block; }
.social-icons.square.style2 li a i { color: var(--base-bodyfont-color); }
.social-icons.square.style2 li a { 
    background-color: var(--base-grey); 
    border: 0 px solid transparent; 
    border-radius: 0;
    height: 44px;
    width: 44px;
    line-height: 44px;
}
.social-icons.square.style2 li a:hover { background-color: var(--base-dark); }
.social-icons.square.style2 li a:hover i { color: var(--base-white); }

/*.social-icons.square.style3*/

.social-icons.square.style3 { display: none; }
.social-icons.square.style3 { display: block; }
.social-icons.square.style3 li a i { color: var(--base-bodyfont-color); }
.social-icons.square.style3 li a { 
    background-color: transparent; 
    border: 0 px solid transparent; 
    border-radius: 0;
}
.social-icons.square.style3 li a:hover i { color: var(--base-skin); }

/*.social-icons.square.style4*/

.social-icons.square.style4 { display: none; }
.social-icons.square.style4 { display: block; }
.social-icons.square.style4 li a i { color: var(--base-bodyfont-color); }
.social-icons.square.style4 li a { 
    background-color: var(--base-white); 
    border: 0 px solid transparent; 
    border-radius: 5px;
    height: 40px;
    width: 40px;
    line-height: 40px;
}
.social-icons.square.style4 li a:hover { background-color: var(--base-skin); }
.social-icons.square.style4 li a:hover i { color: var(--base-white); }



/* TooltipTop */
.tooltip-top{ position: relative; }
.tooltip:after, .tooltip:before, [data-tooltip]:after, [data-tooltip]:before {
    position: absolute;
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity .2s ease-in-out,visibility .2s ease-in-out,-webkit-transform .2s cubic-bezier(.71,1.7,.77,1.24);
    -moz-transition: opacity .2s ease-in-out,visibility .2s ease-in-out,-moz-transform .2s cubic-bezier(.71,1.7,.77,1.24);
    transition: opacity .2s ease-in-out,visibility .2s ease-in-out,transform .2s cubic-bezier(.71,1.7,.77,1.24);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    pointer-events: none;
}
.tooltip:before, [data-tooltip]:before {
    z-index: 1001;
    border: 6px solid transparent;
    background: 0 0;
    content: "";
}
.tooltip-top:before, .tooltip:before, [data-tooltip]:before {
    margin-left: -6px;
    margin-bottom: -12px;
    border-top-color: inherit;
}
.tooltip-top:after, .tooltip-top:before, .tooltip:after, .tooltip:before, 
[data-tooltip]:after, [data-tooltip]:before {
    bottom: 100%;
    left: 50%;
}
.tooltip-bottom:after{
    bottom: -100%;
}
.tooltip-bottom:before{
    margin-left: -6px;
    margin-bottom: -12px;
    border-top-color: transparent;
}
.tooltip-bottom:before{
    bottom: -7px;
}
.tooltip-top:focus:after, .tooltip-top:focus:before, .tooltip-top:hover:after, .tooltip-top:hover:before, 
.tooltip:focus:after, .tooltip:focus:before, .tooltip:hover:after, .tooltip:hover:before, [data-tooltip]:focus:after, 
[data-tooltip]:focus:before, [data-tooltip]:hover:after, [data-tooltip]:hover:before {
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    transform: translateY(-12px);
}
.tooltip-top:after, .tooltip:after, [data-tooltip]:after {
    margin-left: -60px;
}
.tooltip:after, [data-tooltip]:after {
    z-index: 1000;
    padding: 8px;
    width: 120px;
    color: #fff;
    content: attr(data-tooltip);
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    border-radius: 5px;
}
.tooltip:focus:after, .tooltip:focus:before, .tooltip:hover:after, .tooltip:hover:before, 
[data-tooltip]:focus:after, [data-tooltip]:focus:before, [data-tooltip]:hover:after, [data-tooltip]:hover:before {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(Opacity=100);
    opacity: 1;
}


/*  ===============================================
    Slick_dots/arrows
------------------------*/
.slick-slide{ border: 0; outline: 0; padding: 0 15px;}
.slick_slider.no-gutters .slick-slide { padding: 0; }
.slick-slide_ver-sep .slick-slide.slick-active:not(.slick-current) > div:after{
    position: absolute;
    content: "";
    top: 0;
    left: -15px;
    height: 100%;
    width: 1px;
    background-color: #e4e4e4;
}
.cmt-bgcolor-darkgrey .slick-slide_ver-sep .slick-slide.slick-active:not(.slick-current) > div:after,
.cmt-bgcolor-skincolor .slick-slide_ver-sep .slick-slide.slick-active:not(.slick-current) > div:after{
    background-color: rgba(255,255,255,.3);
}
.slick_slider.slick_slider-opacity_block .slick-list {
    overflow: visible;
}
.slick_slider.slick-dots-style1 .slick-dots,
.slick_slider.slick-dots-style2 .slick-dots,
.slick_slider.slick-dots-style3 .slick-dots{
    padding: 0;
    margin: 0;
    padding-top: 30px;
    top: 100%;
    line-height: 0;
}
.slick_slider.slick-dots-style1 .slick-dots li,
.slick_slider.slick-dots-style2 .slick-dots li,
.slick_slider.slick-dots-style3 .slick-dots li{
    display: inline-block;
    list-style: none;
    line-height: 0;
}
.slick_slider.slick-dots-style1 .slick-dots li {
    width: calc( 19.3% - 0px );
}
.slick_slider.slick-dots-style1 .slick-dots li button{
    height: 4px;
    width: 100%;
    border: 0;
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 0;
    background-color: transparent;
    background-color: #e2e9f1;
}
.slick_slider.slick-dots-style1 .slick-dots li.slick-active button{
    margin: 0;
}
.slick_slider.slick-dots-style2 .slick-dots li button,
.slick_slider.slick-dots-style3 .slick-dots li button{
    height: 5px;
    width: 9px;
    border: 0;
    font-size: 0;
    padding: 0;
    position: relative;
    margin: 0 5px 0 0;
    background-color: #e2e9f1;
}
.slick_slider.slick-dots-style2 .slick-dots li.slick-active button,
.slick_slider.slick-dots-style3 .slick-dots li.slick-active button {
    width: 25px;
}
.slick_slider.slick-dots-style3 .slick-dots { position: absolute; }
.slick_slider.slick-dots-style3 .slick-dots li button {
    height: 10px;
    width: 10px;
    border-radius: 50px;
}

.slick_slider .slick-arrow {
    height: 37px;
    width: 37px;
    border-radius: 5px;
    z-index: 1;
    border: 0;
    color: inherit;
    background-color: rgba(255,255,255,.07);
    box-shadow: 0 0 10px 0 rgba(0, 43, 92, 0.08);
    border: 0;
}
.slick_slider .slick-next{ right: 0; }
.slick_slider .slick-prev:before, .slick_slider .slick-next:before {
    font-family: 'themify';
    font-size: 14px;
    line-height: 1;
    opacity: 1;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick_slider .slick-prev:before {
    content: "\e64a";
}
.slick_slider .slick-next:before {
    content: "\e649";
}
.slick-prev,.slick-next{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

/* style1 */
.slick_slider.slick-arrows-style1 .slick-arrow {
    border: 1px solid #dbdbdb;
    opacity: 0;
    z-index: 11;
    overflow: hidden;
    box-shadow: unset;
}
.slick_slider.slick-arrows-style1 .slick-next{ 
    right: 0px; 
    left: auto;
}
.slick_slider.slick-arrows-style1 .slick-prev {
    left: 0px;
}
.slick_slider.slick-arrows-style1:hover .slick-arrow {
    margin: 0 -60px;
    opacity: 1;
    overflow: visible;
}

/* style2 */
.slick_slider.slick-arrows-style2 .slick-arrow {
    top: -100px;    
    box-shadow: unset;
}
.slick_slider.slick-arrows-style2 .slick-next { 
    right: 27%;
    margin-right: -55px;
    left: auto;
}
.slick_slider.slick-arrows-style2 .slick-prev {
    left: 73%;
    margin-left: -25px;
}

/* style3 */
.slick_slider.slick-arrows-style3 .slick-next,
.slick_slider.slick-arrows-style3 .slick-prev  {
    font-size: 0;
    line-height: 0;
    position: absolute;
    bottom: 10px;
    top: auto;
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    background-color: transparent;
    border: 1px solid rgba(255,255,255,.13);
    cursor: pointer;
    color: #fff;
}
.slick_slider.slick-arrows-style3 .slick-prev {
    left: -39%;
}
.slick_slider.slick-arrows-style3 .slick-next {
    left: -35%;
}

/*  ===============================================
    TopBar
------------------------*/
.top_bar {
    width: 100%;
    z-index: 3;
    height: 37px;
    line-height: 37px;
    position: relative;
}
.top_bar .social-icons li {
    min-width: auto;
    margin-left: 0;
    margin-right: 10px;
}
.top_bar .social-icons li:last-child {
    margin-right: 0px;
}
.top_bar .social-icons li a{
    border: 1px solid rgba(255, 255, 255 , 0.20);
    height: 35px;
    width: 35px;
    line-height: 36px;
    border-radius: 5px;
}
.cmt-header-style-01 .top_bar .social-icons li a:hover {
    background-color: #21a12e;
    color: #fff;
    border-color: #21a12e;
}
.top_bar_inner {
    margin-top: 15px;
    padding: 0px 29px 0 26px;
    margin-bottom: -23px;
    z-index: 2;
    display: flex;
    position: relative;
    border-radius: 5px;
}
.top_bar_contact_item .top_bar_icon i { 
    font-size: 15px;
}
.top_bar_contact_item .top_bar_icon i,
.top_bar_contact_item span {
    color: var(--base-skin);
    font-weight: 700;
}
.text-base-white .top_bar_contact_item a:hover{color: var(--base-skin);}
.top_bar_contact_item .social-icons ul {
    margin: 0;
}
.top_bar_icon {
    display: inline-block;
    margin-right: 8px;
}
.top_bar_icon .icon-location-2:before {
    margin: 0;
}
.top_bar_contact_item {
    font-size: 15px;
    height: 60px;
    line-height: 60px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    display: inline-block;
}

/*  ===============================================
    Header
------------------------*/

/** SiteBrand(logo) **/
.site-branding {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.site-header-menu-inner {
    padding: 0 35px;
}
.site-branding img { max-height: 56px; }

/* header_extra */
.header_extra {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header_search .search_btn {
    position: relative;
    font-size: 18px;
    line-height: 29px;
    padding-right: 18px;
    border: 1px solid transparent;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.header_search_content button.close-search {
    border: 0;
    border-radius: 0;
    padding: 0;
    height: 45px;
    position: absolute;
    left: 0;
    box-shadow: none;
}
.header_search_content button.close-search i { font-size: 16px; line-height: 45px; }
.header_search_content button.close-search:after {
    position: absolute;
    content: '';
    height: 26px;
    width: 1px;
    border-right: 1px solid;
    right: -23px;
    top: 10px;
    opacity: .5;
}
.header_search .header_search_content{
    position: absolute;
    top: 75px;
    right: 0px;
    width: 615px;
    padding: 22px 30px 23px;
    background: #ffffff!important;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all ease .3s;
    -ms-transition: all ease .3s;
    transition: all ease .3s;
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.1);
    -ms-box-shadow: 0 3px 5px rgba(0,0,0,.1);
    box-shadow: 0 3px 5px rgba(0,0,0,.1);
    z-index: 2;
}
.cmt-header-style-03 .header_search .header_search_content { top: 61px; }
.header_search .header_search_content.on {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.header_search .search_btn.open i {
    color: var(--base-skin);
}
.header_search .header_search_content #searchbox { position: relative; }
.header_search .header_search_content #search_query_top {
    font-weight: 400;
    position: relative;
    clear: both;
    min-width: 240px;
    font-size: 14px;
    text-align: left;
    height: 45px;
    border: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none!important;
    width: 100%;
    line-height: 50px;
    float: left;
    padding: 15px 40px 12px 71px;
}
.header_search .header_search_content input::placeholder {
    color: #585858;
}
.header_search .header_search_content a.close_btn:hover > i { color: var(--base-skin) !important ;}
.header_search .header_search_content_inner .close_btn {
    position: absolute;
    right: 25px;
    top: 0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
    z-index: 3;
}
.header_search .header_search_content .close_btn i {
    font-size: 16px;
    line-height: 15px;
}
.header_cart .button-cart {
    display: block;
    position: relative;
    text-align: center;
    font-size: 16px;
    z-index: 1;
}
.header_cart .cart_count {
    position: absolute;
    bottom: 19px;
    left: 14px;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 17px;
    font-size: 9px;
    display: block;
    color: var(--base-white);
    border-radius: 3px;
}
.header_extra .widget_info{
    position: relative;
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header_extra .widget_info .widget_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
}
.header_extra .widget_info:last-child{
    padding-right: 0px;
}
.header_extra .widget_info .widget_icon i {
    font-size: 35px;
    line-height: 35px;
    color: var(--base-skin);
}
.header_extra .widget_info .widget_content span {
     font-size: 14px;
     line-height: 28px;
     font-weight: 700 !important;
     margin: 0;
     padding-left: 12px;
     color: var(--base-dark);
}
.header_extra .widget_info .widget_content p {
    font-size: 14px;
    line-height: 22px;
    display: block;
    margin: 0;
    font-weight: 400;
}
.header_extra .widget_info .widget_content p a {
    font-size: 14px;
    line-height: 22px;
    display: block;
    margin: 0;
    padding-left: 12px;
    font-weight: 400;
}
.widget_info .social-icons ul li a {
    width: 26px;
    height: 48px;
    line-height: 48px;
    border-radius: 0;
    border: none;
    text-align: center;
    display: block;
    background-color: transparent;
    font-size: 16px;
    margin-right: 3px;
    font-weight: 500;
}

/** SiteNavigation(Menu) **/
.site-navigation {
    position: relative;
}
nav.main-menu ul {
    position: relative;
    margin: 0;
}
.site-navigation ul.menu > li > a {
    text-decoration: none;
    z-index: 1;
    font-family: var(--base-headingfont);
    color: var(--base-dark);
    text-transform: uppercase;
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
}

#site-header-menu .cmt-stickable-header .site-navigation ul.menu > li.active >a {
    color: var(--base-skin);
}
.header_cart { position: relative; }
.header_cart span.number-cart {
    position: absolute;
    top: 5px;
    right: 0;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 16px;
    font-size: 9px;
    display: block;
    background-color: var(--base-skin);
    color: var(--base-white);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

/*cmt-header-style-01*/

.cmt-header-style-01 .site-header-menu { background-color: rgba(255, 255, 255, 1) !important; z-index: 3; }
.cmt-header-style-01 .site-navigation .site-menubar { display: flex; justify-content: flex-end; }
.cmt-header-style-01 .site-navigation nav.main-menu { padding-right: 11px; }
.cmt-header-style-01 .site-navigation nav.main-menu ul.menu > li > a:before ,
.cmt-header-style-01 .site-navigation nav.main-menu ul.menu > li.active > a:before { 
    content: '';
    background-color: var(--base-skin); 
    position: absolute;
    width: 0%;
    height: 8px;
    bottom: 40px;
    left: 15%;
    margin: auto;
    opacity: 0.20; 
    transform: ;
    transition: all 0.3s ease-out;
}
.cmt-header-style-01 .site-navigation nav.main-menu ul.menu > li > a:hover:before ,
.cmt-header-style-01 .site-navigation nav.main-menu ul.menu > li.active > a:before {   
    width: 70%;
    transform: width;
    transition: all 0.3s ease-out;
}
.cmt-header-style-01 .site-navigation .header_extra { padding-right: 0px;}
.cmt-header-style-01 .site-navigation .site-branding:before { display: none; }
.cmt-header-style-01 .site-navigation .header_extra .widget_info { padding: 0 30px; }
.cmt-header-style-01 .site-navigation .header_extra > div { position: relative; }
.cmt-header-style-01 .site-navigation .header_extra > div:not(:last-child) { padding: 0 30px; }
.cmt-header-style-01 .site-navigation .header_extra > div:last-child { padding-left: 30px; padding-right: 0; }
.cmt-header-style-01 .site-navigation .header_extra > div:before {
    content: '';
    position: absolute;
    background-color: #e2e2e2;
    width: 1px;
    height: 100%;
    top: 0;
    left: 0;
}
.cmt-header-style-01 .site-navigation .header_extra .header_search .search_btn:before { display: none; }
.cmt-header-style-01 .header_extra .widget_info .widget_content p a { padding-left: 0;}
.cmt-header-style-01 .site-navigation .header_extra .header_search,
.cmt-header-style-01 .site-navigation .header_extra .header_cart { line-height: 50px; font-size: 14px;}
.cmt-header-style-01 .header_search .search_btn , 
.cmt-header-style-01 .header_cart .button-cart { font-size: 20px; }
.cmt-header-style-01 .header_extra .widget_info .widget_desc { margin-bottom: 0; padding-left: 12px;}
.cmt-header-style-01 .site-navigation .header_extra .header_btn a { margin-top: 3px; }

/*cmt-header-style-02*/

.cmt-header-style-02 .site-header-menu { background-color: rgba(0, 0, 0, 0.15) !important; z-index: 3; }
.cmt-header-style-02 .site-navigation .site-menubar { display: flex; justify-content: flex-end; }
.cmt-header-style-02 .site-navigation nav.main-menu { padding-left: 44px; }
.cmt-header-style-02 .site-navigation .site-branding:after {
    content: '';
    position: absolute;
    background: rgba(255,255,255,.07);
    width: 1px;
    height: 100%;
    top: 0;
    right: 0;
}
.cmt-header-style-02 .site-navigation ul.menu > li > a { color: var(--base-white); }
.cmt-header-style-02 .site-navigation nav.main-menu ul.menu > li.active > a ,
.cmt-header-style-02 .site-navigation nav.main-menu ul.menu > li:hover > a { color: var(--base-skin); }
.cmt-header-style-02 .site-navigation .header_extra { padding-right: 0px;}
.cmt-header-style-02 .site-branding { padding: 0 60px 0 0; }
.cmt-header-style-02 .site-navigation .header_extra .widget_info { padding: 0 30px; }
.cmt-header-style-02 .site-navigation .header_extra > div { position: relative; }
.cmt-header-style-02 .site-navigation .header_extra > div:not(:last-child) { padding: 0 50px; }
.cmt-header-style-02 .site-navigation .header_extra > div:last-child { padding-left: 50px; padding-right: 0; }
.cmt-header-style-02 .site-navigation .header_extra > div:before {
    content: '';
    position: absolute;
    background: rgba(255,255,255,.07);
    width: 1px;
    height: 100%;
    top: 0;
    left: 0;
}
.cmt-header-style-02 .site-navigation .header_extra > div:first-child:before { display: none; }
.cmt-header-style-02 .site-navigation .header_extra .header_search .search_btn:before { display: none; }
.cmt-header-style-02 .header_extra .widget_info .widget_content p a { 
    padding-left: 0; 
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-family: var(--base-bodyfont);
}
.cmt-header-style-02 .site-navigation .header_extra .header_search { line-height: 54px; font-size: 14px;}
.cmt-header-style-02 .site-navigation .header_extra .header_search i { color: var(--base-white); }
.cmt-header-style-02 .header_search .search_btn  { font-size: 20px; padding-top: 1px; padding-right: 0; }
.cmt-header-style-02 .header_extra .widget_info .widget_title { padding-left: 15px; color: var(--base-white);}
.cmt-header-style-02 .header_extra .widget_info .widget_desc { margin-bottom: 0; padding-left: 15px; }
.cmt-header-style-02 .header_extra .widget_info .widget_desc a { color: var(--base-white); }
.cmt-header-style-02 .header_extra .widget_info .widget_desc a:hover { color: var(--base-skin); }
.cmt-header-style-02 .header_extra .widget_info .widget_icon { 
    background-color: var(--base-skin); 
    height: 54px; 
    width: 54px; 
    line-height: 54px;
 }
.cmt-header-style-02 .header_extra .widget_info .widget_icon i { font-size: 32px; line-height: 1; color: var(--base-white);}
.cmt-header-style-02 .header_search .header_search_content a i ,
.cmt-header-style-02 .header_search .header_search_content button i { color: var(--base-dark) !important; }

/*cmt-header-style-03*/

.cmt-header-style-03 .site-header-menu { background-color: rgba(255, 255, 255, 1) !important; z-index: 3; }
.cmt-header-style-03 .site-header-menu .site-header-menu-inner { padding: 0 ; }
.cmt-header-style-03 .site-navigation .site-menubar { display: flex; justify-content: flex-end; }
.cmt-header-style-03 .site-navigation nav.main-menu { padding-right: 0; }
.cmt-header-style-03 .site-navigation nav.main-menu ul.menu > li > a:before ,
.cmt-header-style-03 .site-navigation nav.main-menu ul.menu > li.active > a:before { 
    content: '';
    background-color: var(--base-skin); 
    position: absolute;
    width: 0%;
    height: 8px;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0.20; 
    transition: all 0.3s ease-out;
}
.cmt-header-style-03 .site-navigation nav.main-menu ul.menu > li > a:hover:before , 
.cmt-header-style-03 .site-navigation nav.main-menu ul.menu > li.active > a:before {   
    width: 75%;
    transform: width;
    transition: all 0.3s ease-out;
}
.cmt-header-style-03 .site-navigation .header_extra { padding-right: 0px;}
.cmt-header-style-03 .site-navigation .site-branding:before { display: none; }
.cmt-header-style-03 .site-navigation .header_extra .widget_info { padding: 0 30px; }
.cmt-header-style-03 .site-navigation .header_extra > div { height: 60px; }
.cmt-header-style-03 .site-navigation .header_extra > div { position: relative; }
.cmt-header-style-03 .site-navigation .header_extra > div:not(:last-child) { padding: 0 30px; }
.cmt-header-style-03 .site-navigation .header_extra > div:last-child { padding-left: 5px; padding-right: 0; }
.cmt-header-style-03 .site-navigation .header_extra > div:before {
    content: '';
    position: absolute;
    background-color: #e2e2e2;
    width: 1px;
    height: 100%;
    top: 0;
    left: 0;
}
.cmt-header-style-03 .site-navigation .header_extra > div:first-child:before { content: unset; }
.cmt-header-style-03 .site-navigation .header_extra .header_search,
.cmt-header-style-03 .site-navigation .header_extra .header_cart { line-height: 60px; font-size: 14px; padding: 0 !important; }
.cmt-header-style-03 .header_search .search_btn , 
.cmt-header-style-03 .header_cart .button-cart { font-size: 18px; padding: 0px 12px; line-height: 60px;}
.cmt-header-style-03 .header_extra .widget_info .widget_content h3 { font-size: 16px !important; line-height: 36px !important; margin-bottom: 0;}
.cmt-header-style-03 .header_extra .widget_info .widget_content h3 i {
    position: relative;
    top: 0;
    margin-right: 5px;
    height: 24px;
    width: 24px;
    line-height: 24px;
    background: var(--base-skin);
    color: var(--base-white);
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
}
.cmt-header-style-03 .header_extra .widget_info .widget_content h3 a {}
.cmt-header-style-03 .site-menubar .header_extra > div { height: 120px; }
.cmt-header-style-03 .site-menubar .header_extra > div:before {
    content: '';
    position: absolute;
    background-color: #e2e2e2;
    width: 1px;
    height: 60px;
    top: 30px;
    left: 0;
}
.cmt-header-style-03 .site-menubar .header_extra .widget_info .widget_content > a { 
    font-weight: 600; 
    font-size: 16px; 
    line-height: 36px;
    font-family: var(--base-headingfont);
}
.cmt-header-style-03 .header_extra .widget_info .widget_content p { font-size: 16px; line-height: 26px; }
.cmt-header-style-03 .site-menubar .header_extra .header_btn:before { content: unset; }
.cmt-header-style-03 .site-menubar .header_extra .header_btn { display: flex; align-items: center;}
.cmt-header-style-03 .header_cart { position: relative; }
.cmt-header-style-03 .header_extra .header_cart:after {     
    content: '';
    position: absolute;
    background-color: #e2e2e2;
    width: 1px;
    height: 100%;
    top: 0;
    right: 0; 
}
.cmt-header-style-03 .header_cart span.number-cart { top: 10px; right: 10px; }
/* ===============================================
    Footer
------------------------*/

.footer{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.first-footer.bg-base-skin ,
.first-footer.bg-base-skin a ,
.first-footer.bg-base-skin i { color: var(--base-white); }
.second-footer.bg-base-dark ,
.second-footer.bg-base-dark i { color: rgba(255, 255, 255, 0.70); }
.first-footer.bg-base-skin a:hover { color: var(--base-white) !important; }
.second-footer.bg-base-dark a:hover { color: var(--base-skin) !important; }

.footer .footer-logo {
    position: relative;
    margin-bottom: 24px;
}

/* first-footer */
.first-footer .footer-box {
    margin: 10px -15px 50px;
}
.first-footer .cmt-section {
    padding: 20px 37px 35px 40px;
    background-color: #162030;
    border-radius: 5px;
    position: relative;
}
.first-footer .cmt-section label {
    font-size: 16px;
}

/* second-footer */
.second-footer{padding: 52px 0 29px;}
.widget-area{position:relative;}
.second-footer .row .col-lg-2.widget-area:nth-child(2):after,
.second-footer .row .col-lg-4.widget-area:nth-child(4):after{
    width: 1px;
    height: 100%;
    content: '';
    position: absolute;
    left: 4px;
    background-color: rgba(255,255,255,.1);
    top: 0;
}
.second-footer .row .col-lg-4.widget-area:nth-child(4):after{
    left: 83px;
}

/* footer-nav-menu */
.footer-nav-menu {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.footer-nav-menu li:last-child {
    padding-right: 0;
}
.footer-nav-menu li {
    display: inline-block;
    padding-left: 2px;
    padding-right: 14px;
    font-size: 16px;
    padding-bottom: 0px;
    position: relative;
}
ul.footer-nav-menu li:after {
    position: absolute;
    content: "|";
    padding-left: 7px;
    top: 0;
}
ul.footer-nav-menu li:last-child:after {
  content: unset;
} 

/*cmt-recent-post-list*/
.footer .widget ul.cmt-recent-post-list>li {
    padding: 0 0 18px 0;
    border-top: 0;
    margin-bottom: 17px;
    overflow: hidden;
}
.footer .widget ul.cmt-recent-post-list>li .post-img ,
.footer .widget ul.cmt-recent-post-list>li> .post-detail {
    display: table-cell;
    vertical-align: top;
}
.footer .widget ul.cmt-recent-post-list>li .post-img img {
    display: block;
    width: 80px;
    float: left;
    margin-right: 18px;
    border: none;
}
.footer .widget ul.cmt-recent-post-list>li:last-child{
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
}
.footer .widget ul.cmt-recent-post-list>li> .post-detail a {
    font-weight: 600;
    font-size: 16px;
    position: relative;
    color: rgba(255, 255, 255, 0.70);
    font-family: var(--base-headingfont);
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.footer .widget ul.cmt-recent-post-list>li .post-date {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: var(--base-skin);
}
.footer .widget ul.cmt-recent-post-list>li .post-date i {
    margin-right: 4px;
    color: var(--base-skin);
}

/** widget_contact **/
ul.widget_contact_wrapper li {
    position: relative;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 25px;
    color: rgba(255,255,255,.70);
}
ul.widget_contact_wrapper li > p { 
    display: inline-block; 
    margin-bottom: 9px;
}
ul.widget_contact_wrapper li:last-child{
    border-bottom: 0;
    margin-bottom: 0;
}
ul.widget_contact_wrapper li > p a {
    display: inline-block;
    color: var(--base-white) !important;
    text-transform: lowercase;
}
ul.widget_contact_wrapper li i{
    position: absolute;
    left: 0;
    top: 2px;
    line-height: 1;
    font-size: 27px;
    font-weight: 400;
    color: var(--base-skin);
}
footer .g-map iframe {
    width: 100%;
    margin-top: 15px;
    filter: brightness( 91% ) contrast( 126% ) saturate( 0% ) blur( 0px ) hue-rotate( 0deg );
    border-radius: 5px;
}

/* newsletter-form */
.footer .widget .footer-subscribebox {
    display: table;
    width: 100%;
    padding: 29px 40px 37px;
    background-color: rgb(255 255 255/9%);
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    margin-top: 39px;
}
.footer .widget .footer-subscribebox:before {
    content: "\f104";
    font-family: 'flaticon';
    position: absolute;
    right: 1px;
    bottom: 0;
    left: auto;
    font-size: 142px;
    line-height: 120px;
    color: rgb(255 255 255/5%);
}
.widget .cmt-section p { color: rgba(255, 255, 255, 0.7); }
.newsletter_widget .widget-title { 
    margin-bottom: 10px !important;
}
.newsletter-form { 
    position: relative;
    margin-bottom: 0px;
    clear: both;
    display: inline-block;
    width: 100%;
}
.newsletter-form p{margin-bottom: 0px;}
.newsletter-form p.cookies{padding-top: 9px;}
.newsletter-form input[type="email"] {
    background-color: var(--base-dark);
    border-color: transparent;
    color: var(--base-white);
    padding: 11px 100px 11px 18px;
    font-size: 15px;
    line-height: 26px;
    border-radius: 0;
}
.newsletter-form button[type="submit"] {
    font-size: 14px;
    border: none;
    font-weight: 600;
    font-family: var(--base-headingfont);
    border-radius: 0;
    text-transform: uppercase;
    padding: 0;
    width: 90px;
    color: var(--base-white);
    background-color: var(--base-skin);
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 14px;
    height: 50px;
    line-height: 1;
    display: block;
    padding: 12px 32px 12px 32px;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.newsletter-form button[type="submit"] i { font-size: 17px; }

.newsletter-form .cmt-btn.cmt-btn-style-fill.cmt-btn-color-skincolor:hover {
    background-color: var(--base-white);
    border-color: var(--base-white);
    color: var(--base-skin);
}
.newsletter-form .cmt-btn.cmt-icon-shap.cmt-btn-style-fill:hover i{
    background-color: var(--base-skin);
    color: var(--base-white);
}

/* checkbox  */
.footer input[type=checkbox]{
  visibility: hidden;
  position: absolute;
}
.footer input[type=checkbox] + label{
  height: 15px;
  width: 15px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  border-radius: 4px;
  vertical-align: middle;
  margin-bottom: 0px;
  margin-right: 6px;
}
.footer input[type=checkbox] + label:before{
  height: 15px;
  width: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  content: " ";
  display:inline-block;
  vertical-align: top;
}
.footer input[type=checkbox]:checked + label:before{
  content: "";
  border: solid;
  border-color: var(--base-skin);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
  left: 3px;
  top: 0;
  width: 6px;
  height: 10px;
  background-color: transparent!important;
  border-radius: 0;
  position: relative;
  vertical-align: middle;
}

/*widget social*/
.second-footer.bg-base-dark .cmt-horizontal_sep{
    margin-top: 25px;
    margin-bottom: 35px;
}
.footer .widget.cmt-social-links-wrapper { 
    
}
.footer .social-icons li {
    margin: 0;
    min-width: 23px;
}
.footer .social-icons li a {
    width: 33px;
    height: 33px;
    line-height: 33px;
    margin: 0 7px 0 0px;
    text-align: center;
    display: block;
    background-color: transparent;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.70) !important;
    border: 1px solid rgba(255, 255, 255 , 0.20);
}
.footer .social-icons li a:hover {
    background-color: var(--base-skin);
    color: var(--base-white);
    border-color: var(--base-skin);
}
.footer .social-icons li a:hover i{
    color: var(--base-white);
}
.footer .widget .widget-title { 
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 25px;
}
.footer .widget ul{
    list-style: none;
    margin: 0 0;
    padding: 0 0;
}

/* bottom-footer-text */
.bottom-footer-text.bg-base-dark {  
    text-align: center;
    border-top: 1px solid rgba(255,255,255,.08); 
}

/** widget_nav_menu **/
.widget.widget_nav_menu {
    padding-left: 40px;
}
.footer .widget.widget_nav_menu ul > li:first-child,
.footer .widget.link-widget ul > li:first-child {
    padding-top: 0px;
}
.footer .widget.widget_nav_menu ul > li,
.footer .widget.link-widget ul > li {
    padding: 8px 0px 7px 0;
}
.footer .widget.widget_nav_menu ul > li a,
.footer .widget.link-widget ul > li a{color: var(--base-white);}

/* multi_widget */
.widget.link-widget {
    padding-left: 30px;
}

/** copyright **/
.copyright{
    color: rgba(255,255,255,0.7);
    display: block;
    padding-top: 20px;
    padding-bottom: 22px;
    text-align: center;
}
.copyright span ,
.copyright span a { font-size: 14px; line-height: 26px; color: rgba(255,255,255,.75);}
.copyright span a:hover { color: var(--base-skin); }

/* ===============================================
    GoTop BUtton
------------------------*/
#totop{
    font-weight: 900;
    color: #fff;
    display: none;
    position: fixed;
    right: 34px;
    bottom: 50px;
    z-index: 999;
    height: 0;
    width: 0;
    font-size: 0;
    text-align: center;
    padding-top: 3px;
    line-height: 34px;
    border-radius: 3px;
    transition: .3s ease-in-out;
}
#totop.top-visible {
    height: 40px;
    width: 40px;
    font-size: 22px;
    display: inline;
    background-color: var(--base-skin);
}
@keyframes jump {
  0% { bottom: 20px; } 50% { bottom: 40px; } 100% { bottom: 20px; }
}
#totop.top-visible  {
  animation: jump 4s infinite;
}


/* ===============================================
    Page-Title-Row
------------------------*/
.cmt-page-title-row { 
    background-image: url(../images/pagetitle-bg.jpg);
    width: 100%;
    position: relative;
    z-index: 2;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.cmt-page-title-row.cmt-bg.cmt-bgimage-yes > .cmt-titlebar-wrapper-bg-layer{
    opacity: .01;
}
.cmt-page-title-row-inner {
    position: relative;
    width: 100%;
    height: 328px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.41);
    margin-bottom: 27px;
}
.cmt-page-title-row-heading{
    display: table;
    width: 100%;
}
.page-title-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.page-title-heading h2 {
    font-family: var(--base-headingfont);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 52px;
    line-height: 68px;
    margin-bottom: 9px;
    color: var(--base-white);
}
.page-title-heading .page-title-desc { color: rgba(255,255,255,.60); text-align: center; line-height: 24px;}
.breadcrumb-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -22px;
    text-align: center;
}
.breadcrumb-wrapper-inner {
    display: inline-block;
    padding: 10px 25px;
    background-color: var(--base-skin);
    position: relative;
    margin: auto;
}
.breadcrumb-wrapper-inner:before {
    content: '';
    background: var(--base-dark);
    height: 3px;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
}
.breadcrumb-wrapper span{
    font-weight: 400;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    color: var(--base-white);
}
.breadcrumb-wrapper span:not(:last-child) {
    padding-right: 16px;
}
.breadcrumb-wrapper span:not(:last-child) a{
    color: var(--base-white);
    text-transform: capitalize;
}
.breadcrumb-wrapper span:not(:last-child):after {
    position: absolute;
    content: "  -  ";
    width: 9px;
    height: 9px;
    right: 5px;
    display: inline-block;
    color: rgba(255, 255, 255, 1);
}

/*  ===============================================
    Homepage 
------------------------*/
.about-section .disc-inst { 
    width: 100%;
    padding: 60px 25px 55px;     
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: start; 
}
.about-section .disc-inst > p {
    font-weight: 800;
    font-size: 60px;
    line-height: 60px;
    color: var(--base-skin);
    margin-bottom: 0;
}
.disc-inst .offervtext {
    font-size: 28px;
    font-weight: 600;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin: 0 0 0 -12px;
}
.about-section .disc-inst h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 22px;
    margin-bottom: 36px;
}
.about-section .disc-inst a { 
    font-size: 15px;
    line-height: 1px;
    font-weight: 600;
    color: var(--base-white);
    text-transform: uppercase;
}
.about-section .layer-content h3 { 
    position: relative;
    font-size: 24px; 
    line-height: 34px;
    font-weight: 600;
    color: var(--base-white);
    margin-bottom: 12px;
    text-transform: uppercase;
    z-index: 2;
}
.about-section .layer-content h3 a { color: var(--base-white);  }
.about-section .layer-content:before {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(0deg,rgba(0,0,0,.5) 10%,transparent 60%);
    background: linear-gradient(0deg,rgba(0,0,0,.5) 10%,transparent 60%);
    content: '';
    z-index: 1;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
} 
.about-section .stethoscope-img img { 
    transform: scale(1.2) translateX(25px);
}
.progressbar-section .layer-content { padding: 76px 40px 0 0; }
.performance-section .layer-content { padding: 15px; }
.performance-section .layer-content .widget-wrap { position: relative; padding: 70px 15px 20px 17px; }
.performance-section .layer-content .heading-seperator { position: relative; margin-bottom: 25px;}
.performance-section .layer-content .heading-seperator h3 { font-size: 24px; line-height: 34px; margin-bottom: 2px; }
.performance-section .layer-content .heading-seperator span { font-size: 18px; }
.performance-section .layer-content .heading-seperator:before {
    content: '';
    height: 6px;
    width: 60px;
    position: absolute;
    top: -25px;
    left: 0;
    background: var(--base-skin);
    display: block;
    margin-bottom: 9px;
}
.performance-section .layer-content .list-title { 
    font-size: 16; 
    line-height: 1; 
    font-family: var(--base-bodyfont); 
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.cmt-list.style1 li { padding-left: 6px; }
.cmt-list.style1 li i {}
.performance-section .layer-content .performance-sec-btn { margin-top: 20px; }
.performance-section .layer-content .performance-sec-btn a { text-transform: uppercase;  }

.performance-section .layer-content .widget-wrap:before {
    content: "";
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    background: rgba(0,0,0,.05);
    -webkit-transform: scale(1,0);
    -ms-transform: scale(1,0);
    transform: scale(1,0);
    height: auto;
    width: auto;
}
.performance-section .layer-content:hover .widget-wrap:before { 
    opacity: 1;
    transition: all .5s ease;
    -webkit-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
}
.heading-section .section-title.bg-base-skin {
    margin-left: -133px;
    padding: 54px 15px 40px 133px;
}

/*  ===============================================
    Homepage - 02
------------------------*/
.custom-text { text-align: center }; 
.bg-base-dark .custom-text .cmt-textblock-button {
    color: var(--base-skin);
}
.bg-base-dark .custom-text .cmt-textblock-button:hover { color: var(--base-white); }
.custom-text .cmt-textblock-button { 
    padding: 9px 20px;
    background: var(--base-grey);
    display: inline-block;
    border: none;
    font-size: 15px;
    color: var(--base-dark);
    text-transform: uppercase;
    font-family: var(--base-headingfont);
    font-weight: 600;
} 
.custom-text .cmt-textblock-button:hover {
    color: var(--base-white);
    background-color: var(--base-skin);
}
.custom-text .cmt-textblock {
    padding: 0 30px 3px;
    background: var(--base-grey);
    display: inline-block;
    border: 1px solid #e7e7e7;
}
.custom-text .cmt-review {
    margin: 0 0 0 8px;
    font-weight: 600;
    border-bottom: 1px solid #e7e7e7;
    text-transform: capitalize;
}
.cmt-star .cmt-star-info {
    display: block; 
}
.cmt-star .cmt-star-info img {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}
.cmt-star .cmt-star-info .star-desc {
    display: inline-block;
    margin-bottom: 0;
}
.cmt-star .cmt-star-info .star-desc strong { position: relative; }
.cmt-star .cmt-star-info .star-desc strong:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--cmt-skincolor);
    bottom: 3px;
    left: 0;
    opacity: .5;
}
.cmt-leftborder-skin {
    border-left: 5px solid var(--base-skin);
    padding-left: 20px;
}
.cmt-text p { line-height: 36px; }


/*  ===============================================
    Homepage - 03
------------------------*/
.top-instruction { 
    position: relative;
    display: flex;
    align-items: center;
}
.top-instruction p { 
    font-size: 14px; 
    line-height: 26px; 
    margin-bottom: 0; 
    width: 80%; 
    margin: auto; 
}
.top-instruction p a { position: relative; font-size: 13px; line-height: 26px; font-family: var(--base-bodyfont); font-weight: 500; text-transform: capitalize; }
.top-instruction p a:after { content: ''; position: absolute; width: 100%; height: 1px; bottom: -1px; left: 0; background-color: var(--base-white); }
.top-instruction .text-close-btn { position: absolute; top: 50%; right: 15px; transform: translateY(-50%);}
.top-instruction .text-close-btn .text-close-btn-box { 
    position: relative; 
    right: 15px;
}
.top-instruction .text-close-btn span.close-icon { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.top-instruction .text-close-btn span i { 
    color: var(--base-white);
    font-size: 8px;
    line-height: 20px;
}
.top-instruction .text-close-btn span.close-icon:hover {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.service-section-3 .section-title h2.title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.service-section-3 .disc-inst { 
    width: 100%;
    padding: 48px 25px 40px; 
    border: 1px solid #e7e7e7;
    margin: -1px 0 0 -1px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: start;
}
.service-section-3 .disc-inst > p {
    font-weight: 800;
    font-size: 60px;
    line-height: 60px;
    color: var(--base-skin);
    margin-bottom: 0;
}
.disc-inst .offervtext {
    font-size: 28px;
    font-weight: 600;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin: 0 0 0 -12px;
}
.service-section-3 .disc-inst h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 22px;
    margin-bottom: 36px;
}
.service-section-3 .disc-inst a { 
    font-size: 15px;
    line-height: 1px;
    font-weight: 600;
    color: var(--base-white);
    text-transform: uppercase;
}
.service-section-3 .disc-inst a:hover {color: var(--base-skin); }
.cmt-servicebox {
    position: relative;
}
.cmt-servicebox:after {
    content: '';
    background-color: var(--base-grey) !important;
    display: block;
    width: 99.2%;
    height: 74%;
    position: absolute;
    top: 14.5%;
    left: -9.8%;
    z-index: -1;
}
.cmt-verline { position: relative; }
.cmt-verline:before {
    content: '';
    height: 275px;
    width: 2px;
    background-color: var(--base-skin);
    display: block;
    position: absolute;
    bottom: -160%;
    left: 1px;
}
.cmt-news-blog { overflow: hidden; }
.cmt-news-blog .number {
    color: var(--base-dark);
    font-family: var(--base-bodyfont);
    height: 45px;
    width: 45px;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
}
/* ===============================================
    Inner-Pages
------------------------*/

/*------------------------------------------------------------------------------*/
/*  About_us_one
/*------------------------------------------------------------------------------*/ 

.progressbar-section-3 .layer-content { padding: 76px 40px 0 0; }


/*------------------------------------------------------------------------------*/
/*  About_us_two
/*------------------------------------------------------------------------------*/ 

.cmt-leftborder-skin-2 {
    border-left: 10px solid var(--base-skin);
    padding-left: 30px;
}

/*------------------------------------------------------------------------------*/
/*  single_services
/*------------------------------------------------------------------------------*/ 
.cmt-service-single-content-area div:not(.featured-title) > h3 { font-size: 30px; line-height: 40px; }
.cmt-service-single-content-area p:not(:last-child) { margin-bottom: 25px; }
.cmt-service-single-content-area .cmt_fatured_image-wrapper { position: relative; border-radius: 5px; overflow: hidden;}
.cmt-service-single-content-area img { width: 100%; }


/*------------------------------------------------------------------------------*/
/*  Reaserch_Details
/*------------------------------------------------------------------------------*/ 
.icon-share-social { 
    position: relative;
    display: flex;
    justify-content: flex-end;
}
#hover-icon-share { 
    display: none ;
    margin-right: 20px;
}
.icon-share-social:hover #hover-icon-share { display: inline-block; }
#hover-icon-share ul.social-icons li a:last-child { margin-right: 0; }
button#icon-share-btn { background-color: var(--base-grey); border: 1px solid #e7e7e7; }
button#icon-share-btn i { color: var(--base-dark); font-weight: 800; }
button#icon-share-btn:hover{ background-color: var(--base-dark); border: 1px solid #e7e7e7; }
button#icon-share-btn:hover i { color: var(--base-white); }

/*------------------------------------------------------------------------------*/
/*  single_team
/*------------------------------------------------------------------------------*/ 
.cmt-team-member-single-content h3, .cmt-team-member-content h3 { 
    font-size: 30px; 
    line-height: 1; 
    margin-bottom: 20px;
}
.cmt-team-member-single-content .cmt-featured-wrapper img{
    margin-top: 40px;
    margin-bottom: 40px;
}
.cmt-team-member-detail {
    padding: 37px 30px 0;
    border-radius: 5px;
    background-color: var(--base-grey);
}
.cmt-team-member-detail .cmt-team-member-single-title {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 8px;
}
.cmt-team-member-detail .cmt-team-member-single-position {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--base-skin);
}
.cmt-team-member-detail .cmt-short-desc { margin: 12px 0 11px; }
.cmt-team-member-detail ul {
    margin: 0;
    padding: 0;
}
.cmt-team-details-list li {
    position: relative;
    font-size: 15px;
    line-height: 24px;
    display: block;
    padding: 7px 0 5px 0;
    width: 100%;
}
.cmt-team-details-list .cmt-team-list-title, 
.cmt-team-details-list .cmt-team-list-value,
.cmt-team-details-list .cmt-team-list-value a{
    display: inline-block;
    color: var(--body-font-color) !important;
}
.cmt-team-details-list .cmt-team-list-value a:hover {
    color: var(--base-skin) !important;
}
.cmt-team-details-list .cmt-team-list-title  {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: var(--base-dark) !important;
}
.cmt-team-member-detail .cmt-social-links-wrapper ul li a {
    display: block;
    font-size: 16px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    margin-right: 0;
    background-color: #fff;
}
.cmt-team-member-detail .cmt-social-links-wrapper ul li a:hover {
    background-color: var(--base-skin);
    color: var(--base-white);
}
.cmt-team-member-detail .cmt-social-links-wrapper {
    padding: 14px 0 10px;
}
.cmt-team-member-content { padding-top: 35px; }


/*------------------------------------------------------------------------------*/
/*  Project_Blog
/*------------------------------------------------------------------------------*/ 
.cmt-pf-detail-box { position: relative; }
.cmt-pf-detail-box .cmt_pf_image-wrapper { 
    border-radius: 10px;
    overflow: hidden;
}

.cmt-pf-single-detail-box {
    padding: 52px 0 0;
}
.cmt-pf-single-detail-box .cmt-pf-single-detail-box-title h4 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 15px;
}
.cmt-pf-single-detail-box ul{
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    margin-top: 0;
    padding-bottom: 32px;
    border-bottom: 1px solid #e6e9ef;
}
.cmt-pf-single-detail-box ul li {
    position: relative;
    display: block;
    padding: 15px 0 15px 0;
    position: relative;
    display: inline-block;
    padding: 15px 55px 0px 0;
}
.cmt-pf-single-detail-box ul li > span { 
    display: inline;
    font-size: 18px;
}
.cmt-pf-single-detail-box ul li > span:first-child {
    font-weight: 600;
    font-size: 18px;
    color: var(--base-skin);
}
.cmt-pf-single-detail-box ul li:last-child { padding-right: 0; }

.cmt-pf-single-content-area {
    padding-top: 15px;
}
.cmt-pf-single-content-area h2 {
    text-align: left;
    font-size: 32px;
    line-height: 1;
    margin-bottom: 25px;
}
.cmt-pf-single-content-area .social-media-block {
    display: block;
    clear: both;
    padding: 3px 0 25px;
    border-bottom: 1px solid #e6e9ef;
}
.cmt-pf-single-content-area .social-icons li>a {
    border: 1px solid #e7e7e7;
    background-color: transparent;
    height: 36px;
    width: 36px;
    line-height: 36px;
    text-align: center;
    display: block;
    font-size: 14px;
    border-radius: 5px;
    color: #676b72;
}
.cmt-pf-single-content-area .social-icons li>a:hover {
    border-color: var(--base-white);
    color: var(--base-white);
    background-color: var(--base-skin);
}
.cmt-pf-single-content-area .cmt-pf-single-category span {
    color: var(--base-skin);
    font-size: 15px;
    font-weight: 600;
}
.cmt-pf-single-content-area .cmt-pf-single-category a:not(:hover ) {
    color: inherit;
}
.cmt-nextprev-bottom-nav {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*------------------------------------------------------------------------------*/
/*  Classic_Blog
/*------------------------------------------------------------------------------*/
article.cmt-blog-classic {
    margin-bottom: 30px;
    padding-bottom: 0;
    border-radius: 5px;
    overflow: hidden;
}
article.cmt-blog-classic:last-child{ 
    margin-bottom: 15px;
}
article.cmt-blog-classic .cmt-post-featured-wrapper  { 
    position: relative; 
    overflow: hidden;
}
article.cmt-blog-classic .cmt-blog-classic-content{
    background: var(--base-grey);
    padding: 22px 30px 32px;
    z-index: 11;
    position: relative;
    display: block;
    border: 0;
    overflow: hidden;
    border-radius: 5px;
}
.cmt-blog-classic .cmt-box-post-cat{
    z-index: 1;
    top: 10px;
    left: 9px;
    font-size: 13px;
    font-weight: 500;
    width: auto;
    padding: 0 14px 2px;
    position: absolute;
    background-color: var(--base-skin);
    color: var(--base-white);
}
.cmt-blog-classic .cmt-box-post-cat a{
    color: var(--base-white);
}
.cmt-blog-classic .post-meta, .cmt-blog-single .post-meta {
    display: block;
    padding: 8px 0 11px;
}
.cmt-blog-classic .post-meta .cmt-meta-line, .cmt-blog-single .post-meta .cmt-meta-line {
    padding-right: 15px;
    position: relative;
    color: inherit;
}
.cmt-blog-classic .post-meta .cmt-meta-line a, 
.cmt-blog-single .post-meta .cmt-meta-line a { color: var(--body-font-color); }

.cmt-blog-classic .post-meta .cmt-meta-line:last-child{
    padding-right: 0;
}
.cmt-blog-classic .post-meta .cmt-meta-line i, .cmt-blog-single .post-meta .cmt-meta-line i {
    padding-right: 4px;
    color: var(--base-skin);
}
.cmt-blog-classic .entry-header .entry-title {
    font-size: 26px;
    line-height: 30px;
    position: relative;
    margin-bottom: 12px;
}

/*------------------------------------------------------------------------------*/
/*  Single_Blog
/*------------------------------------------------------------------------------*/
.cmt-blog-single .cmt-post-featured-wrapper {    
    overflow: hidden;
    margin-bottom: 20px;
}
.cmt-blog-single .post-meta{
    display: block;
    padding: 5px 0 5px 0;
}
.cmt-blog-single h3 {
    font-size: 24px;
    line-height: 36px;
    margin-top: 20px;
}
.cmt-blog-single p { margin-bottom: 20px; }
.cmt-blog-single blockquote {
    display: block;
    position: relative;
    padding: 32px 150px 18px 35px;
    border: none;
    border-radius: 0;
    color: var(--base-dark);
    overflow: hidden;
    margin: 25px auto 20px auto;
    background-color: var(--base-grey);
}
.cmt-blog-single .qoute-text > p { 
    font-weight: 600;
    font-size: 19px;
    line-height: 33px; 
    font-style: italic;
}
.cmt-blog-single blockquote:before {
    content: "\f117";
    font-family: flaticon;
    position: absolute;
    top: 18px;
    left: auto;
    right: 10px;
    z-index: 1;
    display: block;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    color: var(--base-skin);
}
.cmt-blog-single blockquote:after {
    content: " ";
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: #e2e2e2;
    position: absolute;
    top: -45px;
    right: -30px;
}
.cmt-blog-single .qoute-text > h3 {
    text-align: left;
    font-weight: 600;
    font-style: normal;
    font-size: 19px !important;
    font-family: var(--base-headingfont);
    text-transform: uppercase;
    margin-top: 14px;
    color: var(--base-dark);
}
.social-media-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}
.cmt-blog-single .cmt_tag_lists {
    font-size: 15px;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
}
.cmt-blog-single .cmt_tag_lists > .cmt-tags-links-title {
    font-weight: 600 !important;
    color: var(--base-dark);
}
.cmt-blog-single .social-media-block .cmt-tags-links a {
    background-color: var(--base-white);
    font-weight: 400;
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid #e7e7e7;
    margin:5px 8px 5px 0;
    text-transform: capitalize;
}
.cmt-blog-single .cmt-social-share-wrapper ul { 
    display: inline-flex;
    padding-top: 15px;
}
.cmt-blog-single .cmt-social-share-wrapper ul li {
    display: inline-block;
    padding: 4px 10px 5px 0;
}
.cmt-blog-single .cmt-social-share-wrapper ul li:last-child { padding-right: 0; }
.cmt-blog-single .cmt-social-share-wrapper ul li a {
    border: 1px solid transparent;
    padding: 0;
    width: 33px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    display: block;
    font-size: 15px;
    font-weight: 400;
    color: var(--base-white);
    border-radius: 0;
}
.cmt-blog-single .cmt-social-share-wrapper ul li.facebook a {
    background-color: #385da9;
}
.cmt-blog-single .cmt-social-share-wrapper ul li.twitter a {
    background-color: #3cf;
}
.cmt-blog-single .cmt-social-share-wrapper ul li.pinterest a {
    background-color: #bd081c;
}
.cmt-blog-single .cmt-social-share-wrapper ul li.linkedin a {
    background-color: #0073b1;
}
.cmt-blog-single .cmt-social-share-wrapper ul li a:hover {
    background-color: var(--base-skin);
}
.cmt-blog-single .cmt-blog-single-content .post-meta .cmt-meta-line.author { position: relative; }
.cmt-blog-single .cmt-blog-single-content .post-meta .cmt-meta-line.author:before {
    content: ' ';
    position: absolute;
    background-color: #e7e7e7;
    width: 1px;
    height: 100%;
    top: 0;
    right: 0;
}
.cmt-blog-single .cmt-blog-single-content .post-meta .cmt-meta-line.comment { padding-left: 12px; }

/*next-prev*/

.cmt-blog-single .cmt-post-prev-next-buttons {
    padding-bottom: 10px;
    padding-top: 46px;
    margin-left: -15px;
    margin-right: -15px;
}
.pagination-item.prev {
    position: relative;
    text-align: left;
}
.pagination-item.next {
    float: right;
}
.cmt-post-prev-next-buttons .pagination-img {
    display: table-cell;
    vertical-align: middle;
    width: 70px;
    border-radius: 0;
    overflow: hidden;
}
.cmt-post-prev-next-buttons .pagination-img img {
    height: auto;
    max-width: 100%;
}
.cmt-post-prev-next-buttons .pagination-content {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    text-transform: capitalize;
}
.pagination-item.prev .pagination-content {
    padding-left: 15px;
}
.pagination-item.next .pagination-content {
    padding-right: 15px;
    text-align: right;
}
.cmt-post-prev-next-buttons .pagination-content a span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cmt-post-prev-next-buttons span.cmt-nav-title {
    display: block;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--base-headingfont);
    text-transform: uppercase;
}

/*blog-comment*/
.comments-area {
    padding-top: 30px;
    margin-bottom: 0;
}
.comments-area h3.comment-reply-title{
    font-size: 29px;
    line-height: 36px;
    margin-bottom: 12px;
}
.comment-form textarea, .comment-form input[type="text"], 
.comment-form input[type="email"], .comment-form input[type="url"] {
    vertical-align: middle;
    width: 100%;
    color: var(--base-bodyfont-color);
    padding: 13px 20px;
    font-weight: 400;
    background-color: var(--base-grey);
    text-transform: inherit;
    border: 1px solid #e7e7e7;
    font-size: 16px;
    line-height: inherit;
}
.comments-area .comment-form .comment-form-author, 
.comments-area .comment-form .comment-form-email, 
.comments-area .comment-form .comment-form-url {
    position: relative;
    float: left;
    width: 32%;
    margin-right: 2%;
}
.comments-area .comment-form .comment-form-url {
    margin-right: 0;
}
.comments-area p { margin-bottom: 10px; }
.comment-form .comment-form-comment  ,
.comment-form .comment-form-author  ,
.comment-form .comment-form-email  ,
.comment-form  .comment-form-url { margin-bottom: 20px; }

/*------------------------------------------------------------------------------*/
/*  Contact_page
/*------------------------------------------------------------------------------*/ 
.cmt_contact_widget_wrapper {
    position: relative;
    z-index: 1;
    overflow: visible;
    clear: both;
    padding: 40px 30px;
    padding-left: 35px;
}
@media (min-width: 992px) {
    .cmt_contact_widget_wrapper:before {
        position: absolute;
        content: '';
        right: -20px;
        top: 46%;
        margin: 0 auto;
        border-bottom: 20px solid transparent;
        border-top: 20px solid transparent;
        border-left-width: 20px;
        border-left-style: solid;
        z-index: 9;
    }
}
.cmt_contact_widget_wrapper ul {
    padding: 0;
    margin: 0;
    z-index: 2;
    list-style: disc;
    clear: both;
    padding-left: 23px;
}
.cmt_contact_widget_wrapper li {
    margin-bottom: 25px;
    text-align: left;
    font-size: 22px;
    font-weight: 600;
}
.cmt_contact_widget_wrapper li h6 {
    text-align: left;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}
.cmt_contact_widget_wrapper li span {
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
}

/*------------------------------------------------------------------------------*/
/*  Error_page
/*------------------------------------------------------------------------------*/
section.error-404 {
    padding: 80px 0 100px;
    text-align: center;
}
section.error-404 .page-header h3 {   
    font-size: 44px;
    line-height: 54px;
    font-weight: 600;
    margin-bottom: 15px;
}
section.error-404 .cmt-404-img { margin-bottom: 90px; }
section.error-404 .page-content p { margin-bottom: 28px; }

.error404 .site-header-menu-inner.fixed-header {
    animation-name: menu_sticky;
    animation-duration: 0.30s;
    animation-timing-function: ease-in-out;
}

@keyframes menu_sticky {
    0%   {margin-top:-120px;opacity: 0;}
    50%  {margin-top: -64px;opacity: 0;}
    100% {margin-top: 0;opacity: 1;}
}


/*------------------------------------------------------------------------------*/
/*  Map
/*------------------------------------------------------------------------------*/   
#map { display: block; height: 220px; width: 100%; }
#map iframe {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    filter: brightness( 91% ) contrast( 126% ) saturate( 0% ) blur( 0px ) hue-rotate( 0deg );
    border-radius: 5px;
}

/*------------------------------------------------------------------------------*/
/*  Team_Details
/*------------------------------------------------------------------------------*/

.cmt-post-item-popup .text-close-btn-2 { position: relative; }
.cmt-post-item-popup .text-close-btn-2 .text-close-btn-box-2 { 
    position: relative; 
    right: 15px;
}
.cmt-post-item-popup .text-close-btn-2 span.close-icon-2 { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.cmt-post-item-popup .text-close-btn-2 span i { 
    color: var(--base-dark);
    font-size: 24px;
    line-height: 40px;
}
.cmt-post-item-popup {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    transform: scale(0);
    transition: all .5s ease;
    background: rgba(0,0,0,.8);
}
.cmt_item_popup_details {
    width: 63%;
    margin: 0 auto;
    background-color: var(--base-white);
    z-index: 9999;
    position: relative;
    padding: 15px 55px;
    top: 14%;
    overflow: hidden;
}
.cmt-post-item-popup.model-open {
    transform: scale(1);
    transition: all .5s ease;
}

@media (max-width: 1200px) {
.cmt-post-item-popup {
    background: rgba(0,0,0,.8);
}

@media (max-width: 1199px) {
.cmt_item_popup_details {
    width: 83%;
}