{{define "main"}}
<!-- page-title -->
<div class="cmt-page-title-row">
    <div class="cmt-page-title-row-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-heading">
                        <h2 class="title">Peripheral Angioplast</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-wrapper-inner">
                        <span>
                            <a title="Homepage" href="index.html">Home</a>
                        </span>
                        <!-- <span>
                            <a title="blog.html" href="blog-single.html#">Blog</a>
                        </span> -->
                        <!-- <span>
                            <a title="Special surgeon" href="blog-single.html">Special surgeon</a>
                        </span> -->
                        <span>Peripheral Angioplast</span>
                    </div>
                </div>
            </div>
        </div>
    </div>                   
</div>
<!-- page-title end -->

<!-- site-main start -->
<div class="site-main">

    <!--grid-section-->
    <div class="cmt-row sidebar clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content-area">
                        <article class="post cmt-blog-single clearfix">
                        <div class="cmt-post-featured-wrapper cmt-featured-wrapper">
                            <div class="cmt-post-featured">
                                <img width="1170" height="524" class="img-fluid" src="images/blog/blog-09.jpg" alt="blog-09">
                            </div>
                        </div>
                        <div class="cmt-blog-single-content">
                            <div class="cmt-post-entry-header">
                                <div class="post-meta">
                                    <span class="cmt-meta-line author">By <a href="blog-single.html#">Admin</a></span>
                                    <span class="cmt-meta-line comment"><a href="blog-single.html#">0 Comments</a></span>
                                </div>
                            </div>
                            <div class="entry-content">
                                <div class="cmt-box-desc-text">

                                    <h3>what is Peripheral angioplast</h3>

                                    <p>When a person develops peripheral artery disease (PAD), the extremities — usually the legs — don't receive enough blood flow to keep up with the body’s needs. This causes symptoms, most notably leg pain when walking (intermittent claudication).</p>

                                    <h3>when to get it done</h3>
                                    <p>Your doctor may suggest angioplasty and stenting if you have peripheral artery disease (PAD), which can cause: Chronic pain in your legs. Heavy feeling in your legs. Limitations to your daily activities.</p>
                                    <h3>how is it performed</h3>
                                    <p>
                                        Peripheral angioplasty is a minimally invasive procedure. These procedures are performed in a cardiovascular catheterization laboratory, under local anesthesia. An IV (intravenous line) into the arm or hand will 
                                        provide medication to make the procedure as comfortable as possible. A catheter is inserted into a blood vessel in the upper thigh (groin). Using high-resolution fluoroscopic (X-ray) video and film equipment, 
                                        the catheter is guided through to the peripheral artery that is being treated. Once the catheter is in place the balloon is inflated and the narrowed peripheral artery is stretched open. The fatty plaque or 
                                        blockage is pressed against the peripheral artery walls enlarging the diameter of the peripheral artery. After the blocked area of the peripheral artery is widened the balloon is deflated and removed. Blood 
                                        flowing through the peripheral artery is increased, supplying blood to the heart.
                                    </p>
                                    <h3>Contact us today</h3>
                                    <p>If you experience any of these symptoms, call us immediately. Every minute you spend without treatment increases your risk of long-term damage</p>
                                    
                                    <blockquote>
                                        <div class="qoute-text">
                                            <p>Cardio technology strategy and the roadmap to implement that? The leaders are owning loream their own data, refreshing it constantly and, more importantly, You are nothing witout your set ,care set  injury using it to inform the business decisions.
                                            </p>
                                            <h3>Garreth Mills, Founder</h3>
                                        </div>
                                    </blockquote>

                                    <!-- <div class="row">
                                        <div class="col-md-4 col-sm-4 col-6 res-575-pr-5">
                                            <div class="cmt_single_image-wrapper">
                                                <img class="img-fluid" src="images/single-img-19.png" width="369" height="245" alt="single-img-19.png">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-6 res-575-pl-5">
                                            <div class="cmt_single_image-wrapper">
                                                <img class="img-fluid" src="images/single-img-20.png" width="369" height="245" alt="single-img-20.png">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-12 res-575-pt-10">
                                            <div class="cmt_single_image-wrapper">
                                                <img class="img-fluid" src="images/single-img-21.png" width="369" height="245" alt="single-img-21.png">
                                            </div>
                                        </div>
                                    </div> -->

                                    <div class="social-media-block">
                                        <div class="cmt_tag_lists">
                                            <span class="cmt-tags-links-title pr-15">Tags:</span>
                                            <span class="cmt-tags-links"><a href="services-1.html">Heart</a><a href="services-1.html">Neurosurgery</a></span>
                                        </div>
                                        <div class="cmt-social-share-wrapper">
                                            <ul class="social-icons pt-0">
                                                <li class="facebook"><a href="https://www.facebook.com/cymolthemes.191219" rel="noopener" aria-label="facebook"><i class="icon-facebook"></i></a></li>
                                                <li class="twitter"><a href="https://twitter.com/CymolThemes" rel="noopener" aria-label="twitter"><i class="icon-twitter"></i></a></li>
                                                <li class="pinterest"><a href="https://in.pinterest.com/cymolthemes/_saved/" rel="noopener" aria-label="pinterest"><i class="icon-pinterest"></i></a></li>
                                                <li class="linkedin"><a href="https://www.behance.net/cymolthemes191219" rel="noopener" aria-label="linkedin"><i class="icon-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cmt-horizontal_sep mt-20"></div>
                        <!-- <div class="row cmt-post-prev-next-buttons clearfix">
                            <div class="col-sm-6">
                                <div class="pagination-item prev cmt-postwith-img">
                                    <div class="pagination-img">
                                        <a href="blog-single.html#">
                                            <img class="img-fluid" src="images/blog-prev.jpg" width="150" height="150" alt="blog-prev.jpg">                           
                                        </a>
                                     </div>
                                     <div class="pagination-content">
                                     <a href="blog-single.html#"><span class="cmt-nav-sub">Previous Post </span> </a>
                                        <a href="blog-single.html#"><span class="cmt-nav-title"> 5 Ways to Overcome Your Stumbling Blocks to a Healthy Heart </span></a>                       
                                     </div>
                                 </div>
                             </div>
                             <div class="col-sm-6 res-575-mt-20">
                                 <div class="pagination-item next cmt-postwith-img">
                                     <div class="pagination-content">
                                        <a href="blog-single.html#"><span class="cmt-nav-sub">Next Post </span></a>
                                         <a href="blog-single.html#"><span class="cmt-nav-title"> After His Heart Stopped, Patient Grateful He Received CPR </span></a>
                                     </div>
                                     <div class="pagination-img">
                                        <a href="blog-single.html#">
                                         <img class="img-fluid" src="images/blog-next.jpg" width="150" height="150" alt="blog-next.jpg"></a>
                                     </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="cmt-blog-classic-box-comment clearfix">
                            <div id="comments" class="comments-area">
                                <div class="comment-respond">
                                    <h3 class="comment-reply-title">Leave a Reply</h3>
                                    <p class="comment-notes">Your email address will not be published. </p>
                                    <form action="blog-single.html#" method="post" id="commentform" class="comment-form">
                                        <p class="comment-form-comment">
                                            <textarea id="comment" placeholder="Comment" name="comment" cols="45" rows="4" aria-required="true"></textarea>
                                        </p>
                                        <p class="comment-form-author">
                                            <input id="author" placeholder="Name (required)" name="author" type="text" value="" size="30" aria-required="true">
                                        </p>
                                        <p class="comment-form-email">
                                            <input id="email" placeholder="Email (required)" name="email" type="text" value="" size="30" aria-required="true">
                                        </p>
                                        <p class="comment-form-url">
                                            <input id="url" placeholder="Website" name="url" type="text" value="" size="30">
                                        </p>
                                        <p class="comment-cookies">
                                            <input id="comment-cookies-consent" name="comment-cookies-consent" type="checkbox" value="yes" class="me-1">
                                            <label for="comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label>
                                        </p>
                                        <p class="form-submit mt-45 mb-0 res-991-mt-30">
                                            <button class="submit cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-style-fill cmt-btn-color-dark" type="submit">Post Comment</button>
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--grid-section end-->

</div><!-- site-main end-->
{{end}}