{{ define "main"}}
<!-- page-title -->
<div class="cmt-page-title-row">
    <div class="cmt-page-title-row-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-heading">
                        <h2 class="title">Coronory Heart Disease</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-wrapper-inner">
                        <span>
                            <a title="Homepage" href="index.html">Home</a>
                        </span>
                        <span>Coronory Heart Disease</span>
                    </div>
                </div>
            </div>
        </div>
    </div>                   
</div>
<!-- page-title end -->

<!-- site-main start -->
<div class="site-main">

    <section class="cmt-row clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content-area">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="cmt_single_image-wrapper">
                                            <img class="img-fluid" src="images/single-img-12.png" width="570" height="436" alt="single-img-12.png">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 res-575-pt-30">
                                        <div class="cmt_single_image-wrapper">
                                            <img class="img-fluid" src="images/single-img-13.png" width="570" height="436" alt="single-img-13.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-25">
                                    <h3 class="fs-24 mb-10">Problem statement</h3>
                                    <p>Coronary artery disease (CAD), also called coronary heart disease (CHD), ischemic heart disease (IHD),[13] myocardial ischemia,[14] or simply heart disease, involves the reduction of blood flow to the heart muscle due to build-up of atherosclerotic plaque in the arteries of the heart.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mt-10 mb-40 res-991-mb-30">
                                    <h3 class="fs-24 mb-10">Symptoms</h3>
                                    <p>Chest pain (angina)<br>
                                        Shortness of breath<br>
                                        Fatigue<br>
                                        Heart attack</p>
                                </div>
                                <div class="mt-10 mb-40 res-991-mb-30">
                                    <h3 class="fs-24 mb-10">How to Recognize?</h3>
                                    <p>Diagnostic tests may include:<br>
                                        Electrocardiogram (ECG or EKG). An ECG is a quick and painless test that records the electrical signals in the heart.<br>
                                        Holter monitoring. ...<br>
                                        Echocardiogram. ...<br>
                                        Exercise tests or stress tests. ...<br>
                                        Cardiac catheterization. ...<br>
                                        Heart (cardiac) CT scan. ...<br>
                                        Heart (cardiac) magnetic resonance imaging (MRI) scan.</p>
                                </div>
                                <div class="mt-10 mb-40 res-991-mb-30">
                                    <h3 class="fs-24 mb-10">When to see a doctor?</h3>
                                    <p>If you experience any of these symptoms, call us immediately. Every minute you spend without treatment increases your risk of long-term damage</p>
                                </div>
                                <div class="mt-10 mb-40 res-991-mb-30">
                                    <h3 class="fs-24 mb-10">Make an appointment</h3>
                                    <p>If you experience any of these symptoms, call us immediately. Every minute you spend without treatment increases your risk of long-term damage</p>
                                </div>
                                <div class="cmt-tabs cmt-tab-style-02 clearfix">
                                    <ul class="tabs">
                                        <li class="tab active"><a href="a-cardiac-lead-extraction.html#"><i class="fa fa-check-circle" aria-hidden="true"></i><span>Beyond Your Expect</span></a></li>
                                        <li class="tab"><a href="a-cardiac-lead-extraction.html#"><i class="fa fa-check-circle" aria-hidden="true"></i><span>Nuclear Stress Test</span></a></li>
                                        <li class="tab"><a href="a-cardiac-lead-extraction.html#"><i class="fa fa-check-circle" aria-hidden="true"></i><span>Cardiac Lead Extraction </span></a></li>
                                    </ul>
                                    <div class="content-tab">
                                        <!-- content-inner -->
                                        <div class="content-inner active">
                                            <div class="">
                                                <img class="img-fluid" src="images/single-img-14.jpg" width="968" height="552" alt="single-img-14.jpg">
                                            </div>
                                        </div><!-- content-inner end-->
                                        <!-- content-inner -->
                                        <div class="content-inner">
                                            <div class="">
                                                <img class="img-fluid" src="images/single-img-15.jpg" width="968" height="552" alt="single-img-15.jpg">
                                            </div>
                                        </div><!-- content-inner end-->
                                        <!-- content-inner -->
                                        <div class="content-inner">
                                            <div class="">
                                                <img class="img-fluid" src="images/single-img-16.jpg" width="968" height="552" alt="single-img-16.jpg">
                                            </div>
                                        </div><!-- content-inner end-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mt-25">
                                    <h3 class="fs-24 mb-10">Modeling data increase to endovascular therapy.</h3>
                                    <p>You are nothing witout your set eyes care set injury magna consectr elit, do eiusmod tempor incididunt or ut labore aree eyecare dolore aliqua.aliqua. Utse set injury magna consectr.thing witout your set eyes care set injury magna consectr elit, do eiusmod tempor incididunt or utlabore areas disecare.</p>
                                </div>
                                <div class="row pt-10">
                                    <div class="col-lg-12">
                                        <div class="accordion">
                                            <!-- toggle -->
                                            <div class="toggle cmt-toggle_style_default">
                                                <div class="toggle-title"><a href="a-cardiac-lead-extraction.html#" class="active">Our Technicians believe in the value that give you high quality of technology</a></div>
                                                <div class="toggle-content show">
                                                    <p>You are nothing witout your set eyes care set injury magna consectr elit, do eiuscididunt or utYou are nothing witout your set eyes care set injury magna consectr elit, do eiuscididunt or ut labore areas disease eyecare dolore aliqua. Ut enim ad et miniYou are nothing witout your set eyes care set injury magna consectr elit, do eiuscididunt or ut labore areas disease eyecare dolore aliqua.</p>
                                                </div>
                                            </div><!-- toggle end -->
                                            <!-- toggle -->
                                            <div class="toggle cmt-toggle_style_default">
                                                <div class="toggle-title"><a href="a-cardiac-lead-extraction.html#">the value that give you high quality of technology for cardiology</a></div>
                                                <div class="toggle-content">
                                                    <p>You are nothing witout your set eyes care set injury magna consectr elit, do eiuscididunt or utYou are nothing witout your set eyes care set injury magna consectr elit, do eiuscididunt or ut labore areas disease eyecare dolore aliqua. Ut enim ad et miniYou are nothing witout your set eyes care set injury magna consectr elit, do eiuscididunt or ut labore areas disease eyecare dolore aliqua. </p>
                                                </div>
                                            </div><!-- toggle end -->
                                            <!-- toggle -->
                                            <div class="toggle cmt-toggle_style_default">
                                                <div class="toggle-title"><a href="a-cardiac-lead-extraction.html#">Expert Nursing facility give us doctor on home service</a></div>
                                                <div class="toggle-content">
                                                    <p>You are nothing witout your set eyes care set injury magna consectr elit, do eiuscididunt or utYou are nothing witout your set eyes care set injury magna consectr elit, do eiuscididunt or ut labore areas disease eyecare dolore aliqua. Ut enim ad et miniYou are nothing witout your set eyes care set injury magna consectr elit, do eiuscididunt or ut labore areas disease eyecare dolore aliqua. </p>
                                                </div>
                                            </div><!-- toggle end -->
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div><!-- site-main end-->
{{end}}