{{define "main"}}
<!-- page-title -->
<div class="cmt-page-title-row">
    <div class="cmt-page-title-row-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-heading">
                        <h2 class="title">Rotablation</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-wrapper-inner">
                        <span>
                            <a title="Homepage" href="index.html">Home</a>
                        </span>
                        <!-- <span>
                            <a title="blog.html" href="blog-single.html#">Blog</a>
                        </span> -->
                        <!-- <span>
                            <a title="Special surgeon" href="blog-single.html">Special surgeon</a>
                        </span> -->
                        <span>Rotablation</span>
                    </div>
                </div>
            </div>
        </div>
    </div>                   
</div>
<!-- page-title end -->

<!-- site-main start -->
<div class="site-main">

    <!--grid-section-->
    <div class="cmt-row sidebar clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content-area">
                        <article class="post cmt-blog-single clearfix">
                        <div class="cmt-post-featured-wrapper cmt-featured-wrapper">
                            <div class="cmt-post-featured">
                                <img width="1170" height="524" class="img-fluid" src="images/blog/blog-09.jpg" alt="blog-09">
                            </div>
                        </div>
                        <div class="cmt-blog-single-content">
                            <div class="cmt-post-entry-header">
                                <div class="post-meta">
                                    <span class="cmt-meta-line author">By <a href="blog-single.html#">Admin</a></span>
                                    <span class="cmt-meta-line comment"><a href="blog-single.html#">0 Comments</a></span>
                                </div>
                            </div>
                            <div class="entry-content">
                                <div class="cmt-box-desc-text">
                                    <h3>what is Rotablation</h3>
                                    <p>Rotational Atherectomy is a therapy performed with a small rotating cutting blade which is used to open a blocked artery and revamp the flow of blood to or from the heart. Often a stent (a tiny tube composed of metal mesh) is inserted in the artery to keep it from re-narrowing</p>
                                    <h3>how is it performed</h3>
                                    <p>"This is where a guide wire is passed into an artery in your heart that has become narrowed by a build- up of plaque.
                                        A tiny balloon is inserted along the wire and then inflated to squash the plaque to the sides and improve the flow of blood through this section of the narrowed artery. This is often followed by the insertion of a metal mesh, called a stent, which holds the artery open after the balloon is withdrawn."</p>
                                    <h3>Contact us today</h3>
                                    <p>If you experience any of these symptoms, call us immediately. Every minute you spend without treatment increases your risk of long-term damage</p>
                                    <!-- <blockquote>
                                        <div class="qoute-text">
                                            <p>Cardio technology strategy and the roadmap to implement that? The leaders are owning loream their own data, refreshing it constantly and, more importantly, You are nothing witout your set ,care set  injury using it to inform the business decisions.
                                            </p>
                                            <h3>Garreth Mills, Founder</h3>
                                        </div>
                                    </blockquote> -->

                                    <!-- <div class="row">
                                        <div class="col-md-4 col-sm-4 col-6 res-575-pr-5">
                                            <div class="cmt_single_image-wrapper">
                                                <img class="img-fluid" src="images/single-img-19.png" width="369" height="245" alt="single-img-19.png">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-6 res-575-pl-5">
                                            <div class="cmt_single_image-wrapper">
                                                <img class="img-fluid" src="images/single-img-20.png" width="369" height="245" alt="single-img-20.png">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-12 res-575-pt-10">
                                            <div class="cmt_single_image-wrapper">
                                                <img class="img-fluid" src="images/single-img-21.png" width="369" height="245" alt="single-img-21.png">
                                            </div>
                                        </div>
                                    </div> -->

                                    <div class="social-media-block">
                                        <div class="cmt_tag_lists">
                                            <span class="cmt-tags-links-title pr-15">Tags:</span>
                                            <span class="cmt-tags-links"><a href="services-1.html">Heart</a><a href="services-1.html">Neurosurgery</a></span>
                                        </div>
                                        <div class="cmt-social-share-wrapper">
                                            <ul class="social-icons pt-0">
                                                <li class="facebook"><a href="https://www.facebook.com/cymolthemes.191219" rel="noopener" aria-label="facebook"><i class="icon-facebook"></i></a></li>
                                                <li class="twitter"><a href="https://twitter.com/CymolThemes" rel="noopener" aria-label="twitter"><i class="icon-twitter"></i></a></li>
                                                <li class="pinterest"><a href="https://in.pinterest.com/cymolthemes/_saved/" rel="noopener" aria-label="pinterest"><i class="icon-pinterest"></i></a></li>
                                                <li class="linkedin"><a href="https://www.behance.net/cymolthemes191219" rel="noopener" aria-label="linkedin"><i class="icon-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cmt-horizontal_sep mt-20"></div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--grid-section end-->

</div><!-- site-main end-->
{{end}}