{{ define "main"}}
<!-- site-main start -->
<div class="site-main">

  <!--error-404 start-->
  <section class="error-404">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="text-center">
                      <header class="page-header">
                          <div class="title-with-img">
                              <div class="cmt-404-img">
                                  <img class="img-fluid" src="{{.Site.Params.notFoundImage | absURL}}" width="754" height="450" alt="error-404">
                              </div>
                          </div>
                          <h3>Page Not Found</h3>
                      </header>
                      <div class="page-content"><p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p></div>
                      <a class="cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-style-fill cmt-btn-color-dark" href="index.html">Back To Home</a>
                  </div>
              </div>
          </div>
      </div>
  </section><!--error-404 end-->

</div><!-- site-main end-->
{{end}}