{{ define "main" }}
    <div class="cmt-page-title-row">
        <div class="cmt-page-title-row-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-title-heading">
                            <h2 class="title">{{.Title}}</h2>
                            <p class="page-title-desc">{{.Description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-wrapper-inner">
                            <span>
                                <a title="Homepage" href="{{.Site.BaseURL}}">Home</a>
                            </span>
                            <span>{{.Title}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>                   
    </div>

{{ with .Site.Data.latesttechniques}}
    <!-- site-main start -->
    <div class="site-main">
        <!-- service-section -->
        <section class="cmt-row service-section-4 bg-img5 bg-base-grey clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- section title -->
                        <div class="section-title title-style-center_text">
                            <div class="title-header">
                                <h3>{{.whatwedo}}</h3>
                                <span></span>
                                <h2 class="title">{{.desc | safeHTML}} </h2>
                            </div>
                        </div><!-- section title end -->
                    </div>
                </div>
                <div class="row pt-30">
                    {{range .data}}
                        <div class="col-lg-4 col-md-6">
                            <div class="featured-icon-box icon-align-top-content style13">
                                <div class="featured-icon">
                                    <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor">
                                        <i class="{{.icon}}"></i>
                                    </div>
                                </div>
                                <div class="featured-content">
                                    <div class="featured-title">
                                        <h3><a href="{{.url | absURL}}">{{.subject}}</a></h3>
                                    </div>
                                    <div class="featured-desc">
                                        <p>{{.desc}}</p>
                                    </div>
                                </div>
                                <div class="fetured-bottom">
                                    <a href="{{.url | absURL}}" class="cmt-icon">
                                        <i class="flaticon flaticon-exit"></i>
                                    </a>
                                </div>
                            </div >
                        </div>
                    {{end}}
                    <div class="col-lg-4 col-md-6">
                        <div class="cmt_single_image-wrapper">
                            <img width="370" height="316" class="img-fluid" src="{{.image1}}" alt="single-11">
                        </div>
                    </div>
                </div>
            </div>
        </section>
{{end}}
        <section class="cmt-row padding_zero-section bg-base-grey clearfix">
            {{partial "testimonial.html" .}}
        </section>
    </div>
{{end}}