{{ define "main" }}
<!-- page-title -->
<div class="cmt-page-title-row">
    <div class="cmt-page-title-row-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-heading">
                        <h2 class="title">{{.Title}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-wrapper-inner">
                        <span>
                            <a title="Homepage" href="/">Home</a>
                        </span>
                        <span>
                            <a title="Latest Techniques" href="/latest-techniques">Latest Techniques</a>
                        </span>
                        <span>{{.Title}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>                   
</div>
<!-- page-title end -->


<!-- site-main start -->
<div class="site-main">

    <!-- project-details-section -->
    <section class="cmt-row project-details-section clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ttm_single_image-wrapper mt-30">
                        <div class="mb-40 res-991-mb-30 res-991-mt-30">
                            {{partial "shareandappointment.html" . }}
                        </div>
                    </div>
                    <div class="ttm_single_image-wrapper">
                        <img class="img-fluid" src="{{.Params.image1 | relURL}}" width="541" height="329" alt="single-img-17">
                    </div>
                    <div class="ttm_single_image-wrapper mt-30">
                        <img class="img-fluid" src="{{.Params.image2 | relURL}}" width="543" height="320" alt="single-img-18">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative">
                        {{ $input  := index (split .Page.RelPermalink "/") 2 }}
                        {{ with .Site.Data.latesttechniques}}

                        {{if eq $input "rotablation"}}
                            {{range .rotablation}}
                                <div class="mb-40 res-991-mb-30 res-991-mt-30">
                                    <h3 class="fs-26 mb-30 res-991-mb-20">{{.title}}</h3>
                                    <p class="">{{.desc | safeHTML}}</p>
                                </div>
                            {{end}}
                        {{end}}

                        {{if eq $input "elca"}}
                            {{range .elca}}
                                <div class="mb-40 res-991-mb-30 res-991-mt-30">
                                    <h3 class="fs-26 mb-30 res-991-mb-20">{{.title}}</h3>
                                    <p class="">{{.desc | safeHTML}}</p>
                                </div>
                            {{end}}
                        {{end}}

                        {{if eq $input "ivl"}}
                            {{range .ivl}}
                                <div class="mb-40 res-991-mb-30 res-991-mt-30">
                                    <h3 class="fs-26 mb-30 res-991-mb-20">{{.title}}</h3>
                                    <p class="">{{.desc | safeHTML}}</p>
                                </div>
                            {{end}}      
                        {{end}}

                        {{if eq $input "intracoronary-imaging"}}
                            {{range .intracoronaryImaging}}
                                <div class="mb-40 res-991-mb-30 res-991-mt-30">
                                    <h3 class="fs-26 mb-30 res-991-mb-20">{{.title}}</h3>
                                    <p class="">{{.desc | safeHTML}}</p>
                                </div>
                            {{end}}
                        {{end}}

                        {{if eq $input "tavr"}}
                            {{range .tavr}}
                                <div class="mb-40 res-991-mb-30 res-991-mt-30">
                                    <h3 class="fs-26 mb-30 res-991-mb-20">{{.title}}</h3>
                                    <p class="">{{.desc | safeHTML}}</p>
                                </div>
                            {{end}}
                        {{end}}

                        {{if eq $input "tmvr"}}
                            {{range .tmvr}}
                                <div class="mb-40 res-991-mb-30 res-991-mt-30">
                                    <h3 class="fs-26 mb-30 res-991-mb-20">{{.title}}</h3>
                                    <p class="">{{.desc | safeHTML}}</p>
                                </div>
                            {{end}}
                        {{end}}

                        {{if eq $input "mitraclip"}}
                            {{range .mitraclip}}
                                <div class="mb-40 res-991-mb-30 res-991-mt-30">
                                    <h3 class="fs-26 mb-30 res-991-mb-20">{{.title}}</h3>
                                    <p class="">{{.desc | safeHTML}}</p>
                                </div>
                            {{end}}
                        {{end}}

                        {{end}}
                        {{partial "shareandappointment.html" . }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project-details-section-end -->

</div><!-- site-main end-->
{{ end }}