{{define "main"}}
<section class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{.Title}}</h1>
        
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ .Site.BaseURL }}">Home</a></li>
            <li class="breadcrumb-item active">{{.Title}}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<section class="blog">
  <div class="container">
    <div class="row">
      {{ range .Paginator.Pages }}
      <div class="col-lg-4">
        <article class="blog-post">
          <img src="{{ .Params.featureImage | absURL }}" alt="blog-images">
          <div class="blog-content">
            <h3><a href="{{ .Permalink }}">{{ .Title}}</a></h3>
            <p> {{truncate 100 .Summary}} </p>
            <a class="more" href="{{ .Permalink }}">Read more <span>⟶</span></a>
          </div>
        </article>
      </div>
      {{end}}
      <div class="col-12">
        <div class="blog-pagination">
          {{partial "pagination.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}