{{ define "main"}}
<!-- page-title -->
<div class="cmt-page-title-row">
  <div class="cmt-page-title-row-inner">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="page-title-heading">
                      <h2 class="title">about us</h2>
                      <!-- <p class="page-title-desc">Lorem ipsum dolor sit at, consetempor incididunt ut labore et<br>pendisse ultrices gravida.</p> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="breadcrumb-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb-wrapper-inner">
              <span>
                  <a title="Homepage" href="/">Home</a>
              </span>
              <span>about us</span>
          </div>
      </div>
  </div>
  </div>
  </div>                   
</div>
<!-- page-title end -->

{{ with .Site.Data.about}}
<!-- site-main start -->
<div class="site-main">

  <!-- about section -->
  <section class="cmt-row about-section-4 clearfix">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="cmt_single_image-wrapper">
                      <img class="img-fluid" src="{{.image1}}" width="551" height="611" alt="single-img-09">
                  </div>
              </div>
              <div class="col-lg-6 res-991-pt-50 align-self-end">
                  <div class="row">
                      <div class="col-lg-12">
                          <!-- section title -->
                          <div class="section-title">
                              <div class="title-header">
                                  <h3>About Dr.Raghu Kishore Galla </h3>
                                  <h2 class="title">trust Dr.Raghu Kishore Galla for Your loveD Ones</h2>
                              </div>
                              <div class="title-desc mt-10 res-991-mt-0">
                                  <p>Dr.Raghu Kishore Galla is Consultant Cordiologist Practising at Krishna Institute of Medical Science (KIMS) hospital, Secunderabad,Telangana. He Has an Experience with most of the interventions,Dr.Raghu Kishore Galla is Currently Practising in KIMS Hospital Secunderabad </p>
                              </div>
                          </div>
                          <!-- section title end -->
                      </div>
                  </div>
                  <div class="mt-10 res-991-mt-0">
                      <p>State Nodal Officer, STEMI-Telangana at National Health mission & State program officer, eICU (electronic ICU) Program, Govt. of Telangana Consultant Interventional Cardiologist at KIMS Hospitals, Secunderabad</p>
                  </div>
                  <div class="mt-50 res-991-mt-30">
                      <div class="row row-equal-height g-0">
                          <div class="col-sm-6 align-self-stretch cmt-leftborder-skin-2 bg-base-grey">
                              <h3 class="mb-0 d-flex align-items-center res-575-pt-30 res-575-pb-30">The Heart care Heart best technology.</h3>
                          </div>
                          <div class="col-sm-6 justify-content-center justify-content-sm-start res-575-mt-30 bg-base-white">
                              <img class="img-fluid" src="{{.image2}}" width="257" height="120" alt="single-img-09">
                          </div>
                      </div>
                  </div>
                  <div class="mt-50 text-center text-sm-start">
                      <a class="cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-style-border cmt-btn-color-dark" href="/contact">MAKE AN APPOINTMENT</a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- about section end-->

  <!-- coverimgbox section -->
  <section class="cmt-row padding_zero-section coverimgbox-section clearfix">
      <div class="container-fluid p-0">
          <!-- row --> 
          <div class="row g-0 p-0">
              <div class="tm_coverimgbox_wrapper">
                {{range .data}}
                  <div class="tm_coverbox_contents">
                      <div class="featured-content">
                          <div class="featured-title">
                              <h3>{{.title}}</h3>
                          </div>
                          <div class="featured-desc">
                              <p>{{.description}}</p>
                          </div>
                      </div>
                      <div class="coverbox-img-reposive">
                          <img width="1920" height="700" class="img-fluid" src="{{.image}}" alt="images">
                      </div>
                  </div>
                  <div class="tm_coverbox_img active">
                      <div class="tm_box_overlay"></div>
                      <div class="tm-stepbox-imagebox">
                          <div class="tm-ptable-icon-type-image">
                              <img width="1920" height="700" class="img-fluid" src="{{.image}}" alt="images">
                          </div>
                      </div>
                  </div>
                {{end}} 
              </div>
          </div><!-- row end -->
      </div>
  </section>
  <!-- coverimgbox section end-->

  <!-- who we are section -->
  <section class="cmt-row clearfix">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 position-relative z-index-3">
                  <div class="bg-base-dark spacing-16">
                      <!-- section-title -->
                      <div class="section-title">
                          <div class="title-header">
                              <h3 class="text-white">Who We Are</h3>
                              <span></span>
                              <h2 class="title">Few Reason Why You<br>Should Choose Us</h2>
                          </div>
                          <div class="title-desc">
                              <p>Dr. Raghu Kishore Galla is committed for providing quality patient care A commitment to highest patient care services </p>
                          </div>
                      </div>
                      <!-- section-title-end-->
                  </div>
              </div>
          </div>
          <div class="row spacing-17">
              <div class="col-lg-12">
                  <div class="cmt-bg cmt-col-bgimage-yes cmt-col-bgcolor-yes col-bg-img-thirteen bg-base-grey spacing-18">
                      <div class="cmt-col-wrapper-bg-layer cmt-bg-layer">
                          <div class="cmt-col-wrapper-bg-layer-inner"></div>
                      </div>
                      <div class="layer-content">
                        {{range .whoweare}}
                          <div class="featured-icon-box icon-align-before-content style12">
                              <div class="featured-icon">
                                  <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor">
                                      <i class="{{.icon}}"></i>
                                  </div>
                              </div>
                              <div class="featured-content">
                                  <div class="number"></div>
                                  <div class="featured-title">
                                      <h3><a href="{{.url}}">{{.title}}</a></h3>
                                  </div>
                                  <div class="featured-desc">
                                      <p>{{.description}}</p>
                                  </div>
                              </div>
                          </div>
                        {{end}}
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- who we are section end-->

  <section class="cmt-row padding_zero-section bg-base-grey clearfix">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="cmt-bg cmt-col-bgimage-yes cmt-left-span col-bg-img-fourteen spacing-19">
                      <div class="cmt-col-wrapper-bg-layer cmt-bg-layer"></div>
                      <div class="layer-content"></div>
                  </div>
                  <img class="cmt-equal-height-image" src="{{.image3}}" alt="col-bgimage-14">
              </div>
              <div class="col-lg-6">
                  <!-- section-title -->
                  <div class="section-title pt-115 pl-20 res-991-pt-50 res-991-pb-50 res-991-mb-0 res-991-mt-0 res-991-pl-0">
                      <div class="title-header text-center text-lg-start">
                          <h3>Testimonails</h3>
                          <h2 class="title res-991-mb-0">What our clients say<br>about cardiology</h2>
                      </div>
                  </div>
                  <!-- section-title-end-->
              </div>
          </div>
      </div>
  </section>
  {{partial "clients"}}
  <!-- testimonial section -->
  <section class="cmt-row padding_zero-section testimonial-section-3 clearfix p-3">
      <div class="container">
          <div class="row">
              <div class="col-lg-5"></div>
              <div class="col-lg-7">
                  <div class="bg-base-skin spacing-20 position-relative z-index-3">
                      <div class="row slick_slider" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "arrows":false, "dots":false, "autoplay":false, "infinite":true, "responsive": [{"breakpoint":1024,"settings":{"slidesToShow": 1}}, {"breakpoint":992,"settings":{"slidesToShow": 1}}, {"breakpoint":768,"settings":{"slidesToShow": 1}}, {"breakpoint":576,"settings":{"slidesToShow": 1}}]}'>
                        {{range .testimonial}}
                          <div class="col-lg-12">
                              <!-- testimonials -->
                              <div class="testimonials style2"> 
                                  <div class="testimonial-content">
                                      <blockquote class="testimonial-text">{{.description}}</blockquote>
                                      <div class="d-flex flex-row align-items-start">
                                          <div class="testimonial-bottom">
                                              <div class="testimonial-avatar">
                                                  <div class="testimonial-img">
                                                      <img class="img-fluid" src="{{.image}}" alt="testimonial-img" width="60" height="60">
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="testimonial-caption">
                                              <h3>{{.author}}</h3>
                                              <!-- <label> - Diabetics</label> -->
                                          </div>
                                      </div>
                                  </div>
                              </div><!-- testimonials end -->
                          </div>
                        {{end}}
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- testimonial section end-->

  <!-- blog section -->
  <!-- {{ partial "blog.html" . }} -->
  <!-- blog section end -->

</div><!-- site-main end-->
{{end}}
{{end}}